div {
  -dls-uploader-font-size-s: 12px;
  -dls-uploader-font-size-m: 14px;
  -dls-uploader-helper-text-spacing-file: 8px;
  -dls-uploader-helper-text-spacing-media: 12px;
  -dls-uploader-helper-text-font-color: #848b99;
  -dls-uploader-helper-text-max-width-media: 10em;
  -dls-uploader-file-item-spacing-y: 12px;
  -dls-uploader-file-item-padding-x: 4px;
  -dls-uploader-file-item-label-spacing-before: 4px;
  -dls-uploader-file-item-label-spacing-after: 8px;
  -dls-uploader-file-item-width: 256px;
  -dls-uploader-file-item-height: 20px;
  -dls-uploader-file-item-background-color: transparent;
  -dls-uploader-file-item-background-color-hover: #f6f7fa;
  -dls-uploader-file-item-font-color: #282c33;
  -dls-uploader-file-item-icon-color: #848b99;
  -dls-uploader-foreground-color-error: #cc1800;
  -dls-uploader-foreground-color-success: #00bf5c;
  -dls-uploader-media-border-color-error: #cc1800;
  -dls-uploader-media-height-m: 160px;
  -dls-uploader-media-height-s: 80px;
  -dls-uploader-media-width-m: 160px;
  -dls-uploader-media-width-s: 80px;
  -dls-uploader-media-icon-size-m: 40px;
  -dls-uploader-media-icon-size-s: 20px;
  -dls-uploader-media-icon-color: #848b99;
  -dls-uploader-media-padding-x-m: 12px;
  -dls-uploader-media-padding-x-s: 8px;
  -dls-uploader-media-content-spacing-m: 12px;
  -dls-uploader-media-content-spacing-s: 12px;
  -dls-uploader-mask-icon-color: #fff;
  -dls-uploader-mask-icon-spacing: 12px;
  -dls-uploader-mask-padding-y: 4px;
  -dls-uploader-mask-padding-x: 12px;
  -dls-uploader-mask-background-color: rgba(0, 0, 0, 0.6);
  -dls-uploader-media-entry-spacing: 24px;
  -dls-uploader-media-entry-content-spacing: 8px;
  -dls-uploader-media-entry-icon-size: calc(1em + 2px);
  -dls-uploader-media-spacing-x: 16px;
  -dls-uploader-media-spacing-y: 24px;
  -dls-uploader-media-error-spacing: 4px;
  -dls-uploader-media-preview-min-width: 240px;
  -dls-uploader-media-preview-max-width: 480px;
}
