div {
  -dls-link-font-size-s: 12px;
  -dls-link-font-size-m: 14px;
  -dls-link-font-weight: 400;
  -dls-link-font-weight-hover: 400;
  -dls-link-font-weight-active: 400;
  -dls-link-font-color-normal: #333;
  -dls-link-font-color-normal-hover: #666;
  -dls-link-font-color-normal-active: #000;
  -dls-link-font-color-strong: #3d88f2;
  -dls-link-font-color-strong-hover: #66a3ff;
  -dls-link-font-color-strong-active: #2970cc;
}
