div {
  -dls-link-font-size-s: 12px;
  -dls-link-font-size-m: 14px;
  -dls-link-text-decoration: none;
  -dls-link-text-decoration-hover: underline;
  -dls-link-text-decoration-focus: underline;
  -dls-link-text-decoration-active: underline;
  -dls-link-font-color-normal: #333;
  -dls-link-font-color-normal-hover: #666;
  -dls-link-font-color-normal-focus: #666;
  -dls-link-font-color-normal-active: #000;
  -dls-link-font-color-normal-disabled: #ccc;
  -dls-link-font-color-strong: #3d88f2;
  -dls-link-font-color-strong-hover: #66a3ff;
  -dls-link-font-color-strong-focus: #66a3ff;
  -dls-link-font-color-strong-active: #2970cc;
  -dls-link-font-color-strong-disabled: #b3cfff;
}
