div {
  -dls-radio-font-size-s: 12px;
  -dls-radio-font-size-m: 14px;
  -dls-radio-font-color: #282c33;
  -dls-radio-size-s: 14px;
  -dls-radio-size-m: 16px;
  -dls-radio-spacing: 8px;
  -dls-radio-dot-size-s: 6px;
  -dls-radio-dot-size-m: 6px;
  -dls-radio-border-color: #d3d9e6;
  -dls-radio-border-color-hover: #a8b0bf;
  -dls-radio-border-color-focus: #0052cc;
  -dls-radio-border-color-active: #a8b0bf;
  -dls-radio-border-color-disabled: #ebedf5;
  -dls-radio-border-color-checked: transparent;
  -dls-radio-border-color-checked-hover: transparent;
  -dls-radio-border-color-checked-focus: #0052cc;
  -dls-radio-border-color-checked-active: transparent;
  -dls-radio-border-color-checked-disabled: transparent;
  -dls-radio-background-color: #fff;
  -dls-radio-background-color-hover: #ebedf5;
  -dls-radio-background-color-focus: #ebedf5;
  -dls-radio-background-color-active: #d3d9e6;
  -dls-radio-background-color-disabled: #f6f7fa;
  -dls-radio-background-color-checked: #0052cc;
  -dls-radio-background-color-checked-hover: #0066ff;
  -dls-radio-background-color-checked-focus: #0066ff;
  -dls-radio-background-color-checked-active: #0045ad;
  -dls-radio-background-color-checked-disabled: #e0edff;
  -dls-radio-dot-color: #fff;
  -dls-radio-dot-color-hover: #fff;
  -dls-radio-dot-color-focus: #fff;
  -dls-radio-dot-color-active: #fff;
  -dls-radio-dot-color-disabled: #fff;
  -dls-radio-shadow-focus: 0 0 0 2px rgba(0, 102, 255, 0.2);
  -dls-radio-group-spacing: 48px;
}
