div {
  -dls-radio-font-size-s: 12px;
  -dls-radio-font-size-m: 14px;
  -dls-radio-font-color: #333;
  -dls-radio-size-s: 14px;
  -dls-radio-size-m: 16px;
  -dls-radio-spacing: 8px;
  -dls-radio-dot-size-s: 6px;
  -dls-radio-dot-size-m: 8px;
  -dls-radio-border-color: #ccc;
  -dls-radio-border-color-hover: #999;
  -dls-radio-border-color-focus: #3d88f2;
  -dls-radio-border-color-active: #999;
  -dls-radio-border-color-disabled: #eee;
  -dls-radio-border-color-checked: #3d88f2;
  -dls-radio-border-color-checked-hover: #66a3ff;
  -dls-radio-border-color-checked-focus: #3d88f2;
  -dls-radio-border-color-checked-active: #2970cc;
  -dls-radio-border-color-checked-disabled: #d9e6ff;
  -dls-radio-background-color: #fff;
  -dls-radio-background-color-hover: #f5f5f5;
  -dls-radio-background-color-focus: #f5f5f5;
  -dls-radio-background-color-active: #eee;
  -dls-radio-background-color-disabled: #fafafa;
  -dls-radio-background-color-checked: #fff;
  -dls-radio-background-color-checked-hover: #fff;
  -dls-radio-background-color-checked-focus: #f2f7ff;
  -dls-radio-background-color-checked-active: #fff;
  -dls-radio-background-color-checked-disabled: #f2f7ff;
  -dls-radio-dot-color: #3d88f2;
  -dls-radio-dot-color-hover: #66a3ff;
  -dls-radio-dot-color-focus: #3d88f2;
  -dls-radio-dot-color-active: #2970cc;
  -dls-radio-dot-color-disabled: #d9e6ff;
  -dls-radio-shadow-focus: 0 0 0 2px rgba(61, 136, 242, 0.2);
  -dls-radio-group-spacing: 48px;
}
