div {
  -dls-uploader-font-size-s: 12px;
  -dls-uploader-font-size-m: 14px;
  -dls-uploader-helper-text-spacing-file: 8px;
  -dls-uploader-helper-text-spacing-image: 12px;
  -dls-uploader-helper-text-font-color: #999;
  -dls-uploader-helper-text-max-width-image: 10em;
  -dls-uploader-file-item-spacing-y: 12px;
  -dls-uploader-file-item-padding-x: 4px;
  -dls-uploader-file-item-label-spacing-before: 4px;
  -dls-uploader-file-item-label-spacing-after: 8px;
  -dls-uploader-file-item-width: 256px;
  -dls-uploader-file-item-height: 20px;
  -dls-uploader-file-item-background-color: transparent;
  -dls-uploader-file-item-background-color-hover: #f5f5f5;
  -dls-uploader-file-item-font-color: #333;
  -dls-uploader-error-color: #e64552;
  -dls-uploader-success-color: #39bf45;
  -dls-uploader-image-height: 120px;
  -dls-uploader-image-width: 120px;
  -dls-uploader-image-icon-size: 40px;
  -dls-uploader-image-padding-x: 12px;
  -dls-uploader-image-content-spacing: 8px;
  -dls-uploader-mask-icon-color: #fff;
  -dls-uploader-mask-icon-spacing: 12px;
  -dls-uploader-mask-padding-y: 4px;
  -dls-uploader-mask-padding-x: 12px;
  -dls-uploader-mask-opacity: 0.6;
  -dls-uploader-image-spacing-x: 16px;
  -dls-uploader-image-spacing-y: 24px;
  -dls-uploader-image-error-spacing: 4px;
  -dls-uploader-image-preview-min-width: 240px;
  -dls-uploader-image-preview-max-width: 480px;
}
