div {
  -dls-cascader-column-min-width: @dls-cascader-column-min-width;
  -dls-cascader-option-padding-xs: @dls-cascader-option-padding-xs;
  -dls-cascader-option-padding-s: @dls-cascader-option-padding-s;
  -dls-cascader-option-padding-m: @dls-cascader-option-padding-m;
  -dls-cascader-option-padding-l: @dls-cascader-option-padding-l;
  -dls-cascader-header-padding-y: @dls-cascader-header-padding-y;
  -dls-cascader-footer-padding-y: @dls-cascader-footer-padding-y;
}
