div {
  -dls-tag-height-s: 24px;
  -dls-tag-height-m: 28px;
  -dls-tag-border-radius-s: 2px;
  -dls-tag-border-radius-m: 4px;
  -dls-tag-padding: 8px;
  -dls-tag-content-spacing: 8px;
  -dls-tag-list-spacing: 4px;
  -dls-tag-font-size-s: 12px;
  -dls-tag-font-size-m: 14px;
  -dls-tag-icon-size-aux: 1.2em;
  -dls-tag-font-color: #282c33;
  -dls-tag-font-color-selected: #fff;
  -dls-tag-font-color-info: #0052cc;
  -dls-tag-font-color-success: #00cc63;
  -dls-tag-font-color-warning: #ff9100;
  -dls-tag-font-color-error: #cc1800;
  -dls-tag-font-color-reversed: #fff;
  -dls-tag-background-color: #ebedf5;
  -dls-tag-background-color-selected: #0052cc;
  -dls-tag-background-color-info: #0052cc;
  -dls-tag-background-color-success: #00cc63;
  -dls-tag-background-color-warning: #ff9100;
  -dls-tag-background-color-error: #cc1800;
  -dls-tag-font-opacity-disabled: 0.3;
  -dls-tag-font-opacity-selected-disabled: 1;
  -dls-tag-font-opacity-reversed-disabled: 1;
  -dls-tag-background-opacity: 0.1;
  -dls-tag-background-opacity-hover: 0.2;
  -dls-tag-background-opacity-active: 0.3;
  -dls-tag-background-opacity-disabled: 0.1;
  -dls-tag-background-opacity-selected: 1;
  -dls-tag-background-opacity-selected-hover: 0.6;
  -dls-tag-background-opacity-selected-active: 0.8;
  -dls-tag-background-opacity-selected-disabled: 0.1;
  -dls-tag-background-opacity-reversed: 1;
  -dls-tag-background-opacity-reversed-hover: 0.6;
  -dls-tag-background-opacity-reversed-active: 0.8;
  -dls-tag-background-opacity-reversed-disabled: 0.1;
  -dls-tag-border-opacity: 0.2;
  -dls-tag-border-opacity-disabled: 0.1;
}
