div {
  -dls-tag-height-s: 24px;
  -dls-tag-height-m: 28px;
  -dls-tag-border-radius-s: 2px;
  -dls-tag-border-radius-m: 2px;
  -dls-tag-padding: 8px;
  -dls-tag-content-spacing: 8px;
  -dls-tag-list-spacing: 4px;
  -dls-tag-font-size-s: 12px;
  -dls-tag-font-size-m: 14px;
  -dls-tag-icon-size: calc(1em - 4px);
  -dls-tag-font-color: #333;
  -dls-tag-font-color-disabled: #ccc;
  -dls-tag-background-color: #f5f5f5;
  -dls-tag-background-color-hover: #eee;
  -dls-tag-background-color-focus: #eee;
  -dls-tag-background-color-active: #e0e0e0;
  -dls-tag-background-color-disabled: #fafafa;
  -dls-tag-border-color: #e0e0e0;
  -dls-tag-border-color-focus: #3d88f2;
  -dls-tag-border-color-disabled: #eee;
  -dls-tag-shadow-focus: 0 0 0 2px rgba(61, 136, 242, 0.2);
  -dls-tag-font-color-selected: #fff;
  -dls-tag-background-color-selected: #3d88f2;
  -dls-tag-background-color-selected-hover: #66a3ff;
  -dls-tag-background-color-selected-focus: #66a3ff;
  -dls-tag-background-color-selected-active: #2970cc;
  -dls-tag-background-color-selected-disabled: #d9e6ff;
  -dls-tag-border-color-selected: transparent;
  -dls-tag-border-color-selected-focus: #3d88f2;
  -dls-tag-border-color-selected-disabled: transparent;
  -dls-tag-shadow-selected-focus: 0 0 0 2px rgba(61, 136, 242, 0.2);
  -dls-tag-font-color-add: #3d88f2;
  -dls-tag-font-color-info: #3d88f2;
  -dls-tag-background-color-info: #f2f7ff;
  -dls-tag-border-color-info: #8cb8ff;
  -dls-tag-font-color-success: #39bf45;
  -dls-tag-background-color-success: #f2fff4;
  -dls-tag-border-color-success: #7ed988;
  -dls-tag-font-color-warning: #f27c49;
  -dls-tag-background-color-warning: #fff7f2;
  -dls-tag-border-color-warning: #ffb894;
  -dls-tag-font-color-error: #e64552;
  -dls-tag-background-color-error: #fff2f2;
  -dls-tag-border-color-error: #ff9499;
  -dls-tag-font-color-reversed: #fff;
  -dls-tag-background-color-info-reversed: #3d88f2;
  -dls-tag-background-color-success-reversed: #39bf45;
  -dls-tag-background-color-warning-reversed: #f27c49;
  -dls-tag-background-color-error-reversed: #e64552;
}
