div {
  -dls-table-column-min-width: calc(3em + 16px);
  -dls-table-cell-border-color: #ebedf5;
  -dls-table-header-border-color: #d3d9e6;
  -dls-table-border-color-dragging: #d3d9e6;
  -dls-table-padding-x: 16px;
  -dls-table-cell-padding-x: 8px;
  -dls-table-cell-padding-y: 12px;
  -dls-table-cell-padding-y-compact: 8px;
  -dls-table-cell-padding-y-loose: 16px;
  -dls-table-cell-content-spacing: 4px;
  -dls-table-cell-background-color: #fff;
  -dls-table-cell-background-color-hover: #f6f7fa;
  -dls-table-cell-font-color: rgba(13, 15, 18, 0.95);
  -dls-table-header-padding-x: 8px;
  -dls-table-header-padding-y: 12px;
  -dls-table-header-padding-y-compact: 8px;
  -dls-table-header-padding-y-loose: 16px;
  -dls-table-header-background-color: #ebedf5;
  -dls-table-header-background-color-hover: #e2e6f0;
  -dls-table-header-font-weight: 500;
  -dls-table-header-font-color: rgba(13, 15, 18, 0.95);
  -dls-table-sub-row-background-color: #f6f7fa;
  -dls-table-sub-row-background-color-hover: #ebedf5;
  -dls-table-font-size-s: 12px;
  -dls-table-font-size-m: 14px;
  -dls-table-border-radius-s: 4px;
  -dls-table-border-radius-m: 4px;
  -dls-table-icon-size: calc(1em + 2px);
  -dls-table-icon-size-aux: calc(1em + 2px);
  -dls-table-header-icon-color: rgba(83, 101, 138, 0.5);
  -dls-table-header-icon-color-hover: rgba(73, 86, 107, 0.8);
  -dls-table-header-icon-color-active: rgba(46, 52, 64, 0.9);
  -dls-table-header-icon-color-disabled: rgba(102, 146, 222, 0.15);
  -dls-table-overflow-shadow-top: none;
  -dls-table-overflow-shadow-right: 0 1px 8px rgba(0, 0, 0, 0.06), 0 7px 14px 2px rgba(0, 0, 0, 0.05), 0 8px 16px 4px rgba(0, 0, 0, 0.04);
  -dls-table-overflow-shadow-bottom: none;
  -dls-table-overflow-shadow-left: 0 1px 8px rgba(0, 0, 0, 0.06), 0 7px 14px 2px rgba(0, 0, 0, 0.05), 0 8px 16px 4px rgba(0, 0, 0, 0.04);
  -dls-table-body-height-no-data: 108px;
  -dls-table-action-spacing: 16px;
  -dls-table-filter-action-padding-y: 16px;
  -dls-table-filter-action-spacing: 16px;
}
