div {
  -dls-table-column-min-width: @dls-table-column-min-width;
  -dls-table-cell-border-color: @dls-table-cell-border-color;
  -dls-table-header-border-color: @dls-table-header-border-color;
  -dls-table-border-color-dragging: @dls-table-border-color-dragging;
  -dls-table-padding-x: @dls-table-padding-x;
  -dls-table-cell-padding-x: @dls-table-cell-padding-x;
  -dls-table-cell-padding-y: @dls-table-cell-padding-y;
  -dls-table-cell-padding-y-compact: @dls-table-cell-padding-y-compact;
  -dls-table-cell-padding-y-loose: @dls-table-cell-padding-y-loose;
  -dls-table-cell-content-spacing: @dls-table-cell-content-spacing;
  -dls-table-cell-background-color: @dls-table-cell-background-color;
  -dls-table-cell-background-color-hover: @dls-table-cell-background-color-hover;
  -dls-table-cell-font-color: @dls-table-cell-font-color;
  -dls-table-header-padding-x: @dls-table-header-padding-x;
  -dls-table-header-padding-y: @dls-table-header-padding-y;
  -dls-table-header-padding-y-compact: @dls-table-header-padding-y-compact;
  -dls-table-header-padding-y-loose: @dls-table-header-padding-y-loose;
  -dls-table-header-background-color: @dls-table-header-background-color;
  -dls-table-header-background-color-hover: @dls-table-header-background-color-hover;
  -dls-table-header-font-weight: @dls-table-header-font-weight;
  -dls-table-header-font-color: @dls-table-header-font-color;
  -dls-table-sub-row-background-color: @dls-table-sub-row-background-color;
  -dls-table-sub-row-background-color-hover: @dls-table-sub-row-background-color-hover;
  -dls-table-font-size-s: @dls-table-font-size-s;
  -dls-table-font-size-m: @dls-table-font-size-m;
  -dls-table-border-radius-s: @dls-table-border-radius-s;
  -dls-table-border-radius-m: @dls-table-border-radius-m;
  -dls-table-icon-size: @dls-table-icon-size;
  -dls-table-icon-size-aux: @dls-table-icon-size-aux;
  -dls-table-header-icon-color: @dls-table-header-icon-color;
  -dls-table-header-icon-color-hover: @dls-table-header-icon-color-hover;
  -dls-table-header-icon-color-active: @dls-table-header-icon-color-active;
  -dls-table-header-icon-color-disabled: @dls-table-header-icon-color-disabled;
  -dls-table-overflow-shadow-top: @dls-table-overflow-shadow-top;
  -dls-table-overflow-shadow-right: @dls-table-overflow-shadow-right;
  -dls-table-overflow-shadow-bottom: @dls-table-overflow-shadow-bottom;
  -dls-table-overflow-shadow-left: @dls-table-overflow-shadow-left;
  -dls-table-body-height-no-data: @dls-table-body-height-no-data;
  -dls-table-action-spacing: @dls-table-action-spacing;
  -dls-table-filter-action-padding-y: @dls-table-filter-action-padding-y;
  -dls-table-filter-action-spacing: @dls-table-filter-action-spacing;
}
