div {
  -dls-transfer-font-size-s: @dls-transfer-font-size-s;
  -dls-transfer-font-size-m: @dls-transfer-font-size-m;
  -dls-transfer-border-radius-s: @dls-transfer-border-radius-s;
  -dls-transfer-border-radius-m: @dls-transfer-border-radius-m;
  -dls-transfer-padding-x: @dls-transfer-padding-x;
  -dls-transfer-header-content-spacing-1: @dls-transfer-header-content-spacing-1;
  -dls-transfer-header-content-spacing-2: @dls-transfer-header-content-spacing-2;
  -dls-transfer-content-padding-y: @dls-transfer-content-padding-y;
  -dls-transfer-item-height-s: @dls-transfer-item-height-s;
  -dls-transfer-item-height-m: @dls-transfer-item-height-m;
  -dls-transfer-item-content-spacing: @dls-transfer-item-content-spacing;
  -dls-transfer-content-min-height-s: @dls-transfer-content-min-height-s;
  -dls-transfer-content-min-height-m: @dls-transfer-content-min-height-m;
  -dls-transfer-panel-width-s: @dls-transfer-panel-width-s;
  -dls-transfer-panel-width-m: @dls-transfer-panel-width-m;
  -dls-transfer-panel-spacing: @dls-transfer-panel-spacing;
  -dls-transfer-header-height-s: @dls-transfer-header-height-s;
  -dls-transfer-header-height-m: @dls-transfer-header-height-m;
  -dls-transfer-header-background-color: @dls-transfer-header-background-color;
  -dls-transfer-header-font-color: @dls-transfer-header-font-color;
  -dls-transfer-header-font-weight: @dls-transfer-header-font-weight;
  -dls-transfer-header-button-font-weight: @dls-transfer-header-button-font-weight;
  -dls-transfer-border-color: @dls-transfer-border-color;
  -dls-transfer-item-background-color: @dls-transfer-item-background-color;
  -dls-transfer-item-background-color-hover: @dls-transfer-item-background-color-hover;
  -dls-transfer-item-background-color-focus: @dls-transfer-item-background-color-focus;
  -dls-transfer-item-background-color-active: @dls-transfer-item-background-color-active;
  -dls-transfer-item-background-color-disabled: @dls-transfer-item-background-color-disabled;
  -dls-transfer-item-font-color: @dls-transfer-item-font-color;
  -dls-transfer-item-font-color-hover: @dls-transfer-item-font-color-hover;
  -dls-transfer-item-font-color-focus: @dls-transfer-item-font-color-focus;
  -dls-transfer-item-font-color-active: @dls-transfer-item-font-color-active;
  -dls-transfer-item-font-color-disabled: @dls-transfer-item-font-color-disabled;
}
