div {
  -dls-radio-font-size-s: 12px;
  -dls-radio-font-size-m: 14px;
  -dls-radio-font-color: rgba(13, 15, 18, 0.95);
  -dls-radio-font-color-disabled: rgba(83, 98, 128, 0.5);
  -dls-radio-size-s: 14px;
  -dls-radio-size-m: 16px;
  -dls-radio-dot-size-s: 6px;
  -dls-radio-dot-size-m: 6px;
  -dls-radio-spacing: 8px;
  -dls-radio-border-color: #d3d9e6;
  -dls-radio-border-color-hover: #a8b0bf;
  -dls-radio-border-color-focus: #0054e6;
  -dls-radio-border-color-active: #a8b0bf;
  -dls-radio-border-color-disabled: #e2e6f0;
  -dls-radio-border-color-checked: transparent;
  -dls-radio-border-color-checked-hover: transparent;
  -dls-radio-border-color-checked-focus: #0054e6;
  -dls-radio-border-color-checked-active: transparent;
  -dls-radio-border-color-checked-disabled: transparent;
  -dls-radio-background-color: #fff;
  -dls-radio-background-color-hover: #ebedf5;
  -dls-radio-background-color-focus: #ebedf5;
  -dls-radio-background-color-active: #d3d9e6;
  -dls-radio-background-color-disabled: #f6f7fa;
  -dls-radio-background-color-checked: #0054e6;
  -dls-radio-background-color-checked-hover: #1a6eff;
  -dls-radio-background-color-checked-focus: #1a6eff;
  -dls-radio-background-color-checked-active: #0047c4;
  -dls-radio-background-color-checked-disabled: #dce9ff;
  -dls-radio-dot-color: #fff;
  -dls-radio-dot-color-hover: #fff;
  -dls-radio-dot-color-focus: #fff;
  -dls-radio-dot-color-active: #fff;
  -dls-radio-dot-color-disabled: #fff;
  -dls-radio-shadow-focus: 0 0 0 2px rgba(26, 110, 255, 0.2);
  -dls-radio-group-spacing: 24px;
  -dls-radio-group-spacing-simple: 8px;
  -dls-radio-group-line-spacing: 8px;
}
