div {
  -dls-dropdown-icon-size-aux: @dls-dropdown-icon-size-aux;
  -dls-dropdown-icon-spacing-aux: @dls-dropdown-icon-spacing-aux;
  -dls-dropdown-split-button-padding-x: @dls-dropdown-split-button-padding-x;
  -dls-dropdown-icon-color-aux-normal: @dls-dropdown-icon-color-aux-normal;
  -dls-dropdown-icon-color-aux-normal-disabled: @dls-dropdown-icon-color-aux-normal-disabled;
  -dls-dropdown-icon-color-aux-primary: @dls-dropdown-icon-color-aux-primary;
  -dls-dropdown-icon-color-aux-primary-disabled: @dls-dropdown-icon-color-aux-primary-disabled;
}
