div {
  -dls-dropdown-icon-size-aux: calc(1em + 2px);
  -dls-dropdown-icon-spacing-aux: 8px;
  -dls-dropdown-split-button-padding-x: 12px;
  -dls-dropdown-icon-color-aux-normal: #848b99;
  -dls-dropdown-icon-color-aux-normal-disabled: #a8b0bf;
  -dls-dropdown-icon-color-aux-primary: currentColor;
  -dls-dropdown-icon-color-aux-primary-disabled: currentColor;
}
