div {
  -dls-lightbox-padding-x: @dls-lightbox-padding-x;
  -dls-lightbox-padding-y: @dls-lightbox-padding-y;
  -dls-lightbox-content-spacing-y: @dls-lightbox-content-spacing-y;
  -dls-lightbox-content-spacing-x: @dls-lightbox-content-spacing-x;
  -dls-lightbox-backdrop-color: @dls-lightbox-backdrop-color;
  -dls-lightbox-font-color: @dls-lightbox-font-color;
  -dls-lightbox-font-size: @dls-lightbox-font-size;
  -dls-lightbox-close-icon-size: @dls-lightbox-close-icon-size;
  -dls-lightbox-control-size: @dls-lightbox-control-size;
  -dls-lightbox-control-border-radius: @dls-lightbox-control-border-radius;
  -dls-lightbox-control-icon-size: @dls-lightbox-control-icon-size;
}
