div {
  -dls-menu-item-font-weight-current: 400;
  -dls-menu-item-icon-color: rgba(73, 86, 107, 0.8);
  -dls-menu-item-icon-color-disabled: rgba(83, 101, 138, 0.5);
  -dls-menu-item-icon-color-current: currentColor;
  -dls-menu-item-icon-color-current-disabled: currentColor;
  -dls-menu-indicator-width: 2px;
  -dls-menu-indicator-color: #0054e6;
  -dls-menu-indicator-color-hover: #0054e6;
  -dls-menu-indicator-color-focus: #0054e6;
  -dls-menu-indicator-color-active: #0054e6;
  -dls-menu-width: 200px;
  -dls-menu-width-collapsed: 60px;
  -dls-menu-font-size-s: 12px;
  -dls-menu-font-size-m: 14px;
  -dls-menu-font-size-l: 16px;
  -dls-menu-item-height-s: 28px;
  -dls-menu-item-height-m: 32px;
  -dls-menu-item-height-l: 36px;
  -dls-menu-padding-x: 20px;
  -dls-menu-padding-y: 8px;
  -dls-menu-item-spacing: 8px;
  -dls-menu-item-content-spacing: 12px;
  -dls-menu-level-indent: 16px;
  -dls-menu-footer-height-s: 28px;
  -dls-menu-footer-height-m: 28px;
  -dls-menu-footer-height-l: 28px;
  -dls-menu-item-icon-size: calc(1em + 2px);
  -dls-menu-item-icon-size-aux: calc(1em + 2px);
  -dls-menu-border-color: #e2e6f0;
  -dls-menu-separator-color: #e2e6f0;
  -dls-menu-item-font-color: rgba(13, 15, 18, 0.95);
  -dls-menu-item-font-color-hover: rgba(13, 15, 18, 0.95);
  -dls-menu-item-font-color-focus: rgba(13, 15, 18, 0.95);
  -dls-menu-item-font-color-active: rgba(13, 15, 18, 0.95);
  -dls-menu-item-font-color-disabled: rgba(83, 101, 138, 0.5);
  -dls-menu-item-background-color: #fff;
  -dls-menu-item-background-color-hover: #f6f7fa;
  -dls-menu-item-background-color-focus: #dce9ff;
  -dls-menu-item-background-color-active: #e2e6f0;
  -dls-menu-item-background-color-disabled: #fff;
  -dls-menu-item-font-color-current: #0054e6;
  -dls-menu-item-font-color-current-hover: #1a6eff;
  -dls-menu-item-font-color-current-focus: #1a6eff;
  -dls-menu-item-font-color-current-active: #0047c4;
  -dls-menu-item-background-color-current: #ebf2ff;
  -dls-menu-item-background-color-current-hover: #dce9ff;
  -dls-menu-item-background-color-current-focus: #dce9ff;
  -dls-menu-item-background-color-current-active: #bfd7ff;
  -dls-menu-item-group-label-font-color: rgba(13, 15, 18, 0.95);
  -dls-menu-item-group-label-font-weight: 500;
  -dls-menu-font-size-horizontal-m: 14px;
  -dls-menu-item-height-horizontal-m: 64px;
  -dls-menu-item-padding-x-horizontal: 16px;
  -dls-menu-border-color-horizontal: #d3d9e6;
  -dls-menu-item-font-color-horizontal: rgba(13, 15, 18, 0.95);
  -dls-menu-item-font-color-horizontal-hover: rgba(46, 52, 64, 0.9);
  -dls-menu-item-font-color-horizontal-focus: rgba(46, 52, 64, 0.9);
  -dls-menu-item-font-color-horizontal-active: #000;
  -dls-menu-item-font-color-horizontal-disabled: rgba(83, 101, 138, 0.5);
  -dls-menu-item-background-color-horizontal: #fff;
  -dls-menu-item-background-color-horizontal-hover: #fff;
  -dls-menu-item-background-color-horizontal-focus: #dce9ff;
  -dls-menu-item-background-color-horizontal-active: #fff;
  -dls-menu-item-background-color-horizontal-disabled: #fff;
  -dls-menu-item-font-color-horizontal-current: #0054e6;
  -dls-menu-item-font-color-horizontal-current-hover: #1a6eff;
  -dls-menu-item-font-color-horizontal-current-focus: #1a6eff;
  -dls-menu-item-font-color-horizontal-current-active: #0047c4;
  -dls-menu-item-background-color-horizontal-current: #fff;
  -dls-menu-item-background-color-horizontal-current-hover: #fff;
  -dls-menu-item-background-color-horizontal-current-focus: #dce9ff;
  -dls-menu-item-background-color-horizontal-current-active: #fff;
  -dls-menu-item-shadow-horizontal-current: 0 1px 2px rgba(0, 84, 230, 0.4);
  -dls-menu-card-border-radius-m: 4px;
  -dls-menu-card-background-color: #fff;
  -dls-menu-card-padding-x: 24px;
  -dls-menu-card-padding-y: 24px;
  -dls-menu-card-column-spacing: 48px;
  -dls-menu-card-target-spacing: 4px;
  -dls-menu-card-title-font-color: rgba(13, 15, 18, 0.95);
  -dls-menu-card-title-font-size-m: 14px;
  -dls-menu-card-title-font-weight: 500;
  -dls-menu-card-item-spacing: 16px;
  -dls-menu-card-item-font-size-m: 14px;
  -dls-menu-card-item-icon-size: calc(1em + 2px);
}
