div {
  -dls-menu-item-font-weight-current: 400;
  -dls-menu-item-icon-color: #848b99;
  -dls-menu-item-icon-color-disabled: #a8b0bf;
  -dls-menu-item-icon-color-current: currentColor;
  -dls-menu-item-icon-color-current-disabled: currentColor;
  -dls-menu-indicator-width: 2px;
  -dls-menu-indicator-color: #0052cc;
  -dls-menu-indicator-color-hover: #0052cc;
  -dls-menu-indicator-color-focus: #0052cc;
  -dls-menu-indicator-color-active: #0052cc;
  -dls-menu-width: 200px;
  -dls-menu-width-collapsed: 60px;
  -dls-menu-font-size-s: 12px;
  -dls-menu-font-size-m: 14px;
  -dls-menu-font-size-l: 16px;
  -dls-menu-item-height-s: 28px;
  -dls-menu-item-height-m: 32px;
  -dls-menu-item-height-l: 36px;
  -dls-menu-padding-x: 20px;
  -dls-menu-padding-y: 8px;
  -dls-menu-item-spacing: 8px;
  -dls-menu-item-content-spacing: 12px;
  -dls-menu-level-indent: 16px;
  -dls-menu-footer-height-s: 28px;
  -dls-menu-footer-height-m: 28px;
  -dls-menu-footer-height-l: 28px;
  -dls-menu-item-icon-size: calc(1em + 2px);
  -dls-menu-item-icon-size-aux: calc(1em + 2px);
  -dls-menu-border-color: #e2e6f0;
  -dls-menu-separator-color: #e2e6f0;
  -dls-menu-item-font-color: #282c33;
  -dls-menu-item-font-color-hover: #282c33;
  -dls-menu-item-font-color-focus: #282c33;
  -dls-menu-item-font-color-active: #282c33;
  -dls-menu-item-font-color-disabled: #a8b0bf;
  -dls-menu-item-background-color: #fff;
  -dls-menu-item-background-color-hover: #f6f7fa;
  -dls-menu-item-background-color-focus: #e1edff;
  -dls-menu-item-background-color-active: #e2e6f0;
  -dls-menu-item-background-color-disabled: #fff;
  -dls-menu-item-font-color-current: #0052cc;
  -dls-menu-item-font-color-current-hover: #0066ff;
  -dls-menu-item-font-color-current-focus: #0066ff;
  -dls-menu-item-font-color-current-active: #0046ad;
  -dls-menu-item-background-color-current: #f2f7ff;
  -dls-menu-item-background-color-current-hover: #e1edff;
  -dls-menu-item-background-color-current-focus: #e1edff;
  -dls-menu-item-background-color-current-active: #c0d9ff;
  -dls-menu-item-group-label-font-color: #282c33;
  -dls-menu-item-group-label-font-weight: 500;
  -dls-menu-font-size-horizontal-m: 14px;
  -dls-menu-item-height-horizontal-m: 64px;
  -dls-menu-item-padding-x-horizontal: 16px;
  -dls-menu-border-color-horizontal: #d3d9e6;
  -dls-menu-item-font-color-horizontal: #282c33;
  -dls-menu-item-font-color-horizontal-hover: #545b66;
  -dls-menu-item-font-color-horizontal-focus: #545b66;
  -dls-menu-item-font-color-horizontal-active: #000;
  -dls-menu-item-font-color-horizontal-disabled: #a8b0bf;
  -dls-menu-item-background-color-horizontal: #fff;
  -dls-menu-item-background-color-horizontal-hover: #fff;
  -dls-menu-item-background-color-horizontal-focus: #e1edff;
  -dls-menu-item-background-color-horizontal-active: #fff;
  -dls-menu-item-background-color-horizontal-disabled: #fff;
  -dls-menu-item-font-color-horizontal-current: #0052cc;
  -dls-menu-item-font-color-horizontal-current-hover: #0066ff;
  -dls-menu-item-font-color-horizontal-current-focus: #0066ff;
  -dls-menu-item-font-color-horizontal-current-active: #0046ad;
  -dls-menu-item-background-color-horizontal-current: #fff;
  -dls-menu-item-background-color-horizontal-current-hover: #fff;
  -dls-menu-item-background-color-horizontal-current-focus: #e1edff;
  -dls-menu-item-background-color-horizontal-current-active: #fff;
  -dls-menu-item-shadow-horizontal-current: 0 1px 2px rgba(0, 82, 204, 0.4);
  -dls-menu-card-border-radius-m: 4px;
  -dls-menu-card-background-color: #fff;
  -dls-menu-card-padding-x: 24px;
  -dls-menu-card-padding-y: 24px;
  -dls-menu-card-column-spacing: 48px;
  -dls-menu-card-target-spacing: 4px;
  -dls-menu-card-title-font-color: #282c33;
  -dls-menu-card-title-font-size-m: 14px;
  -dls-menu-card-title-font-weight: 500;
  -dls-menu-card-item-spacing: 16px;
  -dls-menu-card-item-font-size-m: 14px;
  -dls-menu-card-item-icon-size: calc(1em + 2px);
}
