div {
  -dls-tooltip-max-width: @dls-tooltip-max-width;
  -dls-tooltip-font-size: @dls-tooltip-font-size;
  -dls-tooltip-line-height: @dls-tooltip-line-height;
  -dls-tooltip-padding-x: @dls-tooltip-padding-x;
  -dls-tooltip-padding-y: @dls-tooltip-padding-y;
  -dls-tooltip-target-spacing: @dls-tooltip-target-spacing;
  -dls-tooltip-arrow-width: @dls-tooltip-arrow-width;
  -dls-tooltip-arrow-spacing: @dls-tooltip-arrow-spacing;
  -dls-tooltip-border-radius: @dls-tooltip-border-radius;
  -dls-tooltip-font-color-normal: @dls-tooltip-font-color-normal;
  -dls-tooltip-background-color-normal: @dls-tooltip-background-color-normal;
  -dls-tooltip-shadow-normal: @dls-tooltip-shadow-normal;
  -dls-tooltip-font-color-reverse: @dls-tooltip-font-color-reverse;
  -dls-tooltip-background-color-reverse: @dls-tooltip-background-color-reverse;
  -dls-tooltip-shadow-reverse: @dls-tooltip-shadow-reverse;
}
