div {
  -dls-tooltip-max-width: calc(16em + 16px);
  -dls-tooltip-font-size: 12px;
  -dls-tooltip-line-height: 1.6;
  -dls-tooltip-padding-x: 8px;
  -dls-tooltip-padding-y: 4px;
  -dls-tooltip-target-spacing: 4px;
  -dls-tooltip-arrow-width: 8px;
  -dls-tooltip-arrow-spacing: 8px;
  -dls-tooltip-border-radius: 4px;
  -dls-tooltip-font-color-normal: rgba(13, 15, 18, 0.95);
  -dls-tooltip-background-color-normal: #fff;
  -dls-tooltip-shadow-normal: 0 1px 8px rgba(0, 0, 0, 0.06), 0 7px 14px 2px rgba(0, 0, 0, 0.05), 0 8px 16px 4px rgba(0, 0, 0, 0.04);
  -dls-tooltip-font-color-reverse: #fff;
  -dls-tooltip-background-color-reverse: rgba(0, 0, 0, 0.6);
  -dls-tooltip-shadow-reverse: none;
}
