div {
  -dls-drawer-width: @dls-drawer-width;
  -dls-drawer-level-indent: @dls-drawer-level-indent;
  -dls-drawer-shadow-top: @dls-drawer-shadow-top;
  -dls-drawer-shadow-right: @dls-drawer-shadow-right;
  -dls-drawer-shadow-bottom: @dls-drawer-shadow-bottom;
  -dls-drawer-shadow-left: @dls-drawer-shadow-left;
  -dls-drawer-title-font-size-s: @dls-drawer-title-font-size-s;
  -dls-drawer-title-font-size-m: @dls-drawer-title-font-size-m;
  -dls-drawer-close-icon-size: @dls-drawer-close-icon-size;
}
