div {
  -dls-date-picker-font-size-s: 12px;
  -dls-date-picker-font-size-m: 14px;
  -dls-date-picker-dropdown-background-color: #fff;
  -dls-date-picker-dropdown-border-radius-s: 2px;
  -dls-date-picker-dropdown-border-radius-m: 3px;
  -dls-date-picker-dropdown-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  -dls-date-picker-range-connector-padding-x: 12px;
  -dls-date-picker-range-panel-spacing: 8px;
  -dls-date-picker-panel-separator-color: #eee;
  -dls-date-picker-panel-padding-x: 16px;
  -dls-date-picker-header-pagination-icon-size: calc(1em - 2px);
  -dls-date-picker-header-icon-size-aux: calc(1em - 4px);
  -dls-date-picker-header-padding-y: 8px;
  -dls-date-picker-header-pagination-spacing: 12px;
  -dls-date-picker-header-icon-aux-spacing: 8px;
  -dls-date-picker-day-body-padding-top: 8px;
  -dls-date-picker-day-body-padding-bottom: 16px;
  -dls-date-picker-weekdays-spacing-after: 12px;
  -dls-date-picker-month-body-padding-top: 24px;
  -dls-date-picker-year-body-padding-top: 24px;
  -dls-date-picker-cell-height-s: 28px;
  -dls-date-picker-cell-height-m: 32px;
  -dls-date-picker-cell-width-s: 28px;
  -dls-date-picker-cell-width-m: 32px;
  -dls-date-picker-cell-border-radius-s: 2px;
  -dls-date-picker-cell-border-radius-m: 3px;
  -dls-date-picker-cell-shadow-focus: 0 0 0 2px rgba(61, 136, 242, 0.2);
  -dls-date-picker-cell-font-color: #333;
  -dls-date-picker-cell-font-color-current: #3d88f2;
  -dls-date-picker-cell-font-color-aux: #999;
  -dls-date-picker-cell-font-color-disabled: #ccc;
  -dls-date-picker-cell-font-color-selected: #fff;
  -dls-date-picker-cell-font-weight: 400;
  -dls-date-picker-cell-font-weight-selected: 500;
  -dls-date-picker-day-cell-spacing-y: 4px;
  -dls-date-picker-day-cell-spacing-x: 8px;
  -dls-date-picker-month-cell-spacing-y: 20px;
  -dls-date-picker-month-cell-padding-x: 8px;
  -dls-date-picker-year-cell-spacing-y: 20px;
  -dls-date-picker-year-cell-padding-x: 8px;
  -dls-date-picker-cell-background-color: #fff;
  -dls-date-picker-cell-background-color-focus: #f2f7ff;
  -dls-date-picker-cell-background-color-disabled: #fff;
  -dls-date-picker-cell-background-color-hover: #f2f7ff;
  -dls-date-picker-cell-background-color-active: #d9e6ff;
  -dls-date-picker-cell-background-color-selected: #3d88f2;
  -dls-date-picker-cell-background-color-selected-hover: #66a3ff;
  -dls-date-picker-cell-background-color-selected-focus: #66a3ff;
  -dls-date-picker-cell-background-color-selected-active: #2970cc;
  -dls-date-picker-cell-background-color-aux: #fff;
  -dls-date-picker-cell-background-color-aux-hover: #f5f5f5;
  -dls-date-picker-cell-background-color-aux-focus: #f5f5f5;
  -dls-date-picker-cell-background-color-aux-active: #eee;
  -dls-date-picker-cell-background-color-range-end-hover: #f2f7ff;
  -dls-date-picker-cell-background-color-range-end-focus: #d9e6ff;
  -dls-date-picker-cell-border-color: transparent;
  -dls-date-picker-cell-border-focus-color: #3d88f2;
  -dls-date-picker-cell-border-color-range-end-hover: #3d88f2;
  -dls-date-picker-cell-border-color-range-end-active: #3d88f2;
  -dls-date-picker-year-scroller-width: 80px;
  -dls-date-picker-year-scroller-item-height-m: 32px;
  -dls-date-picker-year-scroller-item-height-s: 28px;
  -dls-date-picker-year-scroller-padding-y: 8px;
  -dls-date-picker-year-scroller-item-spacing: 4px;
  -dls-date-picker-year-scroller-item-padding-x: 16px;
  -dls-date-picker-year-scroller-background-color: #fff;
  -dls-date-picker-year-scroller-background-color-focus: #f2f7ff;
  -dls-date-picker-year-scroller-background-color-hover: #f5f5f5;
  -dls-date-picker-year-scroller-background-color-active: #eee;
  -dls-date-picker-year-scroller-font-color: #333;
  -dls-date-picker-year-scroller-font-color-focus: #666;
  -dls-date-picker-year-scroller-font-color-hover: #666;
  -dls-date-picker-year-scroller-font-color-active: #000;
  -dls-date-picker-year-scroller-font-color-selected: #3d88f2;
  -dls-date-picker-year-scroller-font-color-selected-focus: #66a3ff;
  -dls-date-picker-year-scroller-font-color-selected-hover: #66a3ff;
  -dls-date-picker-year-scroller-font-color-selected-active: #2970cc;
  -dls-date-picker-year-scroller-font-weight: 400;
  -dls-date-picker-year-scroller-font-weight-selected: 500;
}
