div {
  -dls-tooltip-max-width: 10em;
  -dls-tooltip-font-size: 12px;
  -dls-tooltip-line-height: 1.5;
  -dls-tooltip-padding-x: 8px;
  -dls-tooltip-padding-y: 4px;
  -dls-tooltip-target-spacing: 4px;
  -dls-tooltip-arrow-width: 8px;
  -dls-tooltip-arrow-height: 4px;
  -dls-tooltip-arrow-spacing: 8px;
  -dls-tooltip-font-color-normal: #fff;
  -dls-tooltip-background-color-normal: rgba(0, 0, 0, 0.8);
  -dls-tooltip-shadow-normal: none;
  -dls-tooltip-font-color-reverse: #333;
  -dls-tooltip-background-color-reverse: #fff;
  -dls-tooltip-shadow-reverse: 0 1px 4px rgba(0, 0, 0, 0.15);
}
