{
  "singleQuote": true,
  "semi": false,
  "overrides": [
    {
      "files": ".*rc",
      "options": { "parser": "json" }
    },
    {
      "files": "*.less",
      "options": { "parser": "less", "singleQuote": false }
    },
    {
      "files": "*.svg",
      "options": { "parser": "html" }
    }
  ]
}
