div {
  -dls-progress-width-bar-s: 200px;
  -dls-progress-width-bar-m: 300px;
  -dls-progress-size-circular: 108px;
  -dls-progress-font-size-s: 12px;
  -dls-progress-font-size-m: 14px;
  -dls-progress-font-size-circular: 16px;
  -dls-progress-font-color: #545b66;
  -dls-progress-icon-size-bar: calc(1em + 2px);
  -dls-progress-icon-size-circular: 32px;
  -dls-progress-track-width-s: 4px;
  -dls-progress-track-width-m: 6px;
  -dls-progress-border-radius-s: 2px;
  -dls-progress-border-radius-m: 3px;
  -dls-progress-track-spacing-bar: 8px;
  -dls-progress-icon-spacing-bar: 8px;
  -dls-progress-track-color: #d3d9e6;
  -dls-progress-indicator-color: #0052cc;
  -dls-progress-indicator-color-success: #00bf5c;
  -dls-progress-indicator-color-error: #cc1800;
  -dls-progress-icon-color-success: #00bf5c;
  -dls-progress-icon-color-error: #cc1800;
}
