div {
  -dls-progress-width-bar-s: @dls-progress-width-bar-s;
  -dls-progress-width-bar-m: @dls-progress-width-bar-m;
  -dls-progress-size-circular: @dls-progress-size-circular;
  -dls-progress-font-size-s: @dls-progress-font-size-s;
  -dls-progress-font-size-m: @dls-progress-font-size-m;
  -dls-progress-font-size-circular: @dls-progress-font-size-circular;
  -dls-progress-font-color: @dls-progress-font-color;
  -dls-progress-icon-size-bar: @dls-progress-icon-size-bar;
  -dls-progress-icon-size-circular: @dls-progress-icon-size-circular;
  -dls-progress-track-width-s: @dls-progress-track-width-s;
  -dls-progress-track-width-m: @dls-progress-track-width-m;
  -dls-progress-border-radius-s: @dls-progress-border-radius-s;
  -dls-progress-border-radius-m: @dls-progress-border-radius-m;
  -dls-progress-track-spacing-bar: @dls-progress-track-spacing-bar;
  -dls-progress-icon-spacing-bar: @dls-progress-icon-spacing-bar;
  -dls-progress-track-color: @dls-progress-track-color;
  -dls-progress-indicator-color: @dls-progress-indicator-color;
  -dls-progress-indicator-color-success: @dls-progress-indicator-color-success;
  -dls-progress-indicator-color-error: @dls-progress-indicator-color-error;
  -dls-progress-icon-color-success: @dls-progress-icon-color-success;
  -dls-progress-icon-color-error: @dls-progress-icon-color-error;
}
