div {
  -dls-input-font-size-xs: 12px;
  -dls-input-font-size-s: 12px;
  -dls-input-font-size-m: 14px;
  -dls-input-font-size-l: 16px;
  -dls-input-height-xs: 24px;
  -dls-input-height-s: 28px;
  -dls-input-height-m: 32px;
  -dls-input-height-l: 36px;
  -dls-input-width: 300px;
  -dls-input-border-radius-xs: 2px;
  -dls-input-border-radius-s: 2px;
  -dls-input-border-radius-m: 3px;
  -dls-input-border-radius-l: 4px;
  -dls-input-padding: 12px;
  -dls-input-content-spacing: 8px;
  -dls-input-border-color: #e0e0e0;
  -dls-input-border-color-hover: #999;
  -dls-input-border-color-focus: #3d88f2;
  -dls-input-border-color-error: #e64552;
  -dls-input-border-color-error-hover: #e64552;
  -dls-input-border-color-error-focus: #e64552;
  -dls-input-border-color-read-only: #eee;
  -dls-input-border-color-read-only-hover: #999;
  -dls-input-border-color-read-only-focus: #3d88f2;
  -dls-input-border-color-disabled: #eee;
  -dls-input-background-color: #fff;
  -dls-input-background-color-read-only: #fafafa;
  -dls-input-background-color-disabled: #fafafa;
  -dls-input-font-color: #333;
  -dls-input-font-color-error: #333;
  -dls-input-font-color-read-only: #999;
  -dls-input-font-color-disabled: #ccc;
  -dls-input-placeholder-color: #999;
  -dls-input-count-color: #999;
  -dls-input-count-color-error: #e64552;
  -dls-input-shadow-focus: 0 0 0 2px rgba(61, 136, 242, 0.2);
  -dls-input-shadow-inline-focus: 0 1px 0 0 #3d88f2;
  -dls-input-shadow-error-focus: 0 0 0 2px rgba(230, 69, 82, 0.2);
  -dls-input-shadow-inline-error-focus: 0 1px 0 0 #e64552;
  -dls-input-icon-size: 1em;
  -dls-input-icon-color: #999;
  -dls-input-icon-color-disabled: #ccc;
}
