div {
  -dls-toast-font-size-s: 12px;
  -dls-toast-font-size-m: 14px;
  -dls-toast-border-radius-s: 2px;
  -dls-toast-border-radius-m: 4px;
  -dls-toast-line-height: 1.8;
  -dls-toast-icon-size: calc(1em + 2px);
  -dls-toast-icon-size-titled: calc(1em + 2px);
  -dls-toast-icon-size-aux: calc(1em + 2px);
  -dls-toast-padding-x: 16px;
  -dls-toast-padding-y: 8px;
  -dls-toast-padding-y-titled: 16px;
  -dls-toast-content-spacing-before: 8px;
  -dls-toast-content-spacing-after: 16px;
  -dls-toast-spacing: 8px;
  -dls-toast-max-width: 400px;
  -dls-toast-list-spacing-before: 8px;
  -dls-toast-title-font-size-s: 14px;
  -dls-toast-title-font-size-m: 16px;
  -dls-toast-title-font-weight: 500;
  -dls-toast-title-line-height: 1.4;
  -dls-toast-title-spacing-after: 4px;
  -dls-toast-background-color: #fff;
  -dls-toast-font-color: #282c33;
  -dls-toast-title-font-color: #282c33;
  -dls-toast-shadow: 0 4px 6px rgba(0, 0, 0, 0.06), 0 1px 10px rgba(0, 0, 0, 0.05), 0 2px 4px -1px rgba(0, 0, 0, 0.01);
  -dls-toast-icon-color-info: #0052cc;
  -dls-toast-icon-color-success: #00bf5c;
  -dls-toast-icon-color-warning: #ffa733;
  -dls-toast-icon-color-error: #cc1800;
}
