div {
  -dls-toast-font-size-s: @dls-toast-font-size-s;
  -dls-toast-font-size-m: @dls-toast-font-size-m;
  -dls-toast-border-radius-s: @dls-toast-border-radius-s;
  -dls-toast-border-radius-m: @dls-toast-border-radius-m;
  -dls-toast-line-height: @dls-toast-line-height;
  -dls-toast-icon-size: @dls-toast-icon-size;
  -dls-toast-icon-size-titled: @dls-toast-icon-size-titled;
  -dls-toast-icon-size-aux: @dls-toast-icon-size-aux;
  -dls-toast-padding-x: @dls-toast-padding-x;
  -dls-toast-padding-y: @dls-toast-padding-y;
  -dls-toast-padding-y-titled: @dls-toast-padding-y-titled;
  -dls-toast-content-spacing-before: @dls-toast-content-spacing-before;
  -dls-toast-content-spacing-after: @dls-toast-content-spacing-after;
  -dls-toast-spacing: @dls-toast-spacing;
  -dls-toast-max-width: @dls-toast-max-width;
  -dls-toast-list-spacing-before: @dls-toast-list-spacing-before;
  -dls-toast-title-font-size-s: @dls-toast-title-font-size-s;
  -dls-toast-title-font-size-m: @dls-toast-title-font-size-m;
  -dls-toast-title-font-weight: @dls-toast-title-font-weight;
  -dls-toast-title-line-height: @dls-toast-title-line-height;
  -dls-toast-title-spacing-after: @dls-toast-title-spacing-after;
  -dls-toast-background-color: @dls-toast-background-color;
  -dls-toast-font-color: @dls-toast-font-color;
  -dls-toast-title-font-color: @dls-toast-title-font-color;
  -dls-toast-shadow: @dls-toast-shadow;
  -dls-toast-icon-color-info: @dls-toast-icon-color-info;
  -dls-toast-icon-color-success: @dls-toast-icon-color-success;
  -dls-toast-icon-color-warning: @dls-toast-icon-color-warning;
  -dls-toast-icon-color-error: @dls-toast-icon-color-error;
}
