div {
  -dls-link-font-size-s: @dls-link-font-size-s;
  -dls-link-font-size-m: @dls-link-font-size-m;
  -dls-link-text-decoration: @dls-link-text-decoration;
  -dls-link-text-decoration-hover: @dls-link-text-decoration-hover;
  -dls-link-text-decoration-focus: @dls-link-text-decoration-focus;
  -dls-link-text-decoration-active: @dls-link-text-decoration-active;
  -dls-link-font-color-normal: @dls-link-font-color-normal;
  -dls-link-font-color-normal-hover: @dls-link-font-color-normal-hover;
  -dls-link-font-color-normal-focus: @dls-link-font-color-normal-focus;
  -dls-link-font-color-normal-active: @dls-link-font-color-normal-active;
  -dls-link-font-color-normal-disabled: @dls-link-font-color-normal-disabled;
  -dls-link-font-color-strong: @dls-link-font-color-strong;
  -dls-link-font-color-strong-hover: @dls-link-font-color-strong-hover;
  -dls-link-font-color-strong-focus: @dls-link-font-color-strong-focus;
  -dls-link-font-color-strong-active: @dls-link-font-color-strong-active;
  -dls-link-font-color-strong-disabled: @dls-link-font-color-strong-disabled;
}
