div {
  -dls-breadcrumb-font-size-s: 12px;
  -dls-breadcrumb-font-size-m: 14px;
  -dls-breadcrumb-separator-icon-size: calc(1em + 2px);
  -dls-breadcrumb-separator-color: rgba(73, 86, 107, 0.8);
  -dls-breadcrumb-separator-spacing: 8px;
  -dls-breadcrumb-item-current-font-color: rgba(13, 15, 18, 0.95);
  -dls-breadcrumb-item-current-font-weight: 500;
}
