div {
  -dls-popover-max-width: 400px;
  -dls-popover-line-height: 1.6;
  -dls-popover-padding-x: 16px;
  -dls-popover-padding-y: 16px;
  -dls-popover-arrow-spacing: 12px;
  -dls-popover-border-radius-s: 4px;
  -dls-popover-border-radius-m: 4px;
  -dls-popover-font-size-s: 12px;
  -dls-popover-font-size-m: 14px;
  -dls-popover-title-font-weight: 500;
  -dls-popover-title-spacing-s: 4px;
  -dls-popover-action-spacing-s: 8px;
  -dls-popover-title-spacing-m: 8px;
  -dls-popover-action-spacing-m: 12px;
  -dls-popover-title-font-size-s: 14px;
  -dls-popover-title-font-size-m: 16px;
}
