div {
  -dls-text-input-font-size-xs: 12px;
  -dls-text-input-font-size-s: 12px;
  -dls-text-input-font-size-m: 14px;
  -dls-text-input-font-size-l: 16px;
  -dls-text-input-height-xs: 24px;
  -dls-text-input-height-s: 28px;
  -dls-text-input-height-m: 32px;
  -dls-text-input-height-l: 36px;
  -dls-text-input-border-radius-xs: 2px;
  -dls-text-input-border-radius-s: 2px;
  -dls-text-input-border-radius-m: 3px;
  -dls-text-input-border-radius-l: 4px;
  -dls-text-input-padding: 12px;
  -dls-text-input-border-color-normal: #e0e0e0;
  -dls-text-input-border-color-normal-hover: #999;
  -dls-text-input-border-color-normal-focus: #3d88f2;
  -dls-text-input-border-color-error: #e64552;
  -dls-text-input-border-color-error-hover: #e64552;
  -dls-text-input-border-color-error-focus: #e64552;
  -dls-text-input-border-color-read-only: #eee;
  -dls-text-input-border-color-read-only-hover: #eee;
  -dls-text-input-border-color-read-only-focus: #eee;
  -dls-text-input-border-color-disabled: #eee;
  -dls-text-input-background-color-normal: #fff;
  -dls-text-input-background-color-read-only: #fafafa;
  -dls-text-input-background-color-disabled: #fafafa;
  -dls-text-input-font-color-normal: #333;
  -dls-text-input-font-color-error: #e64552;
  -dls-text-input-font-color-read-only: #999;
  -dls-text-input-font-color-disabled: #ccc;
  -dls-text-input-placeholder-color: #999;
  -dls-text-input-count-color: #999;
  -dls-text-input-count-color-error: #e64552;
  -dls-text-input-shadow-focus: 0 0 0 2px rgba(61, 136, 242, 0.2);
  -dls-text-input-shadow-focus-error: 0 0 0 2px rgba(230, 69, 82, 0.2);
}
