div {
  -dls-text-input-font-size-xs: @dls-font-size-s;
  -dls-text-input-font-size-s: @dls-font-size-s;
  -dls-text-input-font-size-m: @dls-font-size-m;
  -dls-text-input-font-size-l: @dls-font-size-l;
  -dls-text-input-height-xs: @dls-height-unit * 6;
  -dls-text-input-height-s: @dls-height-unit * 7;
  -dls-text-input-height-m: @dls-height-unit * 8;
  -dls-text-input-height-l: @dls-height-unit * 9;
  -dls-text-input-border-radius-xs: @dls-border-radius-s;
  -dls-text-input-border-radius-s: @dls-border-radius-s;
  -dls-text-input-border-radius-m: @dls-border-radius-m;
  -dls-text-input-border-radius-l: @dls-border-radius-l;
  -dls-text-input-count-spacing: @dls-padding-unit * 1;
  -dls-text-input-content-spacing: @dls-padding-unit * 2;
  -dls-text-input-inner-spacing: @dls-padding-unit * 3;
  -dls-text-input-border-color: @dls-border-color-strong;
  -dls-text-input-border-color-hover: @dls-color-gray-7;
  -dls-text-input-border-color-focus: @dls-color-brand-6;
  -dls-text-input-border-color-active: @dls-color-brand-6;
  -dls-text-input-border-color-error: @dls-color-error-6;
  -dls-text-input-border-color-disabled: @dls-color-gray-4;
  -dls-text-input-border-color-blur: @dls-border-color-strong;
  -dls-text-input-background-color: @dls-color-gray-1;
  -dls-text-input-background-color-disabled: @dls-color-gray-2;
  -dls-text-input-font-color: @dls-color-gray-9;
  -dls-text-input-font-color-disabled: @dls-color-gray-6;
  -dls-text-input-font-color-read-only: @dls-color-gray-7;
  -dls-text-input-font-color-error: @dls-color-error-6;
  -dls-text-input-placeholder-color: @dls-color-gray-7;
  -dls-text-input-count-color: @dls-color-gray-7;
  -dls-text-input-count-color-error: @dls-color-error-6;
  -dls-text-input-border-color-focus: @dls-border-color-focus;
  -dls-text-input-shadow-focus: @dls-shadow-focus;
}
  