div {
  -dls-checkbox-font-size-s: 12px;
  -dls-checkbox-font-size-m: 14px;
  -dls-checkbox-font-color: #333;
  -dls-checkbox-size-s: 14px;
  -dls-checkbox-size-m: 16px;
  -dls-checkbox-icon-min-size: 8px;
  -dls-checkbox-icon-size-s: 8px;
  -dls-checkbox-icon-size-m: 10px;
  -dls-checkbox-border-radius: 2px;
  -dls-checkbox-spacing: 8px;
  -dls-checkbox-border-color: #ccc;
  -dls-checkbox-border-color-hover: #999;
  -dls-checkbox-border-color-focus: #3d88f2;
  -dls-checkbox-border-color-active: #999;
  -dls-checkbox-border-color-disabled: #eee;
  -dls-checkbox-border-color-checked: transparent;
  -dls-checkbox-border-color-checked-hover: transparent;
  -dls-checkbox-border-color-checked-focus: #3d88f2;
  -dls-checkbox-border-color-checked-active: transparent;
  -dls-checkbox-border-color-checked-disabled: transparent;
  -dls-checkbox-background-color: #fff;
  -dls-checkbox-background-color-hover: #f5f5f5;
  -dls-checkbox-background-color-focus: #f5f5f5;
  -dls-checkbox-background-color-active: #eee;
  -dls-checkbox-background-color-disabled: #fafafa;
  -dls-checkbox-background-color-checked: #3d88f2;
  -dls-checkbox-background-color-checked-hover: #66a3ff;
  -dls-checkbox-background-color-checked-focus: #66a3ff;
  -dls-checkbox-background-color-checked-active: #2970cc;
  -dls-checkbox-background-color-checked-disabled: #d9e6ff;
  -dls-checkbox-foreground-color: #fff;
  -dls-checkbox-foreground-color-hover: #fff;
  -dls-checkbox-foreground-color-focus: #fff;
  -dls-checkbox-foreground-color-active: #fff;
  -dls-checkbox-foreground-color-disabled: #fff;
  -dls-checkbox-shadow-focus: 0 0 0 2px rgba(61, 136, 242, 0.2);
  -dls-checkbox-strong-check-icon-color: #ccc;
  -dls-checkbox-strong-check-icon-color-disabled: #e0e0e0;
  -dls-checkbox-strong-check-icon-color-checked: #fff;
  -dls-checkbox-strong-check-icon-color-checked-disabled: #fff;
  -dls-checkbox-strong-check-icon-size: 8px;
  -dls-checkbox-strong-check-icon-spacing: 4px;
  -dls-checkbox-strong-checked-separator-color: #8cb8ff;
}
