div {
  -dls-message-font-size-s: 12px;
  -dls-message-font-size-m: 14px;
  -dls-message-icon-size: calc(1em + 2px);
  -dls-message-line-height: 1.4;
  -dls-message-content-spacing: 4px;
  -dls-message-font-color-standalone: rgba(13, 15, 18, 0.95);
  -dls-message-font-color-info: rgba(13, 15, 18, 0.95);
  -dls-message-font-color-success: #009940;
  -dls-message-font-color-warning: #ff9448;
  -dls-message-font-color-error: #d9150b;
  -dls-message-font-color-aux: rgba(80, 90, 107, 0.8);
  -dls-message-icon-color-info: #0054e6;
  -dls-message-icon-color-success: #009940;
  -dls-message-icon-color-warning: #ff9448;
  -dls-message-icon-color-error: #d9150b;
  -dls-message-icon-color-aux: rgba(80, 90, 107, 0.8);
}
