div {
  -dls-table-column-min-width: calc(3em + 16px);
  -dls-table-border-color: #e2e6f0;
  -dls-table-border-color-dragging: #d3d9e6;
  -dls-table-padding-x: 16px;
  -dls-table-cell-padding-x: 8px;
  -dls-table-cell-padding-y: 12px;
  -dls-table-cell-padding-y-compact: 8px;
  -dls-table-cell-padding-y-loose: 16px;
  -dls-table-cell-content-spacing: 4px;
  -dls-table-cell-background-color: #fff;
  -dls-table-cell-background-color-hover: #f6f7fa;
  -dls-table-cell-font-color: #282c33;
  -dls-table-header-padding-x: 8px;
  -dls-table-header-padding-y: 12px;
  -dls-table-header-padding-y-compact: 8px;
  -dls-table-header-padding-y-loose: 16px;
  -dls-table-header-background-color: #ebedf5;
  -dls-table-header-background-color-hover: #e2e6f0;
  -dls-table-header-font-weight: 500;
  -dls-table-header-font-color: #282c33;
  -dls-table-sub-row-background-color: #f6f7fa;
  -dls-table-sub-row-background-color-hover: #ebedf5;
  -dls-table-font-size-s: 12px;
  -dls-table-font-size-m: 14px;
  -dls-table-border-radius-s: 2px;
  -dls-table-border-radius-m: 4px;
  -dls-table-icon-size: 1.2em;
  -dls-table-icon-size-aux: 1.2em;
  -dls-table-body-height-no-data: 108px;
  -dls-table-action-spacing: 16px;
}
