div {
  -dls-carousel-indicator-width: 12px;
  -dls-carousel-indicator-width-current: 36px;
  -dls-carousel-indicator-height: 3px;
  -dls-carousel-indicator-dot-size: 6px;
  -dls-carousel-indicator-border-radius: 1.5px;
  -dls-carousel-indicator-spacing-outer: 12px;
  -dls-carousel-indicator-spacing-inner: 4px;
  -dls-carousel-indicator-background-color: rgba(255, 255, 255, 0.3);
  -dls-carousel-indicator-background-color-hover: rgba(255, 255, 255, 0.4);
  -dls-carousel-indicator-background-color-active: #fff;
  -dls-carousel-indicator-background-color-current: #fff;
  -dls-carousel-indicator-background-color-outside: #ebedf5;
  -dls-carousel-indicator-background-color-outside-hover: #e2e6f0;
  -dls-carousel-indicator-background-color-outside-active: #d3d9e6;
  -dls-carousel-indicator-background-color-outside-current: #0052cc;
  -dls-carousel-control-size: 32px;
  -dls-carousel-control-border-radius: 50%;
  -dls-carousel-control-shadow: 0 4px 6px rgba(0, 0, 0, 0.06), 0 1px 10px rgba(0, 0, 0, 0.05), 0 2px 4px -1px rgba(0, 0, 0, 0.01);
  -dls-carousel-control-icon-size: 16px;
  -dls-carousel-control-spacing-inside: 24px;
  -dls-carousel-control-spacing-outside: 16px;
  -dls-carousel-pages-height: 20px;
  -dls-carousel-pages-font-size: 12px;
  -dls-carousel-pages-font-color: #fff;
  -dls-carousel-pages-background-color: rgba(0, 0, 0, 0.6);
  -dls-carousel-pages-padding-x: 4px;
  -dls-carousel-pages-border-radius: 2px;
  -dls-carousel-slide-gutter: 12px;
}
