div {
  -dls-time-picker-width: @dls-time-picker-width;
  -dls-time-picker-dropdown-min-width: @dls-time-picker-dropdown-min-width;
  -dls-time-picker-option-content-min-width: @dls-time-picker-option-content-min-width;
  -dls-time-picker-icon-color: @dls-time-picker-icon-color;
  -dls-time-picker-icon-color-disabled: @dls-time-picker-icon-color-disabled;
}
