div {
  -dls-button-font-size-xs: 12px;
  -dls-button-font-size-s: 12px;
  -dls-button-font-size-m: 14px;
  -dls-button-font-size-l: 16px;
  -dls-button-font-size-xl: 16px;
  -dls-button-height-xs: 24px;
  -dls-button-height-s: 28px;
  -dls-button-height-m: 32px;
  -dls-button-height-l: 36px;
  -dls-button-height-xl: 40px;
  -dls-button-padding-xs: 8px;
  -dls-button-padding-s: 12px;
  -dls-button-padding-m: 16px;
  -dls-button-padding-l: 20px;
  -dls-button-padding-xl: 24px;
  -dls-button-border-radius-xs: 2px;
  -dls-button-border-radius-s: 2px;
  -dls-button-border-radius-m: 4px;
  -dls-button-border-radius-l: 6px;
  -dls-button-border-radius-xl: 6px;
  -dls-button-content-spacing: 4px;
  -dls-button-font-color-normal: #282c33;
  -dls-button-font-color-normal-disabled: #a8b0bf;
  -dls-button-border-color-normal: transparent;
  -dls-button-border-color-normal-disabled: transparent;
  -dls-button-background-color-normal: #ebedf5;
  -dls-button-background-color-normal-hover: #e2e6f0;
  -dls-button-background-color-normal-focus: #e2e6f0;
  -dls-button-background-color-normal-active: #d3d9e6;
  -dls-button-background-color-normal-disabled: #ebedf5;
  -dls-button-font-color-basic: #282c33;
  -dls-button-font-color-basic-disabled: #a8b0bf;
  -dls-button-border-color-basic: #e2e6f0;
  -dls-button-border-color-basic-disabled: #ebedf5;
  -dls-button-background-color-basic: #fff;
  -dls-button-background-color-basic-hover: #f6f7fa;
  -dls-button-background-color-basic-focus: #f6f7fa;
  -dls-button-background-color-basic-active: #e2e6f0;
  -dls-button-background-color-basic-disabled: #fff;
  -dls-button-font-color-strong: #0052cc;
  -dls-button-font-color-strong-disabled: #c2daff;
  -dls-button-border-color-strong: #0052cc;
  -dls-button-border-color-strong-disabled: #deebff;
  -dls-button-background-color-strong: #fff;
  -dls-button-background-color-strong-hover: #f0f6ff;
  -dls-button-background-color-strong-focus: #f0f6ff;
  -dls-button-background-color-strong-active: #deebff;
  -dls-button-background-color-strong-disabled: #f0f6ff;
  -dls-button-font-color-primary: #fff;
  -dls-button-font-color-primary-disabled: #fff;
  -dls-button-border-color-primary: transparent;
  -dls-button-border-color-primary-disabled: transparent;
  -dls-button-background-color-primary: #0052cc;
  -dls-button-background-color-primary-hover: #0067ff;
  -dls-button-background-color-primary-focus: #0067ff;
  -dls-button-background-color-primary-active: #00359e;
  -dls-button-background-color-primary-disabled: #deebff;
  -dls-button-font-color-translucent: #fff;
  -dls-button-font-color-translucent-disabled: rgba(255, 255, 255, 0.3);
  -dls-button-border-color-translucent: transparent;
  -dls-button-border-color-translucent-disabled: transparent;
  -dls-button-background-color-translucent: rgba(0, 0, 0, 0.6);
  -dls-button-background-color-translucent-hover: rgba(0, 0, 0, 0.5);
  -dls-button-background-color-translucent-focus: rgba(0, 0, 0, 0.5);
  -dls-button-background-color-translucent-active: rgba(0, 0, 0, 0.7);
  -dls-button-background-color-translucent-disabled: rgba(0, 0, 0, 0.2);
  -dls-button-font-color-text: #282c33;
  -dls-button-font-color-text-hover: #545b66;
  -dls-button-font-color-text-focus: #282c33;
  -dls-button-font-color-text-active: #000;
  -dls-button-font-color-text-disabled: #a8b0bf;
  -dls-button-font-color-text-strong: #0052cc;
  -dls-button-font-color-text-strong-hover: #0067ff;
  -dls-button-font-color-text-strong-focus: #0052cc;
  -dls-button-font-color-text-strong-active: #00359e;
  -dls-button-font-color-text-strong-disabled: #8fbcff;
  -dls-button-font-color-text-aux: #848b99;
  -dls-button-font-color-text-aux-hover: #545b66;
  -dls-button-font-color-text-aux-focus: #848b99;
  -dls-button-font-color-text-aux-active: #282c33;
  -dls-button-font-color-text-aux-disabled: #a8b0bf;
  -dls-button-background-color-text: transparent;
  -dls-button-background-color-text-hover: transparent;
  -dls-button-background-color-text-focus: transparent;
  -dls-button-background-color-text-active: transparent;
  -dls-button-background-color-text-disabled: transparent;
  -dls-button-padding-text: 2px;
  -dls-button-border-color-focus: #0052cc;
  -dls-button-shadow-focus: 0 0 0 2px rgba(0, 103, 255, 0.2);
  -dls-button-group-separator-opacity: 0.15;
}
