div {
  -dls-tab-height-s: @dls-tab-height-s;
  -dls-tab-height-m: @dls-tab-height-m;
  -dls-tab-height-l: @dls-tab-height-l;
  -dls-tab-padding-x-s: @dls-tab-padding-x-s;
  -dls-tab-padding-x-m: @dls-tab-padding-x-m;
  -dls-tab-padding-x-l: @dls-tab-padding-x-l;
  -dls-tab-spacing-x-s: @dls-tab-spacing-x-s;
  -dls-tab-spacing-x-m: @dls-tab-spacing-x-m;
  -dls-tab-spacing-x-l: @dls-tab-spacing-x-l;
  -dls-tab-font-size-s: @dls-tab-font-size-s;
  -dls-tab-font-size-m: @dls-tab-font-size-m;
  -dls-tab-font-size-l: @dls-tab-font-size-l;
  -dls-tab-font-color: @dls-tab-font-color;
  -dls-tab-font-color-hover: @dls-tab-font-color-hover;
  -dls-tab-font-color-focus: @dls-tab-font-color-focus;
  -dls-tab-font-color-active: @dls-tab-font-color-active;
  -dls-tab-font-color-disabled: @dls-tab-font-color-disabled;
  -dls-tab-font-color-current: @dls-tab-font-color-current;
  -dls-tab-font-color-current-hover: @dls-tab-font-color-current-hover;
  -dls-tab-font-color-current-focus: @dls-tab-font-color-current-focus;
  -dls-tab-font-color-current-active: @dls-tab-font-color-current-active;
  -dls-tab-background-color-focus: @dls-tab-background-color-focus;
  -dls-tab-font-weight-current: @dls-tab-font-weight-current;
  -dls-tab-container-separator-color: @dls-tab-container-separator-color;
  -dls-tab-container-border-width: @dls-tab-container-border-width;
  -dls-tab-indicator-color: @dls-tab-indicator-color;
  -dls-tab-indicator-width: @dls-tab-indicator-width;
}
