div {
  -dls-form-label-spacing-after-horizontal: 24px;
  -dls-form-label-spacing-after-vertical: 8px;
  -dls-form-label-content-spacing: 4px;
  -dls-form-label-width: 7em;
  -dls-form-label-font-color: rgba(13, 15, 18, 0.95);
  -dls-form-label-icon-color: rgba(80, 90, 107, 0.8);
  -dls-form-label-required-color: #d9150b;
  -dls-form-field-spacing-vertical: 24px;
  -dls-form-field-error-font-color: #d9150b;
  -dls-form-field-error-spacing-before-vertical: 4px;
  -dls-form-actions-spacing-before: 40px;
  -dls-form-actions-content-spacing: 20px;
  -dls-form-field-help-spacing: 8px;
}
