div {
  -dls-time-picker-width: 150px;
  -dls-time-picker-dropdown-min-width: 150px;
  -dls-time-picker-option-content-min-width: 2ch;
  -dls-time-picker-icon-color: #848b99;
  -dls-time-picker-icon-color-disabled: #a8b0bf;
}
