div {
  -dls-breadcrumb-font-size-s: @dls-breadcrumb-font-size-s;
  -dls-breadcrumb-font-size-m: @dls-breadcrumb-font-size-m;
  -dls-breadcrumb-separator-icon-size: @dls-breadcrumb-separator-icon-size;
  -dls-breadcrumb-separator-color: @dls-breadcrumb-separator-color;
  -dls-breadcrumb-separator-spacing: @dls-breadcrumb-separator-spacing;
  -dls-breadcrumb-item-current-font-color: @dls-breadcrumb-item-current-font-color;
  -dls-breadcrumb-item-current-font-weight: @dls-breadcrumb-item-current-font-weight;
}
