div {
  -dls-date-picker-width: 160px;
  -dls-date-picker-width-range: 248px;
  -dls-date-picker-font-size-s: 12px;
  -dls-date-picker-font-size-m: 14px;
  -dls-date-picker-dropdown-background-color: #fff;
  -dls-date-picker-dropdown-border-radius-s: 2px;
  -dls-date-picker-dropdown-border-radius-m: 4px;
  -dls-date-picker-dropdown-shadow: 0 4px 6px rgba(0, 0, 0, 0.06), 0 1px 10px rgba(0, 0, 0, 0.05), 0 2px 4px -1px rgba(0, 0, 0, 0.01);
  -dls-date-picker-icon-color: #848b99;
  -dls-date-picker-icon-color-disabled: #a8b0bf;
  -dls-date-picker-range-connector-padding-x: 12px;
  -dls-date-picker-range-panel-spacing: 8px;
  -dls-date-picker-panel-separator-color: #e2e6f0;
  -dls-date-picker-panel-padding-x: 16px;
  -dls-date-picker-header-pagination-icon-size: calc(1em + 2px);
  -dls-date-picker-header-icon-size-aux: calc(1em + 2px);
  -dls-date-picker-header-padding-y: 8px;
  -dls-date-picker-header-pagination-spacing: 12px;
  -dls-date-picker-header-icon-aux-spacing: 8px;
  -dls-date-picker-day-body-padding-top: 4px;
  -dls-date-picker-day-body-padding-bottom: 12px;
  -dls-date-picker-weekdays-spacing-after: 12px;
  -dls-date-picker-month-body-padding-top: 24px;
  -dls-date-picker-year-body-padding-top: 24px;
  -dls-date-picker-cell-height-s: 28px;
  -dls-date-picker-cell-height-m: 32px;
  -dls-date-picker-cell-width-s: 28px;
  -dls-date-picker-cell-width-m: 32px;
  -dls-date-picker-cell-border-radius-s: 2px;
  -dls-date-picker-cell-border-radius-m: 4px;
  -dls-date-picker-cell-shadow-focus: 0 0 0 2px rgba(0, 102, 255, 0.2);
  -dls-date-picker-cell-font-color: #282c33;
  -dls-date-picker-cell-font-color-current: #0052cc;
  -dls-date-picker-cell-font-color-aux: #848b99;
  -dls-date-picker-cell-font-color-disabled: #a8b0bf;
  -dls-date-picker-cell-font-color-selected: #fff;
  -dls-date-picker-cell-font-weight: 400;
  -dls-date-picker-cell-font-weight-selected: 500;
  -dls-date-picker-day-cell-spacing-y: 4px;
  -dls-date-picker-day-cell-spacing-x: 8px;
  -dls-date-picker-month-cell-spacing-y: 20px;
  -dls-date-picker-month-cell-padding-x: 8px;
  -dls-date-picker-year-cell-spacing-y: 20px;
  -dls-date-picker-year-cell-padding-x: 8px;
  -dls-date-picker-cell-background-color: transparent;
  -dls-date-picker-cell-background-color-hover: #f6f7fa;
  -dls-date-picker-cell-background-color-focus: #f6f7fa;
  -dls-date-picker-cell-background-color-active: #e2e6f0;
  -dls-date-picker-cell-background-color-disabled: #f6f7fa;
  -dls-date-picker-cell-background-color-selected: #0052cc;
  -dls-date-picker-cell-background-color-selected-hover: #0066ff;
  -dls-date-picker-cell-background-color-selected-focus: #0066ff;
  -dls-date-picker-cell-background-color-selected-active: #0046ad;
  -dls-date-picker-cell-background-color-aux: transparent;
  -dls-date-picker-cell-background-color-aux-hover: #f6f7fa;
  -dls-date-picker-cell-background-color-aux-focus: #f6f7fa;
  -dls-date-picker-cell-background-color-aux-active: #e2e6f0;
  -dls-date-picker-cell-background-color-range-end-hover: #e1edff;
  -dls-date-picker-cell-background-color-range-end-active: #c0d9ff;
  -dls-date-picker-cell-background-color-range-end-focus: #e1edff;
  -dls-date-picker-cell-border-color: transparent;
  -dls-date-picker-cell-border-color-focus: #0052cc;
  -dls-date-picker-cell-border-color-range-end-hover: transparent;
  -dls-date-picker-cell-border-color-range-end-active: transparent;
  -dls-date-picker-list-item-height-m: 32px;
  -dls-date-picker-list-item-height-s: 28px;
  -dls-date-picker-list-padding-y: 8px;
  -dls-date-picker-list-item-spacing: 4px;
  -dls-date-picker-list-item-padding-x: 16px;
  -dls-date-picker-list-background-color: transparent;
  -dls-date-picker-list-background-color-hover: #f6f7fa;
  -dls-date-picker-list-background-color-focus: #f6f7fa;
  -dls-date-picker-list-background-color-active: #e2e6f0;
  -dls-date-picker-list-background-color-selected: #f2f7ff;
  -dls-date-picker-list-background-color-selected-hover: #e1edff;
  -dls-date-picker-list-background-color-selected-focus: #e1edff;
  -dls-date-picker-list-background-color-selected-active: #c0d9ff;
  -dls-date-picker-list-font-color: #282c33;
  -dls-date-picker-list-font-color-hover: #282c33;
  -dls-date-picker-list-font-color-focus: #282c33;
  -dls-date-picker-list-font-color-active: #282c33;
  -dls-date-picker-list-font-color-selected: #0052cc;
  -dls-date-picker-list-font-color-selected-hover: #0052cc;
  -dls-date-picker-list-font-color-selected-focus: #0052cc;
  -dls-date-picker-list-font-color-selected-active: #0052cc;
  -dls-date-picker-list-font-weight: 400;
  -dls-date-picker-list-font-weight-selected: 500;
  -dls-date-picker-year-scroller-width: 80px;
}
