div {
  -dls-option-font-size-xs: 12px;
  -dls-option-font-size-s: 12px;
  -dls-option-font-size-m: 14px;
  -dls-option-font-size-l: 16px;
  -dls-option-height-xs: 24px;
  -dls-option-height-s: 28px;
  -dls-option-height-m: 32px;
  -dls-option-height-l: 36px;
  -dls-option-padding-xs: 16px;
  -dls-option-padding-s: 16px;
  -dls-option-padding-m: 16px;
  -dls-option-padding-l: 16px;
  -dls-option-max-width-xs: calc(40em + 32px);
  -dls-option-max-width-s: calc(40em + 32px);
  -dls-option-max-width-m: calc(40em + 32px);
  -dls-option-max-width-l: calc(40em + 32px);
  -dls-option-label-spacing-before: 8px;
  -dls-option-label-spacing-after: 12px;
  -dls-option-font-color: #282c33;
  -dls-option-font-color-hover: #282c33;
  -dls-option-font-color-focus: #282c33;
  -dls-option-font-color-active: #282c33;
  -dls-option-font-color-disabled: #a8b0bf;
  -dls-option-font-color-highlighted: #cc7400;
  -dls-option-icon-color-aux: #848b99;
  -dls-option-icon-color-aux-disabled: #a8b0bf;
  -dls-option-font-color-selected: #0052cc;
  -dls-option-font-color-selected-hover: #0067ff;
  -dls-option-font-color-selected-focus: #0067ff;
  -dls-option-font-color-selected-active: #00359e;
  -dls-option-background-color: #fff;
  -dls-option-background-color-hover: #f6f7fa;
  -dls-option-background-color-focus: #deebff;
  -dls-option-background-color-active: #e2e6f0;
  -dls-option-background-color-selected-parent: #f6f7fa;
  -dls-option-font-weight-selected-parent: 500;
  -dls-option-font-weight-selected: 500;
  -dls-option-group-label-line-height: 1.4;
  -dls-option-group-label-font-color: #848b99;
  -dls-option-group-label-padding-y: 4px;
  -dls-option-group-padding-y: 4px;
  -dls-option-group-separator-color: #e2e6f0;
  -dls-option-dropdown-max-height-xs: 248px;
  -dls-option-dropdown-max-height-s: 288px;
  -dls-option-dropdown-max-height-m: 328px;
  -dls-option-dropdown-max-height-l: 368px;
  -dls-option-dropdown-border-radius-xs: 2px;
  -dls-option-dropdown-border-radius-s: 2px;
  -dls-option-dropdown-border-radius-m: 4px;
  -dls-option-dropdown-border-radius-l: 6px;
  -dls-option-dropdown-target-spacing: 4px;
  -dls-option-dropdown-shadow: 0 4px 6px rgba(0, 0, 0, 0.06), 0 1px 10px rgba(0, 0, 0, 0.05), 0 2px 4px -1px rgba(0, 0, 0, 0.01);
  -dls-option-dropdown-placeholder-padding-y: 8px;
  -dls-option-dropdown-placeholder-font-color: #848b99;
}
