div {
  -dls-option-font-size-xs: 12px;
  -dls-option-font-size-s: 12px;
  -dls-option-font-size-m: 14px;
  -dls-option-font-size-l: 16px;
  -dls-option-height-xs: 24px;
  -dls-option-height-s: 28px;
  -dls-option-height-m: 32px;
  -dls-option-height-l: 36px;
  -dls-option-padding-xs: 16px;
  -dls-option-padding-s: 16px;
  -dls-option-padding-m: 16px;
  -dls-option-padding-l: 16px;
  -dls-option-max-width-xs: calc(40em + 32px);
  -dls-option-max-width-s: calc(40em + 32px);
  -dls-option-max-width-m: calc(40em + 32px);
  -dls-option-max-width-l: calc(40em + 32px);
  -dls-option-label-spacing-before: 8px;
  -dls-option-label-spacing-after: 12px;
  -dls-option-font-color: #333;
  -dls-option-font-color-hover: #000;
  -dls-option-font-color-focus: #000;
  -dls-option-font-color-active: #000;
  -dls-option-font-color-disabled: #ccc;
  -dls-option-font-color-highlighted: #f27c49;
  -dls-option-icon-color-aux: #999;
  -dls-option-icon-color-aux-disabled: #ccc;
  -dls-option-font-color-selected: #3d88f2;
  -dls-option-font-color-selected-hover: #3d88f2;
  -dls-option-font-color-selected-focus: #3d88f2;
  -dls-option-font-color-selected-active: #3d88f2;
  -dls-option-background-color: #fff;
  -dls-option-background-color-hover: #f5f5f5;
  -dls-option-background-color-focus: #f2f7ff;
  -dls-option-background-color-active: #eee;
  -dls-option-background-color-selected-parent: #f5f5f5;
  -dls-option-font-weight-selected-parent: 500;
  -dls-option-font-weight-selected: 500;
  -dls-option-group-label-line-height: 1.5;
  -dls-option-group-label-font-color: #999;
  -dls-option-group-label-padding-y: 4px;
  -dls-option-group-padding-y: 4px;
  -dls-option-group-separator-color: #eee;
  -dls-option-dropdown-max-height-xs: 248px;
  -dls-option-dropdown-max-height-s: 288px;
  -dls-option-dropdown-max-height-m: 328px;
  -dls-option-dropdown-max-height-l: 368px;
  -dls-option-dropdown-border-radius-xs: 2px;
  -dls-option-dropdown-border-radius-s: 2px;
  -dls-option-dropdown-border-radius-m: 3px;
  -dls-option-dropdown-border-radius-l: 4px;
  -dls-option-dropdown-target-spacing: 4px;
  -dls-option-dropdown-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  -dls-option-dropdown-placeholder-padding-y: 8px;
  -dls-option-dropdown-placeholder-font-color: #ccc;
}
