div {
  -dls-loading-font-size-s: 12px;
  -dls-loading-font-size-m: 14px;
  -dls-loading-font-size-l: 16px;
  -dls-loading-line-height: 1.4;
  -dls-loading-size-s: calc(1em + 2px);
  -dls-loading-size-m: calc(1em + 2px);
  -dls-loading-size-l: 24px;
  -dls-loading-content-spacing-s: 4px;
  -dls-loading-content-spacing-m: 4px;
  -dls-loading-content-spacing-l: 8px;
  -dls-loading-font-color-normal: #282c33;
  -dls-loading-font-color-strong: #282c33;
  -dls-loading-font-color-reverse: #fff;
  -dls-loading-color-normal: #848b99;
  -dls-loading-color-strong: #0052cc;
  -dls-loading-color-reverse: #fff;
  -dls-loading-background-color: rgba(255, 255, 255, 0.8);
  -dls-loading-background-color-reverse: rgba(0, 0, 0, 0.6);
}
