div {
  -dls-tag-height-s: 24px;
  -dls-tag-height-m: 28px;
  -dls-tag-border-radius-s: 4px;
  -dls-tag-border-radius-m: 4px;
  -dls-tag-padding: 8px;
  -dls-tag-content-spacing: 8px;
  -dls-tag-list-spacing: 4px;
  -dls-tag-font-size-s: 12px;
  -dls-tag-font-size-m: 14px;
  -dls-tag-icon-size-aux: calc(1em - 2px);
  -dls-tag-color: rgba(45, 52, 64, 0.8);
  -dls-tag-color-selected: #0054e6;
  -dls-tag-color-default: #848b99;
  -dls-tag-color-default-selected: #0054e6;
  -dls-tag-color-info: #0054e6;
  -dls-tag-color-success: #009940;
  -dls-tag-color-warning: #ff9448;
  -dls-tag-color-error: #d9150b;
  -dls-tag-font-color-default: rgba(13, 15, 18, 0.95);
  -dls-tag-font-color-selected: #fff;
  -dls-tag-font-color-reverse: #fff;
  -dls-tag-color-turquoise: #4db2b2;
  -dls-tag-color-violet: #5e1ae5;
  -dls-tag-color-green: #4bac3a;
  -dls-tag-font-opacity-disabled: 0.3;
  -dls-tag-font-opacity-selected-disabled: 1;
  -dls-tag-font-opacity-reverse-disabled: 1;
  -dls-tag-background-opacity: 0.08;
  -dls-tag-background-opacity-hover: 0.2;
  -dls-tag-background-opacity-active: 0.3;
  -dls-tag-background-opacity-disabled: 0.1;
  -dls-tag-background-opacity-selected: 1;
  -dls-tag-background-opacity-selected-hover: 0.6;
  -dls-tag-background-opacity-selected-active: 0.8;
  -dls-tag-background-opacity-selected-disabled: 0.1;
  -dls-tag-background-opacity-reverse: 1;
  -dls-tag-background-opacity-reverse-hover: 0.6;
  -dls-tag-background-opacity-reverse-active: 0.8;
  -dls-tag-background-opacity-reverse-disabled: 0.1;
  -dls-tag-border-opacity: 0.1;
  -dls-tag-border-opacity-disabled: 0.1;
}
