div {
  -dls-textarea-font-size-s: 12px;
  -dls-textarea-font-size-m: 14px;
  -dls-textarea-line-height: 1.5;
  -dls-textarea-padding-x: 12px;
  -dls-textarea-padding-y: 8px;
  -dls-textarea-width: 300px;
  -dls-textarea-rows: 3;
  -dls-textarea-height-s: 72px;
  -dls-textarea-height-m: 81px;
  -dls-textarea-count-height: 16px;
  -dls-textarea-count-padding: 4px;
  -dls-textarea-count-font-size: 12px;
  -dls-textarea-count-font-color: #fff;
  -dls-textarea-count-font-color-error: #fff;
  -dls-textarea-count-background-color: rgba(102, 102, 102, 0.8);
  -dls-textarea-count-background-color-error: rgba(230, 69, 82, 0.8);
}
