div {
  -dls-textarea-font-size-s: @dls-textarea-font-size-s;
  -dls-textarea-font-size-m: @dls-textarea-font-size-m;
  -dls-textarea-line-height: @dls-textarea-line-height;
  -dls-textarea-padding-x: @dls-textarea-padding-x;
  -dls-textarea-padding-y: @dls-textarea-padding-y;
  -dls-textarea-width: @dls-textarea-width;
  -dls-textarea-rows: @dls-textarea-rows;
  -dls-textarea-height-s: @dls-textarea-height-s;
  -dls-textarea-height-m: @dls-textarea-height-m;
  -dls-textarea-count-height: @dls-textarea-count-height;
  -dls-textarea-count-padding: @dls-textarea-count-padding;
  -dls-textarea-count-font-size: @dls-textarea-count-font-size;
  -dls-textarea-count-font-color: @dls-textarea-count-font-color;
  -dls-textarea-count-font-color-error: @dls-textarea-count-font-color-error;
  -dls-textarea-count-background-color: @dls-textarea-count-background-color;
  -dls-textarea-count-background-color-error: @dls-textarea-count-background-color-error;
  -dls-textarea-count-border-radius: @dls-textarea-count-border-radius;
}
