div {
  -dls-input-font-size-xs: 12px;
  -dls-input-font-size-s: 12px;
  -dls-input-font-size-m: 14px;
  -dls-input-font-size-l: 16px;
  -dls-input-height-xs: 24px;
  -dls-input-height-s: 28px;
  -dls-input-height-m: 32px;
  -dls-input-height-l: 36px;
  -dls-input-width: 300px;
  -dls-input-border-radius-xs: 4px;
  -dls-input-border-radius-s: 4px;
  -dls-input-border-radius-m: 4px;
  -dls-input-border-radius-l: 4px;
  -dls-input-padding: 12px;
  -dls-input-content-spacing: 8px;
  -dls-input-border-color: #d3d9e6;
  -dls-input-border-color-hover: #a8b0bf;
  -dls-input-border-color-focus: #0054e6;
  -dls-input-border-color-error: #d9150b;
  -dls-input-border-color-error-hover: #d9150b;
  -dls-input-border-color-error-focus: #d9150b;
  -dls-input-border-color-read-only: #d3d9e6;
  -dls-input-border-color-read-only-hover: #a8b0bf;
  -dls-input-border-color-read-only-focus: #0054e6;
  -dls-input-border-color-disabled: #e2e6f0;
  -dls-input-background-color: #fff;
  -dls-input-background-color-read-only: #f6f7fa;
  -dls-input-background-color-disabled: #f6f7fa;
  -dls-input-font-color: rgba(13, 15, 18, 0.95);
  -dls-input-font-color-error: rgba(13, 15, 18, 0.95);
  -dls-input-font-color-read-only: rgba(73, 86, 107, 0.8);
  -dls-input-font-color-disabled: rgba(83, 101, 138, 0.5);
  -dls-input-placeholder-color: rgba(73, 86, 107, 0.8);
  -dls-input-count-color: rgba(73, 86, 107, 0.8);
  -dls-input-count-color-error: #d9150b;
  -dls-input-shadow-focus: 0 0 0 2px rgba(26, 110, 255, 0.2);
  -dls-input-shadow-inline-focus: 0 1px 0 0 #1a6eff;
  -dls-input-shadow-error-focus: 0 0 0 2px rgba(255, 43, 32, 0.2);
  -dls-input-shadow-inline-error-focus: 0 1px 0 0 #ff2b20;
  -dls-input-icon-size: calc(1em + 2px);
  -dls-input-icon-color: rgba(73, 86, 107, 0.8);
  -dls-input-icon-color-disabled: rgba(83, 101, 138, 0.5);
}
