div {
  -dls-input-font-size-xs: 12px;
  -dls-input-font-size-s: 12px;
  -dls-input-font-size-m: 14px;
  -dls-input-font-size-l: 16px;
  -dls-input-height-xs: 24px;
  -dls-input-height-s: 28px;
  -dls-input-height-m: 32px;
  -dls-input-height-l: 36px;
  -dls-input-width: 300px;
  -dls-input-border-radius-xs: 2px;
  -dls-input-border-radius-s: 2px;
  -dls-input-border-radius-m: 4px;
  -dls-input-border-radius-l: 6px;
  -dls-input-padding: 12px;
  -dls-input-content-spacing: 8px;
  -dls-input-border-color: #d3d9e6;
  -dls-input-border-color-hover: #a8b0bf;
  -dls-input-border-color-focus: #0052cc;
  -dls-input-border-color-error: #cc1800;
  -dls-input-border-color-error-hover: #cc1800;
  -dls-input-border-color-error-focus: #cc1800;
  -dls-input-border-color-read-only: #d3d9e6;
  -dls-input-border-color-read-only-hover: #a8b0bf;
  -dls-input-border-color-read-only-focus: #0052cc;
  -dls-input-border-color-disabled: #e2e6f0;
  -dls-input-background-color: #fff;
  -dls-input-background-color-read-only: #f6f7fa;
  -dls-input-background-color-disabled: #f6f7fa;
  -dls-input-font-color: #282c33;
  -dls-input-font-color-error: #282c33;
  -dls-input-font-color-read-only: #848b99;
  -dls-input-font-color-disabled: #a8b0bf;
  -dls-input-placeholder-color: #848b99;
  -dls-input-count-color: #848b99;
  -dls-input-count-color-error: #cc1800;
  -dls-input-shadow-focus: 0 0 0 2px rgba(0, 102, 255, 0.2);
  -dls-input-shadow-inline-focus: 0 1px 0 0 #0066ff;
  -dls-input-shadow-error-focus: 0 0 0 2px rgba(255, 30, 0, 0.2);
  -dls-input-shadow-inline-error-focus: 0 1px 0 0 #ff1e00;
  -dls-input-icon-size: calc(1em + 2px);
  -dls-input-icon-color: #848b99;
  -dls-input-icon-color-disabled: #a8b0bf;
}
