div {
  -dls-option-font-size-xs: 12px;
  -dls-option-font-size-s: 12px;
  -dls-option-font-size-m: 14px;
  -dls-option-font-size-l: 16px;
  -dls-option-height-xs: 24px;
  -dls-option-height-s: 28px;
  -dls-option-height-m: 32px;
  -dls-option-height-l: 36px;
  -dls-option-padding-xs: 16px;
  -dls-option-padding-s: 16px;
  -dls-option-padding-m: 16px;
  -dls-option-padding-l: 16px;
  -dls-option-max-width-xs: calc(40em + 32px);
  -dls-option-max-width-s: calc(40em + 32px);
  -dls-option-max-width-m: calc(40em + 32px);
  -dls-option-max-width-l: calc(40em + 32px);
  -dls-option-icon-size-aux: calc(1em + 2px);
  -dls-option-label-spacing-before: 8px;
  -dls-option-label-spacing-after: 12px;
  -dls-option-font-color: rgba(13, 15, 18, 0.95);
  -dls-option-font-color-hover: rgba(13, 15, 18, 0.95);
  -dls-option-font-color-focus: rgba(13, 15, 18, 0.95);
  -dls-option-font-color-active: rgba(13, 15, 18, 0.95);
  -dls-option-font-color-disabled: rgba(83, 101, 138, 0.5);
  -dls-option-font-color-highlighted: #f27318;
  -dls-option-icon-color-aux: rgba(73, 86, 107, 0.8);
  -dls-option-icon-color-aux-disabled: rgba(83, 101, 138, 0.5);
  -dls-option-font-color-selected: #0054e6;
  -dls-option-font-color-selected-hover: #1a6eff;
  -dls-option-font-color-selected-focus: #1a6eff;
  -dls-option-font-color-selected-active: #0047c4;
  -dls-option-background-color: #fff;
  -dls-option-background-color-hover: #f6f7fa;
  -dls-option-background-color-focus: #dce9ff;
  -dls-option-background-color-active: #e2e6f0;
  -dls-option-background-color-selected-parent: #f6f7fa;
  -dls-option-font-weight-selected-parent: 400;
  -dls-option-font-weight-selected: 400;
  -dls-option-group-label-line-height: 1.4;
  -dls-option-group-label-font-color: rgba(73, 86, 107, 0.8);
  -dls-option-group-label-padding-y: 4px;
  -dls-option-group-padding-y: 4px;
  -dls-option-group-separator-color: #e2e6f0;
}
