div {
  -dls-sidenav-item-height: 32px;
  -dls-sidenav-padding-x: 8px;
  -dls-sidenav-padding-y: 8px;
  -dls-sidenav-item-padding-start: 24px;
  -dls-sidenav-item-padding-end: 16px;
  -dls-sidenav-item-level-indent: 16px;
  -dls-sidenav-item-spacing: 8px;
  -dls-sidenav-item-content-spacing: 8px;
  -dls-sidenav-item-icon-size: calc(1em + 2px);
  -dls-sidenav-item-icon-size-aux: calc(1em + 2px);
  -dls-sidenav-item-font-size: 14px;
  -dls-sidenav-item-group-font-weight: 500;
  -dls-sidenav-item-font-color: rgba(13, 15, 18, 0.95);
  -dls-sidenav-item-font-color-hover: rgba(45, 52, 64, 0.8);
  -dls-sidenav-item-font-color-focus: rgba(45, 52, 64, 0.8);
  -dls-sidenav-item-font-color-active: #000;
  -dls-sidenav-item-font-color-disabled: rgba(83, 98, 128, 0.5);
  -dls-sidenav-item-font-color-current: #0054e6;
  -dls-sidenav-item-font-color-current-hover: #1a6eff;
  -dls-sidenav-item-font-color-current-focus: #1a6eff;
  -dls-sidenav-item-font-color-current-active: #0047c4;
  -dls-sidenav-item-icon-color: currentColor;
  -dls-sidenav-item-icon-color-disabled: currentColor;
  -dls-sidenav-item-icon-color-current: currentColor;
  -dls-sidenav-item-icon-color-aux: currentColor;
  -dls-sidenav-item-icon-color-aux-disabled: currentColor;
  -dls-sidenav-item-icon-color-aux-current: currentColor;
  -dls-sidenav-item-background-color: #fff;
  -dls-sidenav-item-background-color-hover: #f6f7fa;
  -dls-sidenav-item-background-color-focus: #dce9ff;
  -dls-sidenav-item-background-color-active: #e2e6f0;
  -dls-sidenav-item-background-color-disabled: #fff;
  -dls-sidenav-item-background-color-current: #ebf2ff;
  -dls-sidenav-item-background-color-current-hover: #dce9ff;
  -dls-sidenav-item-background-color-current-focus: #dce9ff;
  -dls-sidenav-item-background-color-current-active: #bfd7ff;
  -dls-sidenav-item-border-radius: 4px;
  -dls-sidenav-width: 200px;
  -dls-sidenav-width-collapsed: 60px;
}
