div {
  -dls-embedded-title-font-size-s: @dls-embedded-title-font-size-s;
  -dls-embedded-title-font-size-m: @dls-embedded-title-font-size-m;
  -dls-embedded-close-icon-size: @dls-embedded-close-icon-size;
  -dls-embedded-shadow: @dls-embedded-shadow;
  -dls-embedded-border-color: @dls-embedded-border-color;
}
