@import "../global.less";
@import "./link.less";

@dls-anchor-padding-x: @dls-padding-unit * 4;
@dls-anchor-item-spacing: @dls-padding-unit * 3;
@dls-anchor-level-indent: @dls-padding-unit * 4;
@dls-anchor-track-color: @dls-line-color-1;
@dls-anchor-track-width: 1px;
@dls-anchor-indicator-width: 2px;
@dls-anchor-indicator-color: @dls-foreground-color-primary;
@dls-anchor-indicator-color-hover: @dls-foreground-color-primary-hover;
@dls-anchor-indicator-color-focus: @dls-anchor-indicator-color-hover;
@dls-anchor-indicator-color-active: @dls-foreground-color-primary-active;
