@import "../global.less";

@dls-cascader-column-min-width: @dls-padding-unit * 30;

@dls-cascader-option-padding-xs: @dls-cascader-option-padding-m;
@dls-cascader-option-padding-s: @dls-cascader-option-padding-m;
@dls-cascader-option-padding-m: @dls-padding-unit * 3;
@dls-cascader-option-padding-l: @dls-cascader-option-padding-m;

@dls-cascader-header-padding-y: @dls-padding-unit * 2;
@dls-cascader-footer-padding-y: @dls-padding-unit * 2;
