@import "../global.less";

/* Metrics */
@dls-collapse-header-padding-x: @dls-padding-unit * 4;
@dls-collapse-header-padding-y: @dls-padding-unit * 4;
@dls-collapse-header-content-spacing: @dls-padding-unit * 2;

@dls-collapse-header-font-size-s: @dls-font-size-0;
@dls-collapse-header-font-size-m: @dls-font-size-1;
@dls-collapse-header-line-height: @dls-line-height-1;

@dls-collapse-body-padding-x: @dls-padding-unit * 4;
@dls-collapse-body-padding-y: @dls-padding-unit * 4;

@dls-collapse-body-font-size-s: @dls-font-size-0;
@dls-collapse-body-font-size-m: @dls-font-size-1;
@dls-collapse-body-line-height: @dls-line-height-3;

@dls-collapse-border-radius-s: @dls-border-radius-0;
@dls-collapse-border-radius-m: @dls-border-radius-1;

@dls-collapse-icon-size-aux: @dls-icon-size-aux;

/* Colors */
@dls-collapse-border-color: @dls-line-color-1;
@dls-collapse-border-color-focus:@dls-collapse-border-color;
@dls-collapse-header-font-color: @dls-foreground-color-neutral;
@dls-collapse-header-font-color-disabled: @dls-foreground-color-neutral-disabled;
@dls-collapse-header-background-color: @dls-background-color-base-2;
@dls-collapse-header-background-color-hover: @dls-background-color-base-2-hover;
@dls-collapse-header-background-color-focus: @dls-background-color-focus;
@dls-collapse-header-background-color-active: @dls-background-color-base-2-active;
@dls-collapse-header-background-color-disabled: @dls-background-color-base-2-disabled;

@dls-collapse-body-font-color: @dls-foreground-color-neutral-light;
@dls-collapse-body-background-color: @dls-background-color-base-1;

@dls-collapse-icon-color-aux: @dls-icon-color-aux;
@dls-collapse-icon-color-aux-disabled: @dls-icon-color-aux-disabled;
