@import "../global.less";
@import "./dialog.less";

@dls-embedded-title-font-size-s: @dls-dialog-title-font-size-s;
@dls-embedded-title-font-size-m: @dls-dialog-title-font-size-m;
@dls-embedded-close-icon-size: @dls-dialog-close-icon-size;
@dls-embedded-shadow: @dls-dialog-shadow;
@dls-embedded-border-color: @dls-line-color-1;
