@import "../global.less";

/* Spacing */
@dls-lightbox-padding-x: @dls-padding-unit * 6;
@dls-lightbox-padding-y: @dls-padding-unit * 10;

@dls-lightbox-content-spacing-y: @dls-padding-unit * 6;
@dls-lightbox-content-spacing-x: @dls-padding-unit * 6;

/* Colors */
@dls-lightbox-backdrop-color: @dls-background-color-modal;
@dls-lightbox-font-color: @dls-foreground-color-reverse;

@dls-lightbox-font-size: @dls-font-size-1;
@dls-lightbox-close-icon-size: @dls-height-unit * 6;

@dls-lightbox-control-size: @dls-height-unit * 12;
@dls-lightbox-control-border-radius: 50%;
@dls-lightbox-control-icon-size: @dls-height-unit * 6;
