@import "../global.less";

/* Font sizes */
@dls-link-font-size-s: @dls-font-size-0;
@dls-link-font-size-m: @dls-font-size-1;

/* Text decorations */
@dls-link-text-decoration: none;
@dls-link-text-decoration-hover: underline;
@dls-link-text-decoration-focus: underline;
@dls-link-text-decoration-active: underline;

/* Stylistic variants */
// normal
@dls-link-font-color-normal: @dls-foreground-color-neutral;
@dls-link-font-color-normal-hover: @dls-foreground-color-neutral-hover;
@dls-link-font-color-normal-focus: @dls-foreground-color-neutral-hover;
@dls-link-font-color-normal-active: @dls-foreground-color-neutral-active;
@dls-link-font-color-normal-disabled: @dls-foreground-color-neutral-disabled;

// strong
@dls-link-font-color-strong: @dls-foreground-color-primary;
@dls-link-font-color-strong-hover: @dls-foreground-color-primary-hover;
@dls-link-font-color-strong-focus: @dls-foreground-color-primary-hover;
@dls-link-font-color-strong-active: @dls-foreground-color-primary-active;
@dls-link-font-color-strong-disabled: @dls-foreground-color-primary-disabled;
