@import "../global.less";

/* Metrics */
@dls-tag-input-padding-start: @dls-padding-unit * 1;
@dls-tag-input-tag-spacing: @dls-padding-unit * 1;

@dls-tag-input-tag-height-xs: dls-sum(@dls-height-xs, @dls-height-unit * -2);
@dls-tag-input-tag-height-s: dls-sum(@dls-height-s, @dls-height-unit * -2);
@dls-tag-input-tag-height-m: dls-sum(@dls-height-m, @dls-height-unit * -2);
@dls-tag-input-tag-height-l: dls-sum(@dls-height-l, @dls-height-unit * -2);
