div {
  -dls-tree-node-height-s: @dls-tree-node-height-s;
  -dls-tree-node-height-m: @dls-tree-node-height-m;
  -dls-tree-font-size-s: @dls-tree-font-size-s;
  -dls-tree-font-size-m: @dls-tree-font-size-m;
  -dls-tree-icon-size: @dls-tree-icon-size;
  -dls-tree-icon-size-aux: @dls-tree-icon-size-aux;
  -dls-tree-padding-x: @dls-tree-padding-x;
  -dls-tree-node-content-spacing: @dls-tree-node-content-spacing;
  -dls-tree-icon-color-aux: @dls-tree-icon-color-aux;
  -dls-tree-icon-color-aux-disabled: @dls-tree-icon-color-aux-disabled;
  -dls-tree-node-font-color: @dls-tree-node-font-color;
  -dls-tree-node-font-color-disabled: @dls-tree-node-font-color-disabled;
  -dls-tree-node-font-color-selected: @dls-tree-node-font-color-selected;
  -dls-tree-node-font-color-selected-hover: @dls-tree-node-font-color-selected-hover;
  -dls-tree-node-font-color-selected-focus: @dls-tree-node-font-color-selected-focus;
  -dls-tree-node-font-color-selected-active: @dls-tree-node-font-color-selected-active;
  -dls-tree-node-font-color-highlighted: @dls-tree-node-font-color-highlighted;
  -dls-tree-node-background-color: @dls-tree-node-background-color;
  -dls-tree-node-background-color-hover: @dls-tree-node-background-color-hover;
  -dls-tree-node-background-color-focus: @dls-tree-node-background-color-focus;
  -dls-tree-node-background-color-active: @dls-tree-node-background-color-active;
  -dls-tree-node-background-color-selected: @dls-tree-node-background-color-selected;
  -dls-tree-node-background-color-selected-hover: @dls-tree-node-background-color-selected-hover;
  -dls-tree-node-background-color-selected-focus: @dls-tree-node-background-color-selected-focus;
  -dls-tree-node-background-color-selected-active: @dls-tree-node-background-color-selected-active;
  -dls-tree-node-font-weight-selected: @dls-tree-node-font-weight-selected;
}
