div {
  -dls-tree-node-height-s: 28px;
  -dls-tree-node-height-m: 32px;
  -dls-tree-font-size-s: 12px;
  -dls-tree-font-size-m: 14px;
  -dls-tree-icon-size-s: 1em;
  -dls-tree-icon-size-m: 1em;
  -dls-tree-padding-x: 16px;
  -dls-tree-node-content-spacing: 8px;
  -dls-tree-node-font-color: #333;
  -dls-tree-node-font-color-disabled: #ccc;
  -dls-tree-node-font-color-current: #3d88f2;
  -dls-tree-node-font-color-current-hover: #66a3ff;
  -dls-tree-node-font-color-current-focus: #66a3ff;
  -dls-tree-node-font-color-current-active: #2970cc;
  -dls-tree-node-background-color: #fff;
  -dls-tree-node-background-color-hover: #f5f5f5;
  -dls-tree-node-background-color-focus: #f2f7ff;
  -dls-tree-node-background-color-active: #eee;
  -dls-tree-node-font-weight-current: 500;
}
