div {
  -dls-tree-node-height-s: 28px;
  -dls-tree-node-height-m: 32px;
  -dls-tree-font-size-s: 12px;
  -dls-tree-font-size-m: 14px;
  -dls-tree-icon-size: 1em;
  -dls-tree-icon-size-aux: calc(1em - 4px);
  -dls-tree-padding-x: 16px;
  -dls-tree-node-content-spacing: 8px;
  -dls-tree-icon-color-aux: #999;
  -dls-tree-icon-color-aux-disabled: #ccc;
  -dls-tree-node-font-color: #333;
  -dls-tree-node-font-color-disabled: #ccc;
  -dls-tree-node-font-color-selected: #3d88f2;
  -dls-tree-node-font-color-selected-hover: #66a3ff;
  -dls-tree-node-font-color-selected-focus: #66a3ff;
  -dls-tree-node-font-color-selected-active: #2970cc;
  -dls-tree-node-font-color-highlighted: #f27c49;
  -dls-tree-node-background-color: #fff;
  -dls-tree-node-background-color-hover: #f5f5f5;
  -dls-tree-node-background-color-focus: #f2f7ff;
  -dls-tree-node-background-color-active: #eee;
  -dls-tree-node-background-color-selected: #f2f7ff;
  -dls-tree-node-background-color-selected-hover: #f2f7ff;
  -dls-tree-node-background-color-selected-focus: #f2f7ff;
  -dls-tree-node-background-color-selected-active: #d9e6ff;
  -dls-tree-node-font-weight-selected: 500;
}
