div {
  -dls-badge-font-size: @dls-badge-font-size;
  -dls-badge-dot-size: @dls-badge-dot-size;
  -dls-badge-label-height: @dls-badge-label-height;
  -dls-badge-label-min-width: @dls-badge-label-min-width;
  -dls-badge-label-padding-x: @dls-badge-label-padding-x;
  -dls-badge-label-spacing-status: @dls-badge-label-spacing-status;
  -dls-badge-background-color-info: @dls-badge-background-color-info;
  -dls-badge-background-color-success: @dls-badge-background-color-success;
  -dls-badge-background-color-warning: @dls-badge-background-color-warning;
  -dls-badge-background-color-error: @dls-badge-background-color-error;
  -dls-badge-background-color-aux: @dls-badge-background-color-aux;
  -dls-badge-font-color: @dls-badge-font-color;
}
