div {
  -dls-number-input-height-xs: 24px;
  -dls-number-input-height-s: 28px;
  -dls-number-input-height-m: 32px;
  -dls-number-input-width-normal-xs: 60px;
  -dls-number-input-width-normal-s: 60px;
  -dls-number-input-width-normal-m: 64px;
  -dls-number-input-spin-button-width-normal: 18px;
  -dls-number-input-spin-button-height-normal-xs: 12px;
  -dls-number-input-spin-button-height-normal-s: 14px;
  -dls-number-input-spin-button-height-normal-m: 16px;
  -dls-number-input-width-strong-xs: 96px;
  -dls-number-input-width-strong-s: 104px;
  -dls-number-input-width-strong-m: 124px;
  -dls-number-input-spin-button-width-strong-xs: 24px;
  -dls-number-input-spin-button-width-strong-s: 28px;
  -dls-number-input-spin-button-width-strong-m: 32px;
  -dls-number-input-spin-button-icon-width-normal: 10px;
  -dls-number-input-spin-button-icon-height-normal: 10px;
  -dls-number-input-border-radius-xs: 2px;
  -dls-number-input-border-radius-s: 3px;
  -dls-number-input-border-radius-m: 3px;
  -dls-number-input-color: #333;
  -dls-number-input-color-disabled: #ccc;
  -dls-number-input-border-color: #e0e0e0;
  -dls-number-input-border-color-hover: #999;
  -dls-number-input-border-color-focus: #3d88f2;
  -dls-number-input-border-color-active: #3d88f2;
  -dls-number-input-border-color-disabled: #eee;
  -dls-number-input-background-color: #fff;
  -dls-number-input-background-color-disabled: #fafafa;
  -dls-number-input-shadow-focus: 0 0 0 2px rgba(61, 136, 242, 0.2);
}
