div {
  -dls-number-input-height-xs: @dls-number-input-height-xs;
  -dls-number-input-height-s: @dls-number-input-height-s;
  -dls-number-input-height-m: @dls-number-input-height-m;
  -dls-number-input-spin-icon-size-normal: @dls-number-input-spin-icon-size-normal;
  -dls-number-input-spin-button-min-width-normal: @dls-number-input-spin-button-min-width-normal;
  -dls-number-input-spin-button-width-normal-xs: @dls-number-input-spin-button-width-normal-xs;
  -dls-number-input-spin-button-width-normal-s: @dls-number-input-spin-button-width-normal-s;
  -dls-number-input-spin-button-width-normal-m: @dls-number-input-spin-button-width-normal-m;
  -dls-number-input-digits-normal: @dls-number-input-digits-normal;
  -dls-number-input-width-normal-xs: @dls-number-input-width-normal-xs;
  -dls-number-input-width-normal-s: @dls-number-input-width-normal-s;
  -dls-number-input-width-normal-m: @dls-number-input-width-normal-m;
  -dls-number-input-spin-icon-size-strong: @dls-number-input-spin-icon-size-strong;
  -dls-number-input-digits-strong: @dls-number-input-digits-strong;
  -dls-number-input-width-strong-xs: @dls-number-input-width-strong-xs;
  -dls-number-input-width-strong-s: @dls-number-input-width-strong-s;
  -dls-number-input-width-strong-m: @dls-number-input-width-strong-m;
  -dls-number-input-spin-icon-color: @dls-number-input-spin-icon-color;
  -dls-number-input-spin-icon-color-disabled: @dls-number-input-spin-icon-color-disabled;
}
