div {
  -dls-number-input-font-size-xs: 12px;
  -dls-number-input-font-size-s: 12px;
  -dls-number-input-font-size-m: 14px;
  -dls-number-input-height-xs: 24px;
  -dls-number-input-height-s: 28px;
  -dls-number-input-height-m: 32px;
  -dls-number-input-basic-width-xs: 60px;
  -dls-number-input-basic-width-s: 60px;
  -dls-number-input-basic-width-m: 64px;
  -dls-number-input-basic-arrow-adjuster-width: 18px;
  -dls-number-input-basic-input-width-xs: 42px;
  -dls-number-input-basic-input-width-s: 42px;
  -dls-number-input-basic-input-width-m: 46px;
  -dls-number-input-basic-arrow-icon-size: 8px;
  -dls-number-input-basic-arrow-icon-width: 8px;
  -dls-number-input-basic-arrow-icon-height: 8px;
  -dls-number-input-enhanced-width-xs: 96px;
  -dls-number-input-enhanced-width-s: 104px;
  -dls-number-input-enhanced-width-m: 124px;
  -dls-number-input-enhanced-adjuster-width-xs: 24px;
  -dls-number-input-enhanced-adjuster-width-s: 28px;
  -dls-number-input-enhanced-adjuster-width-m: 32px;
  -dls-number-input-enhanced-input-width-xs: 48px;
  -dls-number-input-enhanced-input-width-s: 48px;
  -dls-number-input-enhanced-input-width-m: 60px;
  -dls-number-input-enhanced-icon-size: 10px;
  -dls-number-input-enhanced-plus-icon-width: 10px;
  -dls-number-input-enhanced-plus-icon-height: 10px;
  -dls-number-input-enhanced-minus-icon-width: 10px;
  -dls-number-input-enhanced-minus-icon-height: 10px;
  -dls-number-input-border-radius-xs: 2px;
  -dls-number-input-border-radius-s: 3px;
  -dls-number-input-border-radius-m: 3px;
  -dls-number-input-color: #333;
  -dls-number-input-color-disabled: #ccc;
  -dls-number-input-border-color: #e0e0e0;
  -dls-number-input-border-color-disabled: #eee;
  -dls-number-input-border-color-hover: #999;
  -dls-number-input-border-color-active: #3d88f2;
  -dls-number-input-shadow-focus: 0 0 0 2px rgba(61, 136, 242, 0.2);
}
