@import "../global.less";

/* Metrics */
@dls-badge-font-size: @dls-font-size-0;
@dls-badge-dot-size: @dls-height-unit * 2;
@dls-badge-label-height: @dls-height-unit * 4;
@dls-badge-label-min-width: @dls-badge-label-height;
@dls-badge-label-padding-x: @dls-padding-unit * 1;
@dls-badge-label-spacing-status: @dls-padding-unit * 2;

/* Colors */
@dls-badge-background-color-info: @dls-background-color-info-primary;
@dls-badge-background-color-success: @dls-background-color-success-primary;
@dls-badge-background-color-warning: @dls-background-color-warning-primary;
@dls-badge-background-color-error: @dls-background-color-error-primary;
@dls-badge-background-color-aux: @dls-background-color-neutral-primary;

@dls-badge-font-color: @dls-foreground-color-reverse;
