@import "../global.less";

@dls-breadcrumb-font-size-s: @dls-font-size-0;
@dls-breadcrumb-font-size-m: @dls-font-size-1;
@dls-breadcrumb-separator-icon-size: @dls-icon-size-aux;
@dls-breadcrumb-separator-color: @dls-icon-color-aux;
@dls-breadcrumb-separator-spacing: @dls-padding-unit * 2;
@dls-breadcrumb-item-current-font-color: @dls-foreground-color-neutral;
@dls-breadcrumb-item-current-font-weight: @dls-font-weight-2;
