@import "../global.less";

// Date Input see TextInput for input styles

/**
 * Date Picker Panel
 *  only has small and middle size
 */

/* Font size */
@dls-date-picker-font-size-s: @dls-font-size-s;
@dls-date-picker-font-size-m: @dls-font-size-m;

/* Background Color */
@dls-date-picker-background-color: @dls-background-color-normal;

/* Radius */
@dls-date-picker-panel-border-radius-s: @dls-border-radius-s;
@dls-date-picker-panel-border-radius-m: @dls-border-radius-m;

/* Shadow */
@dls-date-picker-panel-shadow: @dls-shadow;

@dls-date-picker-panel-separator-color: @dls-border-color-normal;

/**
 * Date Picker Input
 *  The difference between date-picker-input and default-input:
 *  1. only has border at bottom
 *  2. focus: shadows is 0 1 0 0, not fade
 */

/* Height */
@dls-date-picker-input-height-s: @dls-height-s;
@dls-date-picker-input-height-m: @dls-height-m;

/* Spacing */
@dls-date-picker-input-range-spacing: @dls-spacing-unit * 3;

/**
 * Date Picker Header
 *  select year / month
 */

/* Font Size */
@dls-date-picker-header-pagination-font-size: calc(1em - 2px);
@dls-date-picker-header-icon-size-aux: @dls-icon-size-aux; // 展开收起

/* Padding & Spacing */
@dls-date-picker-header-padding-x: @dls-padding-unit * 2;
@dls-date-picker-header-padding-y: @dls-padding-unit * 4;
@dls-date-picker-header-pagination-spacing: @dls-padding-unit * 3; // 年月切换箭头间距
@dls-date-picker-header-icon-aux-spacing: @dls-padding-unit * 2; // 年月和箭头间距

/**
 * Date Picker Body
 *  includes day-header（weekdays）, day and month and year body
 */
@dls-date-picker-day-header-padding-top: @dls-padding-unit * 2; // 星期距分割线
@dls-date-picker-day-body-padding-x: @dls-padding-unit * 4;
@dls-date-picker-day-body-padding-top: @dls-padding-unit * 3;
@dls-date-picker-day-body-padding-bottom: @dls-padding-unit * 4;

@dls-date-picker-month-body-padding-top: @dls-padding-unit * 6;
@dls-date-picker-month-body-padding-y: @dls-padding-unit * 4;
@dls-date-picker-year-body-padding-top: @dls-padding-unit * 6;
@dls-date-picker-month-body-padding-y: @dls-padding-unit * 4;

/**
 * Date Picker Cell
 *  includes date picker cell, month picker and year picker
 */

/* Height */
@dls-date-picker-cell-height-s: @dls-height-s;
@dls-date-picker-cell-height-m: @dls-height-m;

/* Border Radius */
@dls-date-picker-cell-border-radius-s: @dls-border-radius-s;
@dls-date-picker-cell-border-radius-m: @dls-border-radius-m;

/* Focus rings */
@dls-date-picker-cell-shadow-focus: @dls-shadow-focus;

/* Font colors */
@dls-date-picker-cell-font-color: @dls-font-color-normal;
@dls-date-picker-cell-font-color-aux: @dls-font-color-weak;
@dls-date-picker-cell-font-color-disabled: @dls-font-color-disabled;
@dls-date-picker-cell-font-color-selected: @dls-color-gray-1;

/* Spacing, except for beginning and end */
// day
@dls-date-picker-day-cell-spacing-y: @dls-spacing-unit;
@dls-date-picker-day-cell-spacing-x: @dls-spacing-unit * 2;

// month
@dls-date-picker-month-cell-spacing-y: @dls-spacing-unit * 5;
@dls-date-picker-month-cell-padding-x: @dls-spacing-unit * 2;

// year
@dls-date-picker-year-cell-spacing-y: @dls-spacing-unit* 5;
@dls-date-picker-year-cell-padding-x: @dls-spacing-unit * 2;

/* Background */
// default
@dls-date-picker-cell-background-color: @dls-background-color-normal;
@dls-date-picker-cell-background-color-focus: @dls-background-color-normal-focus;
@dls-date-picker-cell-background-color-disabled: @dls-background-color-disabled;
@dls-date-picker-cell-background-color-hover: @dls-color-brand-1;
@dls-date-picker-cell-background-color-active: @dls-color-brand-2;

// selected
@dls-date-picker-cell-background-color-selected: @dls-color-brand-6;
@dls-date-picker-cell-background-color-selected-hover: @dls-color-brand-5;
@dls-date-picker-cell-background-color-selected-focus: @dls-color-brand-5;
@dls-date-picker-cell-background-color-selected-active: @dls-color-brand-7;

// aux
@dls-date-picker-cell-background-color-aux: @dls-color-gray-1;
@dls-date-picker-cell-background-color-aux-hover: @dls-color-gray-3;
@dls-date-picker-cell-background-color-aux-focus: @dls-color-gray-3;
@dls-date-picker-cell-background-color-aux-active: @dls-color-gray-4;

// range end（时段末尾选择)
@dls-date-picker-cell-background-color-range-end-hover: @dls-date-picker-cell-background-color-hover;
@dls-date-picker-cell-background-color-range-end-focus: @dls-date-picker-cell-background-color-active;

/* Border Color */
@dls-date-picker-cell-border-color: transparent;
@dls-date-picker-cell-border-focus-color: @dls-border-color-focus;

@dls-date-picker-cell-border-color-range-end-hover: @dls-color-brand-6;
@dls-date-picker-cell-border-color-range-end-active: @dls-color-brand-6;

/**
 * Year Scroller
 */

@dls-date-picker-year-scroller-width: 80px;
@dls-date-picker-year-scroller-item-height-m: @dls-height-m;
@dls-date-picker-year-scroller-item-height-s: @dls-height-s;

@dls-date-picker-year-scroller-padding-y: @dls-padding-unit * 4;
@dls-date-picker-year-scroller-item-spacing: @dls-spacing-unit;
@dls-date-picker-year-scroller-item-padding-x: @dls-padding-unit * 2;

@dls-date-picker-year-scroller-background-color: @dls-background-color-normal;
@dls-date-picker-year-scroller-background-color-focus: @dls-background-color-normal-focus;
@dls-date-picker-year-scroller-background-color-hover: @dls-background-color-normal-hover;
@dls-date-picker-year-scroller-background-color-active: @dls-background-color-normal-active;

@dls-date-picker-year-scroller-font-color: @dls-font-color-normal;
@dls-date-picker-year-scroller-font-color-focus: @dls-font-color-aux;
@dls-date-picker-year-scroller-font-color-hover: @dls-font-color-aux;
@dls-date-picker-year-scroller-font-color-active: @dls-font-color-strong;

@dls-date-picker-year-scroller-font-color-selected: @dls-color-brand-6;
@dls-date-picker-year-scroller-font-color-selected-focus: @dls-color-brand-5;
@dls-date-picker-year-scroller-font-color-selected-hover: @dls-color-brand-5;
@dls-date-picker-year-scroller-font-color-selected-active: @dls-color-brand-7;

@dls-date-picker-year-scroller-font-weight-selected: @dls-font-weight-2;

