@import "../global.less";
@import "./button.less";

@dls-dropdown-icon-size-aux: @dls-icon-size-aux;
@dls-dropdown-icon-spacing-aux: @dls-padding-unit * 2;
@dls-dropdown-split-button-padding-x: @dls-padding-unit * 3;

/* Stylistic variants */

// important: only applies to splitted toggle buttons
// and only for normal and primary dropdowns

@dls-dropdown-icon-color-aux-normal: @dls-icon-color-aux;
@dls-dropdown-icon-color-aux-normal-disabled: @dls-icon-color-aux-disabled;

@dls-dropdown-icon-color-aux-primary: currentColor;
@dls-dropdown-icon-color-aux-primary-disabled: currentColor;

// See Button for Dropdown button styles (with text button variant)
// See Option for dropdown option styles
