@import "../global.less";

/** Metrics **/

// Height
@dls-number-input-height-xs: @dls-height-unit * 6;
@dls-number-input-height-s: @dls-height-unit * 7;
@dls-number-input-height-m: @dls-height-unit * 8;

// Normal number input style variant
@dls-number-input-width-normal-xs: @dls-padding-unit * 15;
@dls-number-input-width-normal-s: @dls-padding-unit * 15;
@dls-number-input-width-normal-m: @dls-padding-unit * 16;

// Normal spin button
@dls-number-input-spin-button-width-normal: @dls-padding-unit * 4.5;

@dls-number-input-spin-button-height-normal-xs: @dls-padding-unit * 3;
@dls-number-input-spin-button-height-normal-s: @dls-padding-unit * 3.5;
@dls-number-input-spin-button-height-normal-m: @dls-padding-unit * 4;

// Normal spin button icon
@dls-number-input-spin-button-icon-width-normal: @dls-padding-unit * 2;
@dls-number-input-spin-button-icon-height-normal: @dls-height-unit * 2;

// Strong number input style variant
@dls-number-input-width-strong-xs: @dls-padding-unit * 24;
@dls-number-input-width-strong-s: @dls-padding-unit * 26;
@dls-number-input-width-strong-m: @dls-padding-unit * 31;

// Strong spin button
@dls-number-input-spin-button-width-strong-xs: @dls-padding-unit * 6;
@dls-number-input-spin-button-width-strong-s: @dls-padding-unit * 7;
@dls-number-input-spin-button-width-strong-m: @dls-padding-unit * 8;

// Strong spin button icon
@dls-number-input-spin-button-icon-width-normal: @dls-padding-unit * 2.5;
@dls-number-input-spin-button-icon-height-normal: @dls-padding-unit * 2.5;

// Radius
@dls-number-input-border-radius-xs: @dls-border-radius-s;
@dls-number-input-border-radius-s: @dls-border-radius-m;
@dls-number-input-border-radius-m: @dls-border-radius-m;

/** Colors, same as input colors */
