@import "../global.less";

/* Metrics */
@dls-tab-height-s: @dls-height-unit * 10;
@dls-tab-height-m: @dls-height-unit * 11;
@dls-tab-height-l: @dls-height-unit * 12;

@dls-tab-height-segment-m: @dls-height-unit * 9;
@dls-tab-height-segment-s: @dls-height-unit * 8;

@dls-tab-padding-x-s: @dls-padding-unit * 4;
@dls-tab-padding-x-m: @dls-padding-unit * 4;
@dls-tab-padding-x-l: @dls-padding-unit * 4;

@dls-tab-spacing-x-s: @dls-padding-unit * 5;
@dls-tab-spacing-x-m: @dls-padding-unit * 6;
@dls-tab-spacing-x-l: @dls-padding-unit * 7;

@dls-tab-dropdown-spacing-x: @dls-padding-unit * 2;
@dls-tab-dropdown-spacing-y: @dls-padding-unit * 2;
@dls-tab-content-spacing: @dls-padding-unit * 1;

@dls-tab-nav-spacing-s: @dls-padding-unit * 2;
@dls-tab-nav-spacing-m: @dls-padding-unit * 3;

/* Typography */
// Sizes
@dls-tab-font-size-s: @dls-font-size-s;
@dls-tab-font-size-m: @dls-font-size-m;
@dls-tab-font-size-l: @dls-font-size-l;

// Colors
@dls-tab-font-color: @dls-font-color-normal;
@dls-tab-font-color-hover: @dls-font-color-aux;
@dls-tab-font-color-focus: @dls-tab-font-color-hover;
@dls-tab-font-color-active: @dls-font-color-strong;
@dls-tab-font-color-disabled: @dls-font-color-disabled;

@dls-tab-font-color-current: @dls-color-brand-6;
@dls-tab-font-color-current-hover: @dls-color-brand-5;
@dls-tab-font-color-current-focus: @dls-tab-font-color-current-hover;
@dls-tab-font-color-current-active: @dls-color-brand-7;

@dls-tab-background-color-focus: @dls-background-color-normal-focus;

// Weights
@dls-tab-font-weight-current: @dls-font-weight-2;

/* Container */
@dls-tab-container-separator-color: @dls-separator-color-strong;
@dls-tab-container-border-width: 1px;

/* Panel */
@dls-tab-panel-padding-top: @dls-padding-unit * 4;
@dls-tab-panel-padding-x-segment: @dls-padding-unit * 4;
@dls-tab-panel-padding-y-segment: @dls-padding-unit * 4;

/* Misc */
// Overflow shadow
@dls-tab-overflow-shadow-right: @dls-shadow-overflow-right;
@dls-tab-overflow-shadow-left: @dls-shadow-overflow-left;

// Indicator
@dls-tab-indicator-color: @dls-tab-font-color-current;
@dls-tab-indicator-width: 2px;

// Icon size
@dls-tab-icon-size: @dls-icon-size-normal;
@dls-tab-icon-size-aux: @dls-icon-size-aux;
