@import "../global.less";

/* Metrics */
@dls-tree-node-height-s: @dls-height-unit * 7;
@dls-tree-node-height-m: @dls-height-unit * 8;

@dls-tree-font-size-s: @dls-font-size-0;
@dls-tree-font-size-m: @dls-font-size-1;

@dls-tree-icon-size: @dls-icon-size-normal;
@dls-tree-icon-size-aux: @dls-icon-size-aux;

@dls-tree-padding-x: @dls-padding-unit * 4;
@dls-tree-node-content-spacing: @dls-padding-unit * 2;

/* Colors & States */
@dls-tree-icon-color-aux: @dls-icon-color-aux;
@dls-tree-icon-color-aux-disabled: @dls-icon-color-aux-disabled;

@dls-tree-node-font-color: @dls-foreground-color-neutral;
@dls-tree-node-font-color-disabled: @dls-foreground-color-neutral-disabled;
@dls-tree-node-font-color-selected: @dls-foreground-color-primary;
@dls-tree-node-font-color-selected-hover: @dls-foreground-color-primary-hover;
@dls-tree-node-font-color-selected-focus: @dls-tree-node-font-color-selected-hover;
@dls-tree-node-font-color-selected-active: @dls-foreground-color-primary-active;
@dls-tree-node-font-color-highlighted: @dls-foreground-color-highlighted;

@dls-tree-node-background-color: @dls-background-color-pressable;
@dls-tree-node-background-color-hover: @dls-background-color-pressable-hover;
@dls-tree-node-background-color-focus: @dls-tree-node-background-color-hover;
@dls-tree-node-background-color-active: @dls-background-color-pressable-active;
@dls-tree-node-background-color-selected: @dls-background-color-current;
@dls-tree-node-background-color-selected-hover: @dls-background-color-current-hover;
@dls-tree-node-background-color-selected-focus: @dls-tree-node-background-color-selected-hover;
@dls-tree-node-background-color-selected-active: @dls-background-color-current-active;

@dls-tree-node-font-weight-selected: @dls-font-weight-1;
