div {
  -dls-steps-title-font-size-s: 12px;
  -dls-steps-title-font-size-m: 14px;
  -dls-steps-desc-font-size-s: 12px;
  -dls-steps-desc-font-size-m: 12px;
  -dls-steps-marker-font-size-s: 14px;
  -dls-steps-marker-font-size-m: 16px;
  -dls-steps-title-font-weight: 500;
  -dls-steps-title-font-color: #282c33;
  -dls-steps-title-font-color-hover: #282c33;
  -dls-steps-title-font-color-focus: #282c33;
  -dls-steps-title-font-color-active: #282c33;
  -dls-steps-desc-font-color: #848b99;
  -dls-steps-title-font-color-incomplete: #848b99;
  -dls-steps-desc-font-color-incomplete: #848b99;
  -dls-steps-marker-size-s: 28px;
  -dls-steps-marker-size-m: 28px;
  -dls-steps-marker-icon-size: calc(1em + 2px);
  -dls-steps-title-max-width: 10em;
  -dls-steps-desc-max-width: 12em;
  -dls-steps-marker-spacing: 8px;
  -dls-steps-title-spacing: 4px;
  -dls-steps-connector-spacing-horizontal: 8px;
  -dls-steps-connector-spacing-vertical: 8px;
  -dls-steps-connector-min-length: 40px;
  -dls-steps-marker-background-color-incomplete: #ebedf5;
  -dls-steps-marker-background-color-incomplete-hover: #e2e6f0;
  -dls-steps-marker-background-color-incomplete-focus: #e2e6f0;
  -dls-steps-marker-background-color-incomplete-active: #d3d9e6;
  -dls-steps-marker-border-color-incomplete: transparent;
  -dls-steps-marker-background-color-dot-incomplete: #a8b0bf;
  -dls-steps-marker-background-color-dot-incomplete-hover: #848b99;
  -dls-steps-marker-background-color-dot-incomplete-focus: #848b99;
  -dls-steps-marker-background-color-dot-incomplete-active: #545b66;
  -dls-steps-marker-border-color-dot-incomplete: transparent;
  -dls-steps-marker-foreground-color-incomplete: #848b99;
  -dls-steps-connector-color-incomplete: #d3d9e6;
  -dls-steps-marker-background-color-completed: #f2f7ff;
  -dls-steps-marker-background-color-completed-hover: #e1edff;
  -dls-steps-marker-background-color-completed-focus: #e1edff;
  -dls-steps-marker-background-color-completed-active: #c0d9ff;
  -dls-steps-marker-border-color-completed: transparent;
  -dls-steps-marker-background-color-dot-completed: #0052cc;
  -dls-steps-marker-background-color-dot-completed-hover: #0066ff;
  -dls-steps-marker-background-color-dot-completed-focus: #0066ff;
  -dls-steps-marker-background-color-dot-completed-active: #0046ad;
  -dls-steps-marker-border-color-dot-completed: transparent;
  -dls-steps-marker-foreground-color-completed: #0052cc;
  -dls-steps-connector-color-completed: #0052cc;
  -dls-steps-marker-background-color-error: #fff4f2;
  -dls-steps-marker-background-color-error-hover: #ffe4e1;
  -dls-steps-marker-background-color-error-focus: #ffe4e1;
  -dls-steps-marker-background-color-error-active: #ffc7c0;
  -dls-steps-marker-border-color-error: transparent;
  -dls-steps-marker-background-color-dot-error: #cc1800;
  -dls-steps-marker-background-color-dot-error-hover: #ff1e00;
  -dls-steps-marker-background-color-dot-error-focus: #ff1e00;
  -dls-steps-marker-background-color-dot-error-active: #ad1400;
  -dls-steps-marker-border-color-dot-error: transparent;
  -dls-steps-marker-foreground-color-error: #cc1800;
  -dls-steps-connector-color-error: #cc1800;
  -dls-steps-marker-background-color-current: #0052cc;
  -dls-steps-marker-background-color-current-hover: #0066ff;
  -dls-steps-marker-background-color-current-focus: #0066ff;
  -dls-steps-marker-background-color-current-active: #0046ad;
  -dls-steps-marker-border-color-current: transparent;
  -dls-steps-marker-background-color-dot-current: #0052cc;
  -dls-steps-marker-background-color-dot-current-hover: #0066ff;
  -dls-steps-marker-background-color-dot-current-focus: #0066ff;
  -dls-steps-marker-background-color-dot-current-active: #0046ad;
  -dls-steps-marker-border-color-dot-current: transparent;
  -dls-steps-marker-foreground-color-current: #fff;
  -dls-steps-connector-color-current: #0052cc;
  -dls-steps-marker-background-color-error-current: #cc1800;
  -dls-steps-marker-background-color-error-current-hover: #ff1e00;
  -dls-steps-marker-background-color-error-current-focus: #ff1e00;
  -dls-steps-marker-background-color-error-current-active: #ad1400;
  -dls-steps-marker-border-color-error-current: transparent;
  -dls-steps-marker-background-color-dot-error-current: #cc1800;
  -dls-steps-marker-background-color-dot-error-current-hover: #ff1e00;
  -dls-steps-marker-background-color-dot-error-current-focus: #ff1e00;
  -dls-steps-marker-background-color-dot-error-current-active: #ad1400;
  -dls-steps-marker-border-color-dot-error-current: transparent;
  -dls-steps-marker-foreground-color-error-current: #fff;
  -dls-steps-connector-color-error-current: #cc1800;
  -dls-steps-marker-border-color-focus: #0052cc;
  -dls-steps-marker-border-color-error-focus: #cc1800;
  -dls-steps-marker-shadow-focus: 0 0 0 2px rgba(0, 102, 255, 0.2);
  -dls-steps-marker-shadow-error-focus: 0 0 0 2px rgba(255, 30, 0, 0.2);
}
