div {
  -dls-steps-title-font-size-s: @dls-steps-title-font-size-s;
  -dls-steps-title-font-size-m: @dls-steps-title-font-size-m;
  -dls-steps-desc-font-size-s: @dls-steps-desc-font-size-s;
  -dls-steps-desc-font-size-m: @dls-steps-desc-font-size-m;
  -dls-steps-marker-font-size-s: @dls-steps-marker-font-size-s;
  -dls-steps-marker-font-size-m: @dls-steps-marker-font-size-m;
  -dls-steps-title-font-weight: @dls-steps-title-font-weight;
  -dls-steps-title-font-color: @dls-steps-title-font-color;
  -dls-steps-title-font-color-hover: @dls-steps-title-font-color-hover;
  -dls-steps-title-font-color-focus: @dls-steps-title-font-color-focus;
  -dls-steps-title-font-color-active: @dls-steps-title-font-color-active;
  -dls-steps-desc-font-color: @dls-steps-desc-font-color;
  -dls-steps-title-font-color-incomplete: @dls-steps-title-font-color-incomplete;
  -dls-steps-desc-font-color-incomplete: @dls-steps-desc-font-color-incomplete;
  -dls-steps-marker-size-s: @dls-steps-marker-size-s;
  -dls-steps-marker-size-m: @dls-steps-marker-size-m;
  -dls-steps-marker-size-dot-s: @dls-steps-marker-size-dot-s;
  -dls-steps-marker-size-dot-m: @dls-steps-marker-size-dot-m;
  -dls-steps-marker-ring-width-dot-s: @dls-steps-marker-ring-width-dot-s;
  -dls-steps-marker-ring-width-dot-m: @dls-steps-marker-ring-width-dot-m;
  -dls-steps-marker-icon-size: @dls-steps-marker-icon-size;
  -dls-steps-title-max-width: @dls-steps-title-max-width;
  -dls-steps-desc-max-width: @dls-steps-desc-max-width;
  -dls-steps-marker-spacing: @dls-steps-marker-spacing;
  -dls-steps-title-spacing: @dls-steps-title-spacing;
  -dls-steps-connector-spacing-horizontal: @dls-steps-connector-spacing-horizontal;
  -dls-steps-connector-spacing-vertical: @dls-steps-connector-spacing-vertical;
  -dls-steps-connector-min-length: @dls-steps-connector-min-length;
  -dls-steps-marker-background-color-incomplete: @dls-steps-marker-background-color-incomplete;
  -dls-steps-marker-background-color-incomplete-hover: @dls-steps-marker-background-color-incomplete-hover;
  -dls-steps-marker-background-color-incomplete-focus: @dls-steps-marker-background-color-incomplete-focus;
  -dls-steps-marker-background-color-incomplete-active: @dls-steps-marker-background-color-incomplete-active;
  -dls-steps-marker-border-color-incomplete: @dls-steps-marker-border-color-incomplete;
  -dls-steps-marker-background-color-dot-incomplete: @dls-steps-marker-background-color-dot-incomplete;
  -dls-steps-marker-background-color-dot-incomplete-hover: @dls-steps-marker-background-color-dot-incomplete-hover;
  -dls-steps-marker-background-color-dot-incomplete-focus: @dls-steps-marker-background-color-dot-incomplete-focus;
  -dls-steps-marker-background-color-dot-incomplete-active: @dls-steps-marker-background-color-dot-incomplete-active;
  -dls-steps-marker-border-color-dot-incomplete: @dls-steps-marker-border-color-dot-incomplete;
  -dls-steps-marker-foreground-color-incomplete: @dls-steps-marker-foreground-color-incomplete;
  -dls-steps-connector-color-incomplete: @dls-steps-connector-color-incomplete;
  -dls-steps-marker-background-color-completed: @dls-steps-marker-background-color-completed;
  -dls-steps-marker-background-color-completed-hover: @dls-steps-marker-background-color-completed-hover;
  -dls-steps-marker-background-color-completed-focus: @dls-steps-marker-background-color-completed-focus;
  -dls-steps-marker-background-color-completed-active: @dls-steps-marker-background-color-completed-active;
  -dls-steps-marker-border-color-completed: @dls-steps-marker-border-color-completed;
  -dls-steps-marker-background-color-dot-completed: @dls-steps-marker-background-color-dot-completed;
  -dls-steps-marker-background-color-dot-completed-hover: @dls-steps-marker-background-color-dot-completed-hover;
  -dls-steps-marker-background-color-dot-completed-focus: @dls-steps-marker-background-color-dot-completed-focus;
  -dls-steps-marker-background-color-dot-completed-active: @dls-steps-marker-background-color-dot-completed-active;
  -dls-steps-marker-border-color-dot-completed: @dls-steps-marker-border-color-dot-completed;
  -dls-steps-marker-foreground-color-completed: @dls-steps-marker-foreground-color-completed;
  -dls-steps-connector-color-completed: @dls-steps-connector-color-completed;
  -dls-steps-marker-background-color-error: @dls-steps-marker-background-color-error;
  -dls-steps-marker-background-color-error-hover: @dls-steps-marker-background-color-error-hover;
  -dls-steps-marker-background-color-error-focus: @dls-steps-marker-background-color-error-focus;
  -dls-steps-marker-background-color-error-active: @dls-steps-marker-background-color-error-active;
  -dls-steps-marker-border-color-error: @dls-steps-marker-border-color-error;
  -dls-steps-marker-background-color-dot-error: @dls-steps-marker-background-color-dot-error;
  -dls-steps-marker-background-color-dot-error-hover: @dls-steps-marker-background-color-dot-error-hover;
  -dls-steps-marker-background-color-dot-error-focus: @dls-steps-marker-background-color-dot-error-focus;
  -dls-steps-marker-background-color-dot-error-active: @dls-steps-marker-background-color-dot-error-active;
  -dls-steps-marker-border-color-dot-error: @dls-steps-marker-border-color-dot-error;
  -dls-steps-marker-foreground-color-error: @dls-steps-marker-foreground-color-error;
  -dls-steps-connector-color-error: @dls-steps-connector-color-error;
  -dls-steps-marker-background-color-current: @dls-steps-marker-background-color-current;
  -dls-steps-marker-background-color-current-hover: @dls-steps-marker-background-color-current-hover;
  -dls-steps-marker-background-color-current-focus: @dls-steps-marker-background-color-current-focus;
  -dls-steps-marker-background-color-current-active: @dls-steps-marker-background-color-current-active;
  -dls-steps-marker-border-color-current: @dls-steps-marker-border-color-current;
  -dls-steps-marker-background-color-dot-current: @dls-steps-marker-background-color-dot-current;
  -dls-steps-marker-background-color-dot-current-hover: @dls-steps-marker-background-color-dot-current-hover;
  -dls-steps-marker-background-color-dot-current-focus: @dls-steps-marker-background-color-dot-current-focus;
  -dls-steps-marker-background-color-dot-current-active: @dls-steps-marker-background-color-dot-current-active;
  -dls-steps-marker-border-color-dot-current: @dls-steps-marker-border-color-dot-current;
  -dls-steps-marker-foreground-color-current: @dls-steps-marker-foreground-color-current;
  -dls-steps-connector-color-current: @dls-steps-connector-color-current;
  -dls-steps-marker-background-color-error-current: @dls-steps-marker-background-color-error-current;
  -dls-steps-marker-background-color-error-current-hover: @dls-steps-marker-background-color-error-current-hover;
  -dls-steps-marker-background-color-error-current-focus: @dls-steps-marker-background-color-error-current-focus;
  -dls-steps-marker-background-color-error-current-active: @dls-steps-marker-background-color-error-current-active;
  -dls-steps-marker-border-color-error-current: @dls-steps-marker-border-color-error-current;
  -dls-steps-marker-background-color-dot-error-current: @dls-steps-marker-background-color-dot-error-current;
  -dls-steps-marker-background-color-dot-error-current-hover: @dls-steps-marker-background-color-dot-error-current-hover;
  -dls-steps-marker-background-color-dot-error-current-focus: @dls-steps-marker-background-color-dot-error-current-focus;
  -dls-steps-marker-background-color-dot-error-current-active: @dls-steps-marker-background-color-dot-error-current-active;
  -dls-steps-marker-border-color-dot-error-current: @dls-steps-marker-border-color-dot-error-current;
  -dls-steps-marker-foreground-color-error-current: @dls-steps-marker-foreground-color-error-current;
  -dls-steps-connector-color-error-current: @dls-steps-connector-color-error-current;
  -dls-steps-marker-background-color-stateless: @dls-steps-marker-background-color-stateless;
  -dls-steps-marker-border-color-stateless: @dls-steps-marker-border-color-stateless;
  -dls-steps-marker-background-color-dot-stateless: @dls-steps-marker-background-color-dot-stateless;
  -dls-steps-marker-border-color-dot-stateless: @dls-steps-marker-border-color-dot-stateless;
  -dls-steps-marker-foreground-color-stateless: @dls-steps-marker-foreground-color-stateless;
  -dls-steps-connector-color-stateless: @dls-steps-connector-color-stateless;
  -dls-steps-marker-border-color-focus: @dls-steps-marker-border-color-focus;
  -dls-steps-marker-border-color-error-focus: @dls-steps-marker-border-color-error-focus;
  -dls-steps-marker-shadow-focus: @dls-steps-marker-shadow-focus;
  -dls-steps-marker-shadow-error-focus: @dls-steps-marker-shadow-error-focus;
}
