div {
  -dls-steps-title-font-size-s: 12px;
  -dls-steps-title-font-size-m: 14px;
  -dls-steps-desc-font-size-s: 12px;
  -dls-steps-desc-font-size-m: 12px;
  -dls-steps-marker-font-size-s: 16px;
  -dls-steps-marker-font-size-m: 16px;
  -dls-steps-title-font-weight: 500;
  -dls-steps-title-font-color: rgba(13, 15, 18, 0.95);
  -dls-steps-title-font-color-hover: rgba(13, 15, 18, 0.95);
  -dls-steps-title-font-color-focus: rgba(13, 15, 18, 0.95);
  -dls-steps-title-font-color-active: rgba(13, 15, 18, 0.95);
  -dls-steps-desc-font-color: rgba(80, 90, 107, 0.8);
  -dls-steps-title-font-color-incomplete: rgba(80, 90, 107, 0.8);
  -dls-steps-desc-font-color-incomplete: rgba(80, 90, 107, 0.8);
  -dls-steps-marker-size-s: 28px;
  -dls-steps-marker-size-m: 28px;
  -dls-steps-marker-size-dot-s: 10px;
  -dls-steps-marker-size-dot-m: 10px;
  -dls-steps-marker-ring-width-dot-s: 2px;
  -dls-steps-marker-ring-width-dot-m: 2px;
  -dls-steps-marker-icon-size: 16px;
  -dls-steps-title-max-width: 10em;
  -dls-steps-desc-max-width: 12em;
  -dls-steps-marker-spacing: 8px;
  -dls-steps-title-spacing: 4px;
  -dls-steps-connector-spacing-horizontal: 8px;
  -dls-steps-connector-spacing-vertical: 8px;
  -dls-steps-connector-min-length: 40px;
  -dls-steps-marker-background-color-incomplete: #ebedf5;
  -dls-steps-marker-background-color-incomplete-hover: #e2e6f0;
  -dls-steps-marker-background-color-incomplete-focus: #e2e6f0;
  -dls-steps-marker-background-color-incomplete-active: #d3d9e6;
  -dls-steps-marker-border-color-incomplete: transparent;
  -dls-steps-marker-background-color-dot-incomplete: #a8b0bf;
  -dls-steps-marker-background-color-dot-incomplete-hover: #848b99;
  -dls-steps-marker-background-color-dot-incomplete-focus: #848b99;
  -dls-steps-marker-background-color-dot-incomplete-active: #545b66;
  -dls-steps-marker-border-color-dot-incomplete: transparent;
  -dls-steps-marker-foreground-color-incomplete: rgba(80, 90, 107, 0.8);
  -dls-steps-connector-color-incomplete: #d3d9e6;
  -dls-steps-marker-background-color-completed: #ebf2ff;
  -dls-steps-marker-background-color-completed-hover: #dce9ff;
  -dls-steps-marker-background-color-completed-focus: #dce9ff;
  -dls-steps-marker-background-color-completed-active: #bfd7ff;
  -dls-steps-marker-border-color-completed: transparent;
  -dls-steps-marker-background-color-dot-completed: #0054e6;
  -dls-steps-marker-background-color-dot-completed-hover: #1a6eff;
  -dls-steps-marker-background-color-dot-completed-focus: #1a6eff;
  -dls-steps-marker-background-color-dot-completed-active: #0047c4;
  -dls-steps-marker-border-color-dot-completed: transparent;
  -dls-steps-marker-foreground-color-completed: #0054e6;
  -dls-steps-connector-color-completed: #0054e6;
  -dls-steps-marker-background-color-error: #ffeceb;
  -dls-steps-marker-background-color-error-hover: #ffdedc;
  -dls-steps-marker-background-color-error-focus: #ffdedc;
  -dls-steps-marker-background-color-error-active: #ffc4c0;
  -dls-steps-marker-border-color-error: transparent;
  -dls-steps-marker-background-color-dot-error: #d9150b;
  -dls-steps-marker-background-color-dot-error-hover: #ff2b20;
  -dls-steps-marker-background-color-dot-error-focus: #ff2b20;
  -dls-steps-marker-background-color-dot-error-active: #b80900;
  -dls-steps-marker-border-color-dot-error: transparent;
  -dls-steps-marker-foreground-color-error: #d9150b;
  -dls-steps-connector-color-error: #d9150b;
  -dls-steps-marker-background-color-current: #0054e6;
  -dls-steps-marker-background-color-current-hover: #1a6eff;
  -dls-steps-marker-background-color-current-focus: #1a6eff;
  -dls-steps-marker-background-color-current-active: #0047c4;
  -dls-steps-marker-border-color-current: transparent;
  -dls-steps-marker-background-color-dot-current: #0054e6;
  -dls-steps-marker-background-color-dot-current-hover: #1a6eff;
  -dls-steps-marker-background-color-dot-current-focus: #1a6eff;
  -dls-steps-marker-background-color-dot-current-active: #0047c4;
  -dls-steps-marker-border-color-dot-current: transparent;
  -dls-steps-marker-foreground-color-current: #fff;
  -dls-steps-connector-color-current: #0054e6;
  -dls-steps-marker-background-color-error-current: #d9150b;
  -dls-steps-marker-background-color-error-current-hover: #ff2b20;
  -dls-steps-marker-background-color-error-current-focus: #ff2b20;
  -dls-steps-marker-background-color-error-current-active: #b80900;
  -dls-steps-marker-border-color-error-current: transparent;
  -dls-steps-marker-background-color-dot-error-current: #d9150b;
  -dls-steps-marker-background-color-dot-error-current-hover: #ff2b20;
  -dls-steps-marker-background-color-dot-error-current-focus: #ff2b20;
  -dls-steps-marker-background-color-dot-error-current-active: #b80900;
  -dls-steps-marker-border-color-dot-error-current: transparent;
  -dls-steps-marker-foreground-color-error-current: #fff;
  -dls-steps-connector-color-error-current: #d9150b;
  -dls-steps-marker-background-color-stateless: #ebf2ff;
  -dls-steps-marker-border-color-stateless: transparent;
  -dls-steps-marker-background-color-dot-stateless: #0054e6;
  -dls-steps-marker-border-color-dot-stateless: transparent;
  -dls-steps-marker-foreground-color-stateless: #0054e6;
  -dls-steps-connector-color-stateless: #d3d9e6;
  -dls-steps-marker-border-color-focus: #0054e6;
  -dls-steps-marker-border-color-error-focus: #d9150b;
  -dls-steps-marker-shadow-focus: 0 0 0 2px rgba(26, 110, 255, 0.2);
  -dls-steps-marker-shadow-error-focus: 0 0 0 2px rgba(255, 43, 32, 0.2);
}
