div {
  -dls-layout-min-width: 1248px;
  -dls-layout-background-color: #f6f7fa;
  -dls-layout-header-height: 64px;
  -dls-layout-header-background-color: #fff;
  -dls-layout-header-shadow: 0 4px 10px rgba(0, 0, 0, 0.03), 0 3px 9px rgba(0, 0, 0, 0.02), 0 2px 8px rgba(0, 0, 0, 0.01);
  -dls-layout-sidebar-background-color: #fff;
  -dls-layout-sidebar-width: 200px;
  -dls-layout-sidebar-width-slim: 60px;
  -dls-layout-sidebar-shadow: 0 4px 10px rgba(0, 0, 0, 0.03), 0 3px 9px rgba(0, 0, 0, 0.02), 0 2px 8px rgba(0, 0, 0, 0.01);
  -dls-layout-sidebar-separator-color: #e2e6f0;
  -dls-layout-sidebar-toggle-height: 40px;
  -dls-layout-sidebar-toggle-padding-x: 8px;
  -dls-layout-sidebar-float-toggle-width: 18px;
  -dls-layout-sidebar-float-toggle-radius: 4px;
  -dls-layout-sidebar-float-button-font-color: #fff;
  -dls-layout-sidebar-float-toggle-backgroud-color: #a8b0bf;
  -dls-layout-sidebar-float-toggle-backgroud-color-hover: #848b99;
  -dls-layout-sidebar-float-toggle-backgroud-color-active: #545b66;
  -dls-layout-footer-height: 64px;
}
