div {
  -dls-switch-width-xs: @dls-switch-width-xs;
  -dls-switch-width-s: @dls-switch-width-s;
  -dls-switch-width-m: @dls-switch-width-m;
  -dls-switch-height-xs: @dls-switch-height-xs;
  -dls-switch-height-s: @dls-switch-height-s;
  -dls-switch-height-m: @dls-switch-height-m;
  -dls-switch-thumb-size-xs: @dls-switch-thumb-size-xs;
  -dls-switch-thumb-size-s: @dls-switch-thumb-size-s;
  -dls-switch-thumb-size-m: @dls-switch-thumb-size-m;
  -dls-switch-padding-xs: @dls-switch-padding-xs;
  -dls-switch-padding-s: @dls-switch-padding-s;
  -dls-switch-padding-m: @dls-switch-padding-m;
  -dls-switch-track-color-on: @dls-switch-track-color-on;
  -dls-switch-track-color-on-hover: @dls-switch-track-color-on-hover;
  -dls-switch-track-color-on-focus: @dls-switch-track-color-on-focus;
  -dls-switch-track-color-on-active: @dls-switch-track-color-on-active;
  -dls-switch-track-color-on-disabled: @dls-switch-track-color-on-disabled;
  -dls-switch-track-color-off: @dls-switch-track-color-off;
  -dls-switch-track-color-off-hover: @dls-switch-track-color-off-hover;
  -dls-switch-track-color-off-focus: @dls-switch-track-color-off-focus;
  -dls-switch-track-color-off-active: @dls-switch-track-color-off-active;
  -dls-switch-track-color-off-disabled: @dls-switch-track-color-off-disabled;
  -dls-switch-thumb-color-on: @dls-switch-thumb-color-on;
  -dls-switch-thumb-color-on-hover: @dls-switch-thumb-color-on-hover;
  -dls-switch-thumb-color-on-focus: @dls-switch-thumb-color-on-focus;
  -dls-switch-thumb-color-on-active: @dls-switch-thumb-color-on-active;
  -dls-switch-thumb-color-on-disabled: @dls-switch-thumb-color-on-disabled;
  -dls-switch-thumb-color-off: @dls-switch-thumb-color-off;
  -dls-switch-thumb-color-off-hover: @dls-switch-thumb-color-off-hover;
  -dls-switch-thumb-color-off-focus: @dls-switch-thumb-color-off-focus;
  -dls-switch-thumb-color-off-active: @dls-switch-thumb-color-off-active;
  -dls-switch-thumb-color-off-disabled: @dls-switch-thumb-color-off-disabled;
  -dls-switch-shadow-on-focus: @dls-switch-shadow-on-focus;
  -dls-switch-shadow-off-focus: @dls-switch-shadow-off-focus;
}
