div {
  -dls-switch-width-xs: 20px;
  -dls-switch-width-s: 26px;
  -dls-switch-width-m: 32px;
  -dls-switch-height-xs: 12px;
  -dls-switch-height-s: 16px;
  -dls-switch-height-m: 20px;
  -dls-switch-thumb-size-xs: 8px;
  -dls-switch-thumb-size-s: 12px;
  -dls-switch-thumb-size-m: 14px;
  -dls-switch-padding-xs: 2px;
  -dls-switch-padding-s: 2px;
  -dls-switch-padding-m: 3px;
  -dls-switch-track-color-on: #0054e6;
  -dls-switch-track-color-on-hover: #1a6eff;
  -dls-switch-track-color-on-focus: #1a6eff;
  -dls-switch-track-color-on-active: #0047c4;
  -dls-switch-track-color-on-disabled: #dce9ff;
  -dls-switch-track-color-off: #a8b0bf;
  -dls-switch-track-color-off-hover: #848b99;
  -dls-switch-track-color-off-focus: #848b99;
  -dls-switch-track-color-off-active: #545b66;
  -dls-switch-track-color-off-disabled: #e2e6f0;
  -dls-switch-thumb-color-on: #fff;
  -dls-switch-thumb-color-on-hover: #fff;
  -dls-switch-thumb-color-on-focus: #fff;
  -dls-switch-thumb-color-on-active: #fff;
  -dls-switch-thumb-color-on-disabled: #fff;
  -dls-switch-thumb-color-off: #fff;
  -dls-switch-thumb-color-off-hover: #fff;
  -dls-switch-thumb-color-off-focus: #fff;
  -dls-switch-thumb-color-off-active: #fff;
  -dls-switch-thumb-color-off-disabled: #fff;
  -dls-switch-shadow-on-focus: 0 0 0 2px rgba(26, 110, 255, 0.2);
  -dls-switch-shadow-off-focus: 0 0 0 2px rgba(26, 110, 255, 0.2);
}
