div {
  -dls-empty-max-width-s: 240px;
  -dls-empty-max-width-m: 320px;
  -dls-empty-image-max-height-s: 48px;
  -dls-empty-image-max-height-m: none;
  -dls-empty-title-font-size-s: 12px;
  -dls-empty-title-font-size-m: 14px;
  -dls-empty-title-line-height: 1.4;
  -dls-empty-title-font-color: rgba(13, 15, 18, 0.95);
  -dls-empty-title-font-weight: 500;
  -dls-empty-desc-font-size-s: 12px;
  -dls-empty-desc-font-size-m: 14px;
  -dls-empty-desc-line-height: 1.4;
  -dls-empty-desc-font-color: rgba(46, 52, 64, 0.9);
  -dls-empty-desc-font-weight: 400;
  -dls-empty-content-spacing: 8px;
  -dls-empty-actions-spacing-before: 16px;
  -dls-empty-actions-content-spacing: 8px;
}
