div {
  -dls-empty-max-width-s: @dls-empty-max-width-s;
  -dls-empty-max-width-m: @dls-empty-max-width-m;
  -dls-empty-image-max-height-s: @dls-empty-image-max-height-s;
  -dls-empty-image-max-height-m: @dls-empty-image-max-height-m;
  -dls-empty-title-font-size-s: @dls-empty-title-font-size-s;
  -dls-empty-title-font-size-m: @dls-empty-title-font-size-m;
  -dls-empty-title-line-height: @dls-empty-title-line-height;
  -dls-empty-title-font-color: @dls-empty-title-font-color;
  -dls-empty-title-font-weight: @dls-empty-title-font-weight;
  -dls-empty-desc-font-size-s: @dls-empty-desc-font-size-s;
  -dls-empty-desc-font-size-m: @dls-empty-desc-font-size-m;
  -dls-empty-desc-line-height: @dls-empty-desc-line-height;
  -dls-empty-desc-font-color: @dls-empty-desc-font-color;
  -dls-empty-desc-font-weight: @dls-empty-desc-font-weight;
  -dls-empty-content-spacing: @dls-empty-content-spacing;
  -dls-empty-actions-spacing-before: @dls-empty-actions-spacing-before;
  -dls-empty-actions-content-spacing: @dls-empty-actions-content-spacing;
}
