div {
  -dls-scrollbar-track-width: 10px;
  -dls-scrollbar-track-color: transparent;
  -dls-scrollbar-thumb-width: 6px;
  -dls-scrollbar-thumb-color: rgba(41, 82, 163, 0.2);
  -dls-scrollbar-thumb-color-hover: rgba(83, 98, 128, 0.5);
  -dls-scrollbar-thumb-border-radius: 3px;
}
