div {
  -dls-collapse-header-padding-x: @dls-collapse-header-padding-x;
  -dls-collapse-header-padding-y: @dls-collapse-header-padding-y;
  -dls-collapse-header-content-spacing: @dls-collapse-header-content-spacing;
  -dls-collapse-header-font-size-s: @dls-collapse-header-font-size-s;
  -dls-collapse-header-font-size-m: @dls-collapse-header-font-size-m;
  -dls-collapse-header-line-height: @dls-collapse-header-line-height;
  -dls-collapse-panel-padding-x: @dls-collapse-panel-padding-x;
  -dls-collapse-panel-padding-y: @dls-collapse-panel-padding-y;
  -dls-collapse-panel-font-size-s: @dls-collapse-panel-font-size-s;
  -dls-collapse-panel-font-size-m: @dls-collapse-panel-font-size-m;
  -dls-collapse-border-radius-s: @dls-collapse-border-radius-s;
  -dls-collapse-border-radius-m: @dls-collapse-border-radius-m;
  -dls-collapse-icon-size-aux: @dls-collapse-icon-size-aux;
  -dls-collapse-border-color: @dls-collapse-border-color;
  -dls-collapse-border-color-focus: @dls-collapse-border-color-focus;
  -dls-collapse-header-font-color: @dls-collapse-header-font-color;
  -dls-collapse-header-font-color-disabled: @dls-collapse-header-font-color-disabled;
  -dls-collapse-header-background-color: @dls-collapse-header-background-color;
  -dls-collapse-header-background-color-hover: @dls-collapse-header-background-color-hover;
  -dls-collapse-header-background-color-focus: @dls-collapse-header-background-color-focus;
  -dls-collapse-header-background-color-active: @dls-collapse-header-background-color-active;
  -dls-collapse-header-background-color-disabled: @dls-collapse-header-background-color-disabled;
  -dls-collapse-panel-font-color: @dls-collapse-panel-font-color;
  -dls-collapse-panel-background-color: @dls-collapse-panel-background-color;
  -dls-collapse-icon-color-aux: @dls-collapse-icon-color-aux;
  -dls-collapse-icon-color-aux-disabled: @dls-collapse-icon-color-aux-disabled;
}
