div {
  -dls-collapse-header-padding-x: 16px;
  -dls-collapse-header-padding-y: 12px;
  -dls-collapse-header-content-spacing: 8px;
  -dls-collapse-header-font-size-s: 12px;
  -dls-collapse-header-font-size-m: 14px;
  -dls-collapse-header-line-height: 1.5;
  -dls-collapse-body-padding-x: 16px;
  -dls-collapse-body-padding-y: 16px;
  -dls-collapse-body-font-size-s: 12px;
  -dls-collapse-body-font-size-m: 14px;
  -dls-collapse-border-radius-s: 2px;
  -dls-collapse-border-radius-m: 3px;
  -dls-collapse-icon-size-aux: calc(1em - 4px);
  -dls-collapse-border-color: #eee;
  -dls-collapse-border-color-focus: #3d88f2;
  -dls-collapse-header-font-color: #333;
  -dls-collapse-header-font-color-disabled: #ccc;
  -dls-collapse-header-background-color: #fafafa;
  -dls-collapse-header-background-color-hover: #f5f5f5;
  -dls-collapse-header-background-color-focus: #f2f7ff;
  -dls-collapse-header-background-color-active: #eee;
  -dls-collapse-header-background-color-disabled: #fafafa;
  -dls-collapse-body-font-color: #333;
  -dls-collapse-body-background-color: #fff;
  -dls-collapse-icon-color-aux: #999;
  -dls-collapse-icon-color-aux-disabled: #ccc;
}
