div {
  -dls-loading-font-size-s: @dls-loading-font-size-s;
  -dls-loading-font-size-m: @dls-loading-font-size-m;
  -dls-loading-font-size-l: @dls-loading-font-size-l;
  -dls-loading-size-s: @dls-loading-size-s;
  -dls-loading-size-m: @dls-loading-size-m;
  -dls-loading-size-l: @dls-loading-size-l;
  -dls-loading-padding: @dls-loading-padding;
  -dls-loading-content-spacing: @dls-loading-content-spacing;
  -dls-loading-font-color-normal: @dls-loading-font-color-normal;
  -dls-loading-font-color-strong: @dls-loading-font-color-strong;
  -dls-loading-font-color-reverse: @dls-loading-font-color-reverse;
  -dls-loading-color-normal: @dls-loading-color-normal;
  -dls-loading-color-strong: @dls-loading-color-strong;
  -dls-loading-color-reverse: @dls-loading-color-reverse;
  -dls-loading-background-color: @dls-loading-background-color;
  -dls-loading-background-color-reverse: @dls-loading-background-color-reverse;
}
