div {
  -dls-rating-symbol-color: #d3d9e6;
  -dls-rating-symbol-color-selected: #ff9448;
  -dls-rating-symbol-gap: var(--dls-rating-symbol-gap, 2px);
  -dls-rating-symbol-size: 14px;
  -dls-rating-symbol-scale-hover: 1.1;
  -dls-rating-label-spacing: var(--dls-rating-label-spacing, 16px);
  -dls-rating-label-font-color: rgba(13, 15, 18, 0.95);
  -dls-rating-label-font-size: 14px;
}
