div {
  -dls-toast-font-size-s: 12px;
  -dls-toast-font-size-m: 14px;
  -dls-toast-border-radius-s: 2px;
  -dls-toast-border-radius-m: 3px;
  -dls-toast-line-height: 2;
  -dls-toast-icon-size: 1em;
  -dls-toast-icon-size-titled: calc(1em + 4px);
  -dls-toast-icon-size-aux: calc(1em - 4px);
  -dls-toast-padding-x: 16px;
  -dls-toast-padding-y: 4px;
  -dls-toast-padding-y-multiline: 8px;
  -dls-toast-padding-y-titled: 16px;
  -dls-toast-content-spacing-before: 8px;
  -dls-toast-content-spacing-after: 16px;
  -dls-toast-spacing: 8px;
  -dls-toast-list-spacing-before: 8px;
  -dls-toast-max-width: 400px;
  -dls-toast-title-font-size-s: 12px;
  -dls-toast-title-font-size-m: 14px;
  -dls-toast-title-font-weight: 500;
  -dls-toast-title-line-height: 1.5;
  -dls-toast-title-spacing-after: 4px;
  -dls-toast-background-color: #fff;
  -dls-toast-font-color: #333;
  -dls-toast-title-font-color: #333;
  -dls-toast-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  -dls-toast-icon-color-info: #3d88f2;
  -dls-toast-icon-color-success: #39bf45;
  -dls-toast-icon-color-warning: #f27c49;
  -dls-toast-icon-color-error: #e64552;
}
