div {
  -dls-dialog-width-wide: 800px;
  -dls-dialog-width-medium: 600px;
  -dls-dialog-width-narrow: 400px;
  -dls-dialog-width-contextual: 400px;
  -dls-dialog-border-radius: 4px;
  -dls-dialog-spacing-y: 20px;
  -dls-dialog-max-height: calc(100vh - 40px);
  -dls-dialog-padding-x: 24px;
  -dls-dialog-padding-y: 24px;
  -dls-dialog-title-content-spacing: 16px;
  -dls-dialog-title-spacing-after: 12px;
  -dls-dialog-action-spacing-before: 20px;
  -dls-dialog-action-content-spacing: 12px;
  -dls-dialog-title-spacing-after-contextual: 4px;
  -dls-dialog-icon-spacing-contextual: 12px;
  -dls-dialog-icon-size-contextual: calc(1em + 4px);
  -dls-dialog-title-line-height: 1.5;
  -dls-dialog-body-line-height: 2;
  -dls-dialog-title-font-size-s: 14px;
  -dls-dialog-title-font-size-m: 16px;
  -dls-dialog-body-font-size-s: 12px;
  -dls-dialog-body-font-size-m: 14px;
  -dls-dialog-title-font-color: #000;
  -dls-dialog-body-font-color: #333;
  -dls-dialog-close-icon-size: calc(1em - 4px);
  -dls-dialog-close-icon-size-fullscreen: calc(1em - 4px);
  -dls-dialog-close-icon-min-size: 10px;
  -dls-dialog-icon-color-info: #3d88f2;
  -dls-dialog-icon-color-success: #39bf45;
  -dls-dialog-icon-color-warning: #f27c49;
  -dls-dialog-icon-color-error: #e64552;
  -dls-dialog-background-color: #fff;
  -dls-dialog-backdrop-color: rgba(0, 0, 0, 0.6);
  -dls-dialog-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
}
