div {
  -dls-checkbox-font-size-s: 12px;
  -dls-checkbox-font-size-m: 14px;
  -dls-checkbox-font-color: #282c33;
  -dls-checkbox-font-color-disabled: #a8b0bf;
  -dls-checkbox-size-s: 14px;
  -dls-checkbox-size-m: 16px;
  -dls-checkbox-icon-min-size: 8px;
  -dls-checkbox-icon-size: 1em;
  -dls-checkbox-border-radius: 2px;
  -dls-checkbox-spacing: 8px;
  -dls-checkbox-border-color: #d3d9e6;
  -dls-checkbox-border-color-hover: #a8b0bf;
  -dls-checkbox-border-color-focus: #0052cc;
  -dls-checkbox-border-color-active: #a8b0bf;
  -dls-checkbox-border-color-disabled: #e2e6f0;
  -dls-checkbox-border-color-checked: transparent;
  -dls-checkbox-border-color-checked-hover: transparent;
  -dls-checkbox-border-color-checked-focus: #0052cc;
  -dls-checkbox-border-color-checked-active: transparent;
  -dls-checkbox-border-color-checked-disabled: transparent;
  -dls-checkbox-background-color: #fff;
  -dls-checkbox-background-color-hover: #ebedf5;
  -dls-checkbox-background-color-focus: #ebedf5;
  -dls-checkbox-background-color-active: #d3d9e6;
  -dls-checkbox-background-color-disabled: #f6f7fa;
  -dls-checkbox-background-color-checked: #0052cc;
  -dls-checkbox-background-color-checked-hover: #0066ff;
  -dls-checkbox-background-color-checked-focus: #0066ff;
  -dls-checkbox-background-color-checked-active: #0046ad;
  -dls-checkbox-background-color-checked-disabled: #e1edff;
  -dls-checkbox-foreground-color: #fff;
  -dls-checkbox-foreground-color-hover: #fff;
  -dls-checkbox-foreground-color-focus: #fff;
  -dls-checkbox-foreground-color-active: #fff;
  -dls-checkbox-foreground-color-disabled: #fff;
  -dls-checkbox-shadow-focus: 0 0 0 2px rgba(0, 102, 255, 0.2);
  -dls-checkbox-group-spacing: 48px;
  -dls-checkbox-group-spacing-simple: 8px;
  -dls-checkbox-group-line-spacing: 8px;
  -dls-checkbox-icon-size-strong: 6px;
  -dls-checkbox-icon-spacing-strong: 3px;
  -dls-checkbox-icon-color-strong: #d3d9e6;
  -dls-checkbox-icon-color-strong-disabled: #e2e6f0;
  -dls-checkbox-icon-color-strong-checked: #0052cc;
  -dls-checkbox-icon-color-strong-checked-disabled: #c0d9ff;
}
