div {
  -dls-slider-height-vertical: 100px;
  -dls-slider-thumb-size-s: 8px;
  -dls-slider-thumb-size-m: 12px;
  -dls-slider-track-min-width: 2px;
  -dls-slider-track-width-s: 2px;
  -dls-slider-track-width-m: 4px;
  -dls-slider-track-border-radius-s: 1px;
  -dls-slider-track-border-radius-m: 2px;
  -dls-slider-thumb-dot-min-size: 2px;
  -dls-slider-thumb-dot-size-s: 2px;
  -dls-slider-thumb-dot-size-m: 4px;
  -dls-slider-mark-min-size: 4px;
  -dls-slider-mark-size-s: 4px;
  -dls-slider-mark-size-m: 8px;
  -dls-slider-font-size-s: 12px;
  -dls-slider-font-size-m: 14px;
  -dls-slider-font-color: rgba(13, 15, 18, 0.95);
  -dls-slider-font-color-disabled: rgba(83, 98, 128, 0.5);
  -dls-slider-thumb-background-color: #0054e6;
  -dls-slider-thumb-background-color-hover: #1a6eff;
  -dls-slider-thumb-background-color-focus: #1a6eff;
  -dls-slider-thumb-background-color-active: #0047c4;
  -dls-slider-thumb-background-color-read-only: #a8b0bf;
  -dls-slider-thumb-background-color-read-only-hover: #848b99;
  -dls-slider-thumb-background-color-read-only-focus: #848b99;
  -dls-slider-thumb-background-color-disabled: #dce9ff;
  -dls-slider-thumb-border-color-focus: #0054e6;
  -dls-slider-thumb-border-color-read-only-focus: #0054e6;
  -dls-slider-thumb-shadow-focus: 0 0 0 2px rgba(26, 110, 255, 0.2);
  -dls-slider-thumb-shadow-read-only-focus: 0 0 0 2px rgba(26, 110, 255, 0.2);
  -dls-slider-thumb-dot-color: #fff;
  -dls-slider-track-color: #e2e6f0;
  -dls-slider-track-color-hover: #d3d9e6;
  -dls-slider-track-color-read-only: #e2e6f0;
  -dls-slider-track-color-disabled: #e2e6f0;
  -dls-slider-track-progress-color: #0054e6;
  -dls-slider-track-progress-color-hover: #1a6eff;
  -dls-slider-track-progress-color-read-only: #a8b0bf;
  -dls-slider-track-progress-color-disabled: #dce9ff;
}
