div {
  -dls-slider-thumb-size-s: 8px;
  -dls-slider-thumb-size-m: 12px;
  -dls-slider-track-min-width: 2px;
  -dls-slider-track-width-s: 2px;
  -dls-slider-track-width-m: 4px;
  -dls-slider-track-border-radius-s: 1px;
  -dls-slider-track-border-radius-m: 2px;
  -dls-slider-thumb-dot-min-size: 2px;
  -dls-slider-thumb-dot-size-s: 2px;
  -dls-slider-thumb-dot-size-m: 4px;
  -dls-slider-mark-min-size: 4px;
  -dls-slider-mark-size-s: 4px;
  -dls-slider-mark-size-m: 8px;
  -dls-slider-font-size-s: 12px;
  -dls-slider-font-size-m: 14px;
  -dls-slider-font-color: #282c33;
  -dls-slider-font-color-disabled: #a8b0bf;
  -dls-slider-thumb-background-color: #0052cc;
  -dls-slider-thumb-background-color-hover: #0066ff;
  -dls-slider-thumb-background-color-focus: #0066ff;
  -dls-slider-thumb-background-color-active: #0046ad;
  -dls-slider-thumb-background-color-read-only: #a8b0bf;
  -dls-slider-thumb-background-color-read-only-hover: #848b99;
  -dls-slider-thumb-background-color-read-only-focus: #848b99;
  -dls-slider-thumb-background-color-disabled: #e1edff;
  -dls-slider-thumb-border-color-focus: #0052cc;
  -dls-slider-thumb-border-color-read-only-focus: #0052cc;
  -dls-slider-thumb-shadow-focus: 0 0 0 2px rgba(0, 102, 255, 0.2);
  -dls-slider-thumb-shadow-read-only-focus: 0 0 0 2px rgba(0, 102, 255, 0.2);
  -dls-slider-thumb-dot-color: #fff;
  -dls-slider-track-color: #e2e6f0;
  -dls-slider-track-color-hover: #d3d9e6;
  -dls-slider-track-color-read-only: #e2e6f0;
  -dls-slider-track-color-disabled: #e2e6f0;
  -dls-slider-track-progress-color: #0052cc;
  -dls-slider-track-progress-color-hover: #0066ff;
  -dls-slider-track-progress-color-read-only: #a8b0bf;
  -dls-slider-track-progress-color-disabled: #e1edff;
}
