div {
  -dls-alert-font-size-s: 12px;
  -dls-alert-font-size-m: 14px;
  -dls-alert-border-radius-s: 4px;
  -dls-alert-border-radius-m: 4px;
  -dls-alert-line-height: 1.6;
  -dls-alert-icon-size: calc(1em + 2px);
  -dls-alert-icon-size-titled: calc(1em + 2px);
  -dls-alert-icon-size-aux: calc(1em + 2px);
  -dls-alert-padding-x: 16px;
  -dls-alert-padding-y: 4px;
  -dls-alert-padding-y-multiline: 8px;
  -dls-alert-padding-y-titled: 16px;
  -dls-alert-content-spacing-before: 8px;
  -dls-alert-content-spacing-after: 16px;
  -dls-alert-title-font-size-s: 12px;
  -dls-alert-title-font-size-m: 14px;
  -dls-alert-title-font-weight: 500;
  -dls-alert-title-line-height: 1.4;
  -dls-alert-title-spacing-after: 4px;
  -dls-alert-font-color: rgba(13, 15, 18, 0.95);
  -dls-alert-title-font-color: rgba(13, 15, 18, 0.95);
  -dls-alert-background-color-info: #ebf2ff;
  -dls-alert-background-color-success: #ebfff3;
  -dls-alert-background-color-warning: #fff3eb;
  -dls-alert-background-color-error: #ffeceb;
  -dls-alert-border-color-info: transparent;
  -dls-alert-border-color-success: transparent;
  -dls-alert-border-color-warning: transparent;
  -dls-alert-border-color-error: transparent;
  -dls-alert-icon-color-info: #0054e6;
  -dls-alert-icon-color-success: #009940;
  -dls-alert-icon-color-warning: #ff9448;
  -dls-alert-icon-color-error: #d9150b;
  -dls-alert-pages-spacing: 4px;
  -dls-alert-pages-font-color: rgba(80, 90, 107, 0.8);
}
