div {
  -dls-color-brand: #3d88f2;
  -dls-color-brand-1: #f2f7ff;
  -dls-color-brand-2: #d9e6ff;
  -dls-color-brand-3: #b3cfff;
  -dls-color-brand-4: #8cb8ff;
  -dls-color-brand-5: #66a3ff;
  -dls-color-brand-6: #3d88f2;
  -dls-color-brand-7: #2970cc;
  -dls-color-brand-8: #1958a6;
  -dls-color-brand-9: #0d4280;
  -dls-color-brand-10: #042d59;
  -dls-color-info: #3d88f2;
  -dls-color-info-1: #f2f7ff;
  -dls-color-info-2: #d9e6ff;
  -dls-color-info-3: #b3cfff;
  -dls-color-info-4: #8cb8ff;
  -dls-color-info-5: #66a3ff;
  -dls-color-info-6: #3d88f2;
  -dls-color-info-7: #2970cc;
  -dls-color-info-8: #1958a6;
  -dls-color-info-9: #0d4280;
  -dls-color-info-10: #042d59;
  -dls-color-success: #39bf45;
  -dls-color-success-1: #f2fff4;
  -dls-color-success-2: #d0f2d5;
  -dls-color-success-3: #a5e6ae;
  -dls-color-success-4: #7ed988;
  -dls-color-success-5: #5acc65;
  -dls-color-success-6: #39bf45;
  -dls-color-success-7: #26992e;
  -dls-color-success-8: #17731c;
  -dls-color-success-9: #0b4d0e;
  -dls-color-success-10: #042604;
  -dls-color-warning: #f27c49;
  -dls-color-warning-1: #fff7f2;
  -dls-color-warning-2: #ffe8db;
  -dls-color-warning-3: #ffd1b8;
  -dls-color-warning-4: #ffb894;
  -dls-color-warning-5: #ff9d70;
  -dls-color-warning-6: #f27c49;
  -dls-color-warning-7: #cc5e33;
  -dls-color-warning-8: #a64521;
  -dls-color-warning-9: #802e13;
  -dls-color-warning-10: #591c09;
  -dls-color-error: #e64552;
  -dls-color-error-1: #fff2f2;
  -dls-color-error-2: #ffdbdc;
  -dls-color-error-3: #ffb8ba;
  -dls-color-error-4: #ff9499;
  -dls-color-error-5: #f26b74;
  -dls-color-error-6: #e64552;
  -dls-color-error-7: #bf303e;
  -dls-color-error-8: #991f2d;
  -dls-color-error-9: #73111e;
  -dls-color-error-10: #4d0812;
  -dls-color-gray-1: #fff;
  -dls-color-gray-2: #fafafa;
  -dls-color-gray-3: #f5f5f5;
  -dls-color-gray-4: #eee;
  -dls-color-gray-5: #e0e0e0;
  -dls-color-gray-6: #ccc;
  -dls-color-gray-7: #999;
  -dls-color-gray-8: #666;
  -dls-color-gray-9: #333;
  -dls-color-gray-10: #000;
  -dls-font-family: "Helvetica Neue", Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
  -dls-font-size-s: 12px;
  -dls-font-size-m: 14px;
  -dls-font-size-l: 16px;
  -dls-font-weight-1: 400;
  -dls-font-weight-2: 500;
  -dls-font-weight-3: 600;
  -dls-line-height-m: 1.5;
  -dls-line-height-l: 2;
  -dls-font-color-strong: #000;
  -dls-font-color-normal: #333;
  -dls-font-color-aux: #666;
  -dls-font-color-weak: #999;
  -dls-font-color-disabled: #ccc;
  -dls-spacing-unit: 4px;
  -dls-padding-unit: 4px;
  -dls-height-unit: 4px;
  -dls-background-color-strong: #fafafa;
  -dls-background-color-strong-hover: #eee;
  -dls-background-color-strong-active: #e0e0e0;
  -dls-background-color-normal: #fff;
  -dls-background-color-normal-hover: #f5f5f5;
  -dls-background-color-normal-active: #eee;
  -dls-background-color-disabled: #fafafa;
  -dls-border-color-strong: #e0e0e0;
  -dls-border-color-normal: #eee;
  -dls-separator-color-strong: #e0e0e0;
  -dls-separator-color-normal: #eee;
  -dls-border-radius-s: 2px;
  -dls-border-radius-m: 3px;
  -dls-border-radius-l: 4px;
  -dls-shadow-color: #000;
  -dls-shadow-opacity: 0.15;
  -dls-shadow-offset-x: 0;
  -dls-shadow-offset-y: 1px;
  -dls-shadow-blur-radius: 4px;
  -dls-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  -dls-shadow-docked-opacity: 0.1;
  -dls-shadow-docked-offset: 4px;
  -dls-shadow-docked-blur-radius: 8px;
  -dls-shadow-docked-top: 0 4px 8px rgba(0, 0, 0, 0.1);
  -dls-shadow-docked-right: -4px 0 8px rgba(0, 0, 0, 0.1);
  -dls-shadow-docked-bottom: 0 -4px 8px rgba(0, 0, 0, 0.1);
  -dls-shadow-docked-left: 4px 0 8px rgba(0, 0, 0, 0.1);
}
