div {
  -v1: dls-sum(1px);
  -v2: dls-sum(1px, 2px);
  -v3: dls-sum(1px, 2px, -3px);
  -v4: dls-sum(1px, 2em);
  -v5: dls-sum(1px, 2em, -1px);
  -v6: dls-sum(1px, calc(1px + 1em));
  -v7: dls-sum(1px, calc(1px + 1em), -1px);
  -v8: dls-sum(1px, calc(1px + 1em), 1px);
  -v9: dls-sum(1px, calc(1px + 1em), calc(1px + 1em));
}
