div {
  -dls-tab-height-s: @dls-tab-height-s;
  -dls-tab-height-m: @dls-tab-height-m;
  -dls-tab-height-l: @dls-tab-height-l;
  -dls-tab-padding-x-s: @dls-tab-padding-x-s;
  -dls-tab-padding-x-m: @dls-tab-padding-x-m;
  -dls-tab-padding-x-l: @dls-tab-padding-x-l;
  -dls-tab-spacing-x-s: @dls-tab-spacing-x-s;
  -dls-tab-spacing-x-m: @dls-tab-spacing-x-m;
  -dls-tab-spacing-x-l: @dls-tab-spacing-x-l;
  -dls-tab-dropdown-spacing-x: @dls-tab-dropdown-spacing-x;
  -dls-tab-dropdown-spacing-y: @dls-tab-dropdown-spacing-y;
  -dls-tab-content-spacing: @dls-tab-content-spacing;
  -dls-tab-nav-spacing-s: @dls-tab-nav-spacing-s;
  -dls-tab-nav-spacing-m: @dls-tab-nav-spacing-m;
  -dls-tab-nav-spacing-l: @dls-tab-nav-spacing-l;
  -dls-tab-add-spacing-s: @dls-tab-add-spacing-s;
  -dls-tab-add-spacing-m: @dls-tab-add-spacing-m;
  -dls-tab-add-spacing-l: @dls-tab-add-spacing-l;
  -dls-tab-font-size-s: @dls-tab-font-size-s;
  -dls-tab-font-size-m: @dls-tab-font-size-m;
  -dls-tab-font-size-l: @dls-tab-font-size-l;
  -dls-tab-font-color: @dls-tab-font-color;
  -dls-tab-font-color-hover: @dls-tab-font-color-hover;
  -dls-tab-font-color-focus: @dls-tab-font-color-focus;
  -dls-tab-font-color-active: @dls-tab-font-color-active;
  -dls-tab-font-color-disabled: @dls-tab-font-color-disabled;
  -dls-tab-font-color-current: @dls-tab-font-color-current;
  -dls-tab-font-color-current-hover: @dls-tab-font-color-current-hover;
  -dls-tab-font-color-current-focus: @dls-tab-font-color-current-focus;
  -dls-tab-font-color-current-active: @dls-tab-font-color-current-active;
  -dls-tab-background-color-focus: @dls-tab-background-color-focus;
  -dls-tab-font-weight-current: @dls-tab-font-weight-current;
  -dls-tab-container-separator-color: @dls-tab-container-separator-color;
  -dls-tab-container-border-width: @dls-tab-container-border-width;
  -dls-tab-panel-padding-top: @dls-tab-panel-padding-top;
  -dls-tab-overflow-shadow-right: @dls-tab-overflow-shadow-right;
  -dls-tab-overflow-shadow-left: @dls-tab-overflow-shadow-left;
  -dls-tab-indicator-color: @dls-tab-indicator-color;
  -dls-tab-indicator-width: @dls-tab-indicator-width;
  -dls-tab-icon-size: @dls-tab-icon-size;
  -dls-tab-icon-size-aux: @dls-tab-icon-size-aux;
  -dls-tab-separator-height-simple: @dls-tab-separator-height-simple;
  -dls-tab-separator-color: @dls-tab-separator-color;
  -dls-tab-menu-height-strong-m: @dls-tab-menu-height-strong-m;
  -dls-tab-padding-x-strong-m: @dls-tab-padding-x-strong-m;
  -dls-tab-spacing-x-strong-m: @dls-tab-spacing-x-strong-m;
  -dls-tab-menu-padding-x-strong-m: @dls-tab-menu-padding-x-strong-m;
  -dls-tab-border-radius-strong-m: @dls-tab-border-radius-strong-m;
  -dls-tab-container-border-radius-strong-m: @dls-tab-container-border-radius-strong-m;
  -dls-tab-container-border-color-strong: @dls-tab-container-border-color-strong;
  -dls-tab-menu-background-color-strong: @dls-tab-menu-background-color-strong;
  -dls-tab-background-color-strong: @dls-tab-background-color-strong;
  -dls-tab-background-color-strong-hover: @dls-tab-background-color-strong-hover;
  -dls-tab-background-color-strong-focus: @dls-tab-background-color-strong-focus;
  -dls-tab-background-color-strong-active: @dls-tab-background-color-strong-active;
  -dls-tab-background-color-strong-disabled: @dls-tab-background-color-strong-disabled;
  -dls-tab-background-color-strong-current: @dls-tab-background-color-strong-current;
  -dls-tab-background-color-strong-current-hover: @dls-tab-background-color-strong-current-hover;
  -dls-tab-background-color-strong-current-focus: @dls-tab-background-color-strong-current-focus;
  -dls-tab-background-color-strong-current-active: @dls-tab-background-color-strong-current-active;
  -dls-tab-font-color-strong: @dls-tab-font-color-strong;
  -dls-tab-font-color-strong-hover: @dls-tab-font-color-strong-hover;
  -dls-tab-font-color-strong-focus: @dls-tab-font-color-strong-focus;
  -dls-tab-font-color-strong-active: @dls-tab-font-color-strong-active;
  -dls-tab-font-color-strong-disabled: @dls-tab-font-color-strong-disabled;
  -dls-tab-font-color-strong-current: @dls-tab-font-color-strong-current;
  -dls-tab-font-color-strong-current-hover: @dls-tab-font-color-strong-current-hover;
  -dls-tab-font-color-strong-current-focus: @dls-tab-font-color-strong-current-focus;
  -dls-tab-font-color-strong-current-active: @dls-tab-font-color-strong-current-active;
}
