div {
  -dls-tab-height-s: 40px;
  -dls-tab-height-m: 44px;
  -dls-tab-height-l: 48px;
  -dls-tab-max-width-normal-s: calc(10em + 12px);
  -dls-tab-max-width-normal-m: calc(10em + 12px);
  -dls-tab-max-width-normal-l: calc(10em + 12px);
  -dls-tab-max-width-simple-s: calc(10em + 12px);
  -dls-tab-max-width-simple-m: calc(10em + 12px);
  -dls-tab-max-width-simple-l: calc(10em + 12px);
  -dls-tab-max-width-strong-m: calc(10em + 60px);
  -dls-tab-min-width-normal-s: 2em;
  -dls-tab-min-width-normal-l: 2em;
  -dls-tab-min-width-simple-s: 2em;
  -dls-tab-min-width-simple-m: 2em;
  -dls-tab-min-width-simple-l: 2em;
  -dls-tab-min-width-normal-m: 2em;
  -dls-tab-padding-normal-s: 0;
  -dls-tab-padding-normal-m: 0;
  -dls-tab-padding-normal-l: 0;
  -dls-tab-padding-simple-s: 0;
  -dls-tab-padding-simple-m: 0;
  -dls-tab-padding-simple-l: 0;
  -dls-tab-padding-strong-m: 24px;
  -dls-tab-spacing-normal-s: 24px;
  -dls-tab-spacing-normal-m: 32px;
  -dls-tab-spacing-normal-l: 48px;
  -dls-tab-spacing-simple-s: 32px;
  -dls-tab-spacing-simple-m: 40px;
  -dls-tab-spacing-simple-l: 48px;
  -dls-tab-spacing-strong-m: 0;
  -dls-tab-menu-padding-normal: var(--dls-tab-menu-spacing-around);
  -dls-tab-content-spacing: 4px;
  -dls-tab-remove-spacing: 2px;
  -dls-tab-nav-spacing-normal-s: 12px;
  -dls-tab-nav-spacing-normal-m: 16px;
  -dls-tab-nav-spacing-normal-l: 24px;
  -dls-tab-nav-spacing-simple-s: 16px;
  -dls-tab-nav-spacing-simple-m: 20px;
  -dls-tab-nav-spacing-simple-l: 24px;
  -dls-tab-nav-spacing-strong-m: 12px;
  -dls-tab-font-size-s: 12px;
  -dls-tab-font-size-m: 14px;
  -dls-tab-font-size-l: 16px;
  -dls-tab-font-color: rgba(13, 15, 18, 0.95);
  -dls-tab-font-color-hover: rgba(46, 52, 64, 0.9);
  -dls-tab-font-color-focus: rgba(46, 52, 64, 0.9);
  -dls-tab-font-color-active: #000;
  -dls-tab-font-color-disabled: rgba(83, 101, 138, 0.5);
  -dls-tab-font-color-current: #0054e6;
  -dls-tab-font-color-current-hover: #1a6eff;
  -dls-tab-font-color-current-focus: #1a6eff;
  -dls-tab-font-color-current-active: #0047c4;
  -dls-tab-background-color-focus: #dce9ff;
  -dls-tab-font-weight-current: 400;
  -dls-tab-container-separator-color: #d3d9e6;
  -dls-tab-container-border-width: 1px;
  -dls-tab-panel-padding-top: 16px;
  -dls-tab-overflow-shadow-right: 0 6px 28px 2px rgba(0, 0, 0, 0.04), 0 4px 26px 2px rgba(0, 0, 0, 0.03), 0 2px 24px 1px rgba(0, 0, 0, 0.02);
  -dls-tab-overflow-shadow-left: 0 6px 28px 2px rgba(0, 0, 0, 0.04), 0 4px 26px 2px rgba(0, 0, 0, 0.03), 0 2px 24px 1px rgba(0, 0, 0, 0.02);
  -dls-tab-indicator-color: #0054e6;
  -dls-tab-indicator-width: 2px;
  -dls-tab-icon-size: calc(1em + 2px);
  -dls-tab-icon-size-aux: calc(1em - 2px);
  -dls-tab-separator-height-simple: 1em;
  -dls-tab-separator-color: #d3d9e6;
  -dls-tab-menu-height-strong-m: 48px;
  -dls-tab-nav-spacing-extra-strong-m: 24px;
  -dls-tab-menu-padding-strong-m: 16px;
  -dls-tab-border-radius-strong-m: 10px;
  -dls-tab-container-border-radius-strong-m: 6px;
  -dls-tab-container-border-color-strong: #ebedf5;
  -dls-tab-menu-background-color-strong: #ebedf5;
  -dls-tab-background-color-strong: transparent;
  -dls-tab-background-color-strong-hover: #f6f7fa;
  -dls-tab-background-color-strong-focus: #dce9ff;
  -dls-tab-background-color-strong-active: #e2e6f0;
  -dls-tab-background-color-strong-disabled: transparent;
  -dls-tab-background-color-strong-current: #fff;
  -dls-tab-background-color-strong-current-hover: #fff;
  -dls-tab-background-color-strong-current-focus: #fff;
  -dls-tab-background-color-strong-current-active: #fff;
  -dls-tab-font-color-strong: rgba(13, 15, 18, 0.95);
  -dls-tab-font-color-strong-hover: rgba(46, 52, 64, 0.9);
  -dls-tab-font-color-strong-focus: rgba(46, 52, 64, 0.9);
  -dls-tab-font-color-strong-active: #000;
  -dls-tab-font-color-strong-disabled: rgba(83, 101, 138, 0.5);
  -dls-tab-font-color-strong-current: #0054e6;
  -dls-tab-font-color-strong-current-hover: #1a6eff;
  -dls-tab-font-color-strong-current-focus: #1a6eff;
  -dls-tab-font-color-strong-current-active: #0047c4;
}
