div {
  -dls-tab-height-s: 40px;
  -dls-tab-height-m: 44px;
  -dls-tab-height-l: 48px;
  -dls-tab-max-width-normal-s: calc(10em + 12px);
  -dls-tab-max-width-normal-m: calc(10em + 12px);
  -dls-tab-max-width-normal-l: calc(10em + 12px);
  -dls-tab-max-width-simple-s: calc(10em + 12px);
  -dls-tab-max-width-simple-m: calc(10em + 12px);
  -dls-tab-max-width-simple-l: calc(10em + 12px);
  -dls-tab-max-width-strong-m: calc(10em + 60px);
  -dls-tab-min-width-normal-s: 2em;
  -dls-tab-min-width-normal-l: 2em;
  -dls-tab-min-width-simple-s: 2em;
  -dls-tab-min-width-simple-m: 2em;
  -dls-tab-min-width-simple-l: 2em;
  -dls-tab-min-width-normal-m: 2em;
  -dls-tab-padding-normal-s: 0;
  -dls-tab-padding-normal-m: 0;
  -dls-tab-padding-normal-l: 0;
  -dls-tab-padding-simple-s: 0;
  -dls-tab-padding-simple-m: 0;
  -dls-tab-padding-simple-l: 0;
  -dls-tab-padding-strong-m: 24px;
  -dls-tab-spacing-normal-s: 24px;
  -dls-tab-spacing-normal-m: 32px;
  -dls-tab-spacing-normal-l: 48px;
  -dls-tab-spacing-simple-s: 32px;
  -dls-tab-spacing-simple-m: 40px;
  -dls-tab-spacing-simple-l: 48px;
  -dls-tab-spacing-strong-m: 0;
  -dls-tab-menu-padding-normal: var(--dls-tab-menu-spacing-around);
  -dls-tab-content-spacing: 4px;
  -dls-tab-remove-spacing: 2px;
  -dls-tab-nav-spacing-normal-s: 12px;
  -dls-tab-nav-spacing-normal-m: 16px;
  -dls-tab-nav-spacing-normal-l: 24px;
  -dls-tab-nav-spacing-simple-s: 16px;
  -dls-tab-nav-spacing-simple-m: 20px;
  -dls-tab-nav-spacing-simple-l: 24px;
  -dls-tab-nav-spacing-strong-m: 12px;
  -dls-tab-font-size-s: 12px;
  -dls-tab-font-size-m: 14px;
  -dls-tab-font-size-l: 16px;
  -dls-tab-font-color: #282c33;
  -dls-tab-font-color-hover: #545b66;
  -dls-tab-font-color-focus: #545b66;
  -dls-tab-font-color-active: #000;
  -dls-tab-font-color-disabled: #a8b0bf;
  -dls-tab-font-color-current: #0052cc;
  -dls-tab-font-color-current-hover: #0066ff;
  -dls-tab-font-color-current-focus: #0066ff;
  -dls-tab-font-color-current-active: #0046ad;
  -dls-tab-background-color-focus: #dae9ff;
  -dls-tab-font-weight-current: 400;
  -dls-tab-container-separator-color: #d3d9e6;
  -dls-tab-container-border-width: 1px;
  -dls-tab-panel-padding-top: 16px;
  -dls-tab-overflow-shadow-right: 0 4px 6px rgba(0, 0, 0, 0.06), 0 1px 10px rgba(0, 0, 0, 0.05), 0 2px 4px -1px rgba(0, 0, 0, 0.01);
  -dls-tab-overflow-shadow-left: 0 4px 6px rgba(0, 0, 0, 0.06), 0 1px 10px rgba(0, 0, 0, 0.05), 0 2px 4px -1px rgba(0, 0, 0, 0.01);
  -dls-tab-indicator-color: #0052cc;
  -dls-tab-indicator-width: 2px;
  -dls-tab-icon-size: calc(1em + 2px);
  -dls-tab-icon-size-aux: calc(1em - 2px);
  -dls-tab-separator-height-simple: 1em;
  -dls-tab-separator-color: #d3d9e6;
  -dls-tab-menu-height-strong-m: 48px;
  -dls-tab-nav-spacing-extra-strong-m: 24px;
  -dls-tab-menu-padding-strong-m: 16px;
  -dls-tab-border-radius-strong-m: 10px;
  -dls-tab-container-border-radius-strong-m: 6px;
  -dls-tab-container-border-color-strong: #ebedf5;
  -dls-tab-menu-background-color-strong: #ebedf5;
  -dls-tab-background-color-strong: transparent;
  -dls-tab-background-color-strong-hover: #f6f7fa;
  -dls-tab-background-color-strong-focus: #dae9ff;
  -dls-tab-background-color-strong-active: #e2e6f0;
  -dls-tab-background-color-strong-disabled: transparent;
  -dls-tab-background-color-strong-current: #fff;
  -dls-tab-background-color-strong-current-hover: #fff;
  -dls-tab-background-color-strong-current-focus: #fff;
  -dls-tab-background-color-strong-current-active: #fff;
  -dls-tab-font-color-strong: #282c33;
  -dls-tab-font-color-strong-hover: #545b66;
  -dls-tab-font-color-strong-focus: #545b66;
  -dls-tab-font-color-strong-active: #000;
  -dls-tab-font-color-strong-disabled: #a8b0bf;
  -dls-tab-font-color-strong-current: #0052cc;
  -dls-tab-font-color-strong-current-hover: #0066ff;
  -dls-tab-font-color-strong-current-focus: #0066ff;
  -dls-tab-font-color-strong-current-active: #0046ad;
}
