div {
  -dls-tab-height-s: 40px;
  -dls-tab-height-m: 44px;
  -dls-tab-height-l: 48px;
  -dls-tab-padding-x-s: 16px;
  -dls-tab-padding-x-m: 16px;
  -dls-tab-padding-x-l: 16px;
  -dls-tab-spacing-x-s: 20px;
  -dls-tab-spacing-x-m: 24px;
  -dls-tab-spacing-x-l: 28px;
  -dls-tab-dropdown-spacing-x: 8px;
  -dls-tab-dropdown-spacing-y: 8px;
  -dls-tab-content-spacing: 4px;
  -dls-tab-nav-spacing-s: 8px;
  -dls-tab-nav-spacing-m: 12px;
  -dls-tab-nav-spacing-l: 16px;
  -dls-tab-add-spacing-s: 8px;
  -dls-tab-add-spacing-m: 12px;
  -dls-tab-add-spacing-l: 16px;
  -dls-tab-font-size-s: 12px;
  -dls-tab-font-size-m: 14px;
  -dls-tab-font-size-l: 16px;
  -dls-tab-font-color: #282c33;
  -dls-tab-font-color-hover: #545b66;
  -dls-tab-font-color-focus: #545b66;
  -dls-tab-font-color-active: #000;
  -dls-tab-font-color-disabled: #a8b0bf;
  -dls-tab-font-color-current: #0052cc;
  -dls-tab-font-color-current-hover: #0066ff;
  -dls-tab-font-color-current-focus: #0066ff;
  -dls-tab-font-color-current-active: #0046ad;
  -dls-tab-background-color-focus: #e1edff;
  -dls-tab-font-weight-current: 400;
  -dls-tab-container-separator-color: #d3d9e6;
  -dls-tab-container-border-width: 1px;
  -dls-tab-panel-padding-top: 16px;
  -dls-tab-overflow-shadow-right: 0 4px 6px rgba(0, 0, 0, 0.06), 0 1px 10px rgba(0, 0, 0, 0.05), 0 2px 4px -1px rgba(0, 0, 0, 0.01);
  -dls-tab-overflow-shadow-left: 0 4px 6px rgba(0, 0, 0, 0.06), 0 1px 10px rgba(0, 0, 0, 0.05), 0 2px 4px -1px rgba(0, 0, 0, 0.01);
  -dls-tab-indicator-color: #0052cc;
  -dls-tab-indicator-width: 2px;
  -dls-tab-icon-size: calc(1em + 2px);
  -dls-tab-icon-size-aux: calc(1em + 2px);
  -dls-tab-separator-height-simple: 1em;
  -dls-tab-separator-color: #d3d9e6;
  -dls-tab-menu-height-strong-m: 48px;
  -dls-tab-padding-x-strong-m: 24px;
  -dls-tab-spacing-x-strong-m: 0;
  -dls-tab-menu-padding-x-strong-m: 16px;
  -dls-tab-border-radius-strong-m: 10px;
  -dls-tab-container-border-radius-strong-m: 6px;
  -dls-tab-container-border-color-strong: #ebedf5;
  -dls-tab-menu-background-color-strong: #ebedf5;
  -dls-tab-background-color-strong: transparent;
  -dls-tab-background-color-strong-hover: #f6f7fa;
  -dls-tab-background-color-strong-focus: #e1edff;
  -dls-tab-background-color-strong-active: #e2e6f0;
  -dls-tab-background-color-strong-disabled: transparent;
  -dls-tab-background-color-strong-current: #fff;
  -dls-tab-background-color-strong-current-hover: #fff;
  -dls-tab-background-color-strong-current-focus: #fff;
  -dls-tab-background-color-strong-current-active: #fff;
  -dls-tab-font-color-strong: #282c33;
  -dls-tab-font-color-strong-hover: #545b66;
  -dls-tab-font-color-strong-focus: #545b66;
  -dls-tab-font-color-strong-active: #000;
  -dls-tab-font-color-strong-disabled: #a8b0bf;
  -dls-tab-font-color-strong-current: #0052cc;
  -dls-tab-font-color-strong-current-hover: #0066ff;
  -dls-tab-font-color-strong-current-focus: #0066ff;
  -dls-tab-font-color-strong-current-active: #0046ad;
}
