div {
  -dls-tag-input-padding-start: @dls-tag-input-padding-start;
  -dls-tag-input-tag-spacing: @dls-tag-input-tag-spacing;
  -dls-tag-input-tag-height-xs: @dls-tag-input-tag-height-xs;
  -dls-tag-input-tag-height-s: @dls-tag-input-tag-height-s;
  -dls-tag-input-tag-height-m: @dls-tag-input-tag-height-m;
  -dls-tag-input-tag-height-l: @dls-tag-input-tag-height-l;
}
