div {
  -dls-pagination-font-size-xs: 12px;
  -dls-pagination-font-size-s: 12px;
  -dls-pagination-font-size-m: 14px;
  -dls-pagination-page-item-min-width-xs: 24px;
  -dls-pagination-page-item-min-width-s: 28px;
  -dls-pagination-page-item-min-width-m: 32px;
  -dls-pagination-page-item-padding-x: 4px;
  -dls-pagination-page-item-spacing: 4px;
  -dls-pagination-part-spacing: 24px;
  -dls-pagination-content-spacing: 8px;
  -dls-pagination-goto-input-padding-x: 8px;
  -dls-pagination-goto-input-digits: 3;
  -dls-pagination-goto-input-width: calc(3ch + 18px);
  -dls-pagination-page-item-font-color: rgba(13, 15, 18, 0.95);
  -dls-pagination-page-item-font-color-disabled: rgba(83, 101, 138, 0.5);
  -dls-pagination-page-item-background-color: #fff;
  -dls-pagination-page-item-background-color-hover: #f6f7fa;
  -dls-pagination-page-item-background-color-focus: #f6f7fa;
  -dls-pagination-page-item-background-color-active: #e2e6f0;
  -dls-pagination-page-item-background-color-disabled: #fff;
  -dls-pagination-page-item-font-color-current: #0054e6;
  -dls-pagination-page-item-background-color-current: #ebf2ff;
  -dls-pagination-page-item-background-color-current-hover: #dce9ff;
  -dls-pagination-page-item-background-color-current-focus: #dce9ff;
  -dls-pagination-page-item-background-color-current-active: #bfd7ff;
}
