div {
  -dls-pagination-font-size-xs: @dls-pagination-font-size-xs;
  -dls-pagination-font-size-s: @dls-pagination-font-size-s;
  -dls-pagination-font-size-m: @dls-pagination-font-size-m;
  -dls-pagination-page-item-min-width-xs: @dls-pagination-page-item-min-width-xs;
  -dls-pagination-page-item-min-width-s: @dls-pagination-page-item-min-width-s;
  -dls-pagination-page-item-min-width-m: @dls-pagination-page-item-min-width-m;
  -dls-pagination-page-item-padding-x: @dls-pagination-page-item-padding-x;
  -dls-pagination-page-item-spacing: @dls-pagination-page-item-spacing;
  -dls-pagination-page-items-margin-before: @dls-pagination-page-items-margin-before;
  -dls-pagination-page-items-margin-after: @dls-pagination-page-items-margin-after;
  -dls-pagination-spacing-1: @dls-pagination-spacing-1;
  -dls-pagination-spacing-2: @dls-pagination-spacing-2;
  -dls-pagination-goto-input-padding-x: @dls-pagination-goto-input-padding-x;
  -dls-pagination-goto-input-digits: @dls-pagination-goto-input-digits;
  -dls-pagination-goto-input-width: @dls-pagination-goto-input-width;
  -dls-pagination-page-item-font-color: @dls-pagination-page-item-font-color;
  -dls-pagination-page-item-font-color-disabled: @dls-pagination-page-item-font-color-disabled;
  -dls-pagination-page-item-background-color: @dls-pagination-page-item-background-color;
  -dls-pagination-page-item-background-color-hover: @dls-pagination-page-item-background-color-hover;
  -dls-pagination-page-item-background-color-focus: @dls-pagination-page-item-background-color-focus;
  -dls-pagination-page-item-background-color-active: @dls-pagination-page-item-background-color-active;
  -dls-pagination-page-item-background-color-disabled: @dls-pagination-page-item-background-color-disabled;
}
