div {
  -dls-nav-item-font-size: 14px;
  -dls-nav-item-height: 64px;
  -dls-nav-item-padding: 0;
  -dls-nav-item-padding-more: 8px;
  -dls-nav-item-spacing: 32px;
  -dls-nav-item-content-spacing: 4px;
  -dls-nav-item-icon-size-aux: calc(1em + 2px);
  -dls-nav-item-font-color: rgba(13, 15, 18, 0.95);
  -dls-nav-item-font-color-hover: #1a6eff;
  -dls-nav-item-font-color-focus: #1a6eff;
  -dls-nav-item-font-color-active: #0047c4;
  -dls-nav-item-font-color-disabled: rgba(83, 98, 128, 0.5);
  -dls-nav-item-font-color-current: #0054e6;
  -dls-nav-item-font-color-current-hover: #1a6eff;
  -dls-nav-item-font-color-current-focus: #1a6eff;
  -dls-nav-item-font-color-current-active: #0047c4;
  -dls-nav-item-background-color-focus: #dce9ff;
  -dls-nav-item-icon-color-aux: currentColor;
  -dls-nav-item-icon-color-aux-disabled: currentColor;
  -dls-nav-item-icon-color-aux-current: currentColor;
  -dls-nav-indicator-stroke-width: 3px;
  -dls-nav-indicator-border-radius: 14px;
  -dls-nav-indicator-width: 28px;
  -dls-nav-indicator-width-hover: 12px;
  -dls-nav-indicator-width-focus: 12px;
  -dls-nav-indicator-width-active: 36px;
  -dls-nav-indicator-color: #0054e6;
  -dls-nav-indicator-color-hover: #0054e6;
  -dls-nav-indicator-color-focus: #0054e6;
  -dls-nav-indicator-color-active: #0054e6;
  -dls-nav-card-border-radius: 4px;
  -dls-nav-card-background-color: #fff;
  -dls-nav-card-padding: 24px;
  -dls-nav-card-column-spacing: 48px;
  -dls-nav-card-target-spacing: 4px;
  -dls-nav-card-title-font-color: rgba(13, 15, 18, 0.95);
  -dls-nav-card-title-font-size: 14px;
  -dls-nav-card-title-font-weight: 500;
  -dls-nav-card-item-spacing: 16px;
  -dls-nav-card-item-font-size: 14px;
  -dls-nav-card-item-icon-size: calc(1em + 2px);
}
