div {
  -dls-tree-node-height-s: 28px;
  -dls-tree-node-height-m: 32px;
  -dls-tree-font-size-s: 12px;
  -dls-tree-font-size-m: 14px;
  -dls-tree-icon-size: calc(1em + 2px);
  -dls-tree-icon-size-aux: calc(1em + 2px);
  -dls-tree-padding-x: 16px;
  -dls-tree-node-content-spacing: 8px;
  -dls-tree-icon-color-aux: rgba(73, 86, 107, 0.8);
  -dls-tree-icon-color-aux-disabled: rgba(83, 101, 138, 0.5);
  -dls-tree-node-font-color: rgba(13, 15, 18, 0.95);
  -dls-tree-node-font-color-disabled: rgba(83, 101, 138, 0.5);
  -dls-tree-node-font-color-selected: #0054e6;
  -dls-tree-node-font-color-selected-hover: #1a6eff;
  -dls-tree-node-font-color-selected-focus: #1a6eff;
  -dls-tree-node-font-color-selected-active: #0047c4;
  -dls-tree-node-font-color-highlighted: #f27318;
  -dls-tree-node-background-color: #fff;
  -dls-tree-node-background-color-hover: #f6f7fa;
  -dls-tree-node-background-color-focus: #f6f7fa;
  -dls-tree-node-background-color-active: #e2e6f0;
  -dls-tree-node-background-color-selected: #ebf2ff;
  -dls-tree-node-background-color-selected-hover: #dce9ff;
  -dls-tree-node-background-color-selected-focus: #dce9ff;
  -dls-tree-node-background-color-selected-active: #bfd7ff;
  -dls-tree-node-font-weight-selected: 400;
}
