div {
  -dls-embedded-title-font-size-s: 16px;
  -dls-embedded-title-font-size-m: 20px;
  -dls-embedded-close-icon-size: calc(1em + 2px);
  -dls-embedded-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.06), 0 3px 14px 2px rgba(0, 0, 0, 0.05), 0 5px 5px -3px rgba(0, 0, 0, 0.01);
  -dls-embedded-border-color: #e2e6f0;
}
