div {
  -dls-alert-font-size-s: @dls-alert-font-size-s;
  -dls-alert-font-size-m: @dls-alert-font-size-m;
  -dls-alert-border-radius-s: @dls-alert-border-radius-s;
  -dls-alert-border-radius-m: @dls-alert-border-radius-m;
  -dls-alert-line-height: @dls-alert-line-height;
  -dls-alert-icon-size: @dls-alert-icon-size;
  -dls-alert-icon-size-titled: @dls-alert-icon-size-titled;
  -dls-alert-icon-size-aux: @dls-alert-icon-size-aux;
  -dls-alert-padding-x: @dls-alert-padding-x;
  -dls-alert-padding-y: @dls-alert-padding-y;
  -dls-alert-padding-y-multiline: @dls-alert-padding-y-multiline;
  -dls-alert-padding-y-titled: @dls-alert-padding-y-titled;
  -dls-alert-content-spacing-before: @dls-alert-content-spacing-before;
  -dls-alert-content-spacing-after: @dls-alert-content-spacing-after;
  -dls-alert-title-font-size-s: @dls-alert-title-font-size-s;
  -dls-alert-title-font-size-m: @dls-alert-title-font-size-m;
  -dls-alert-title-font-weight: @dls-alert-title-font-weight;
  -dls-alert-title-line-height: @dls-alert-title-line-height;
  -dls-alert-title-spacing-after: @dls-alert-title-spacing-after;
  -dls-alert-font-color: @dls-alert-font-color;
  -dls-alert-title-font-color: @dls-alert-title-font-color;
  -dls-alert-background-color-info: @dls-alert-background-color-info;
  -dls-alert-background-color-success: @dls-alert-background-color-success;
  -dls-alert-background-color-warning: @dls-alert-background-color-warning;
  -dls-alert-background-color-error: @dls-alert-background-color-error;
  -dls-alert-border-color-info: @dls-alert-border-color-info;
  -dls-alert-border-color-success: @dls-alert-border-color-success;
  -dls-alert-border-color-warning: @dls-alert-border-color-warning;
  -dls-alert-border-color-error: @dls-alert-border-color-error;
  -dls-alert-icon-color-info: @dls-alert-icon-color-info;
  -dls-alert-icon-color-success: @dls-alert-icon-color-success;
  -dls-alert-icon-color-warning: @dls-alert-icon-color-warning;
  -dls-alert-icon-color-error: @dls-alert-icon-color-error;
  -dls-alert-pages-spacing: @dls-alert-pages-spacing;
  -dls-alert-pages-font-color: @dls-alert-pages-font-color;
}
