div {
  -dls-steps-title-font-size-s: 12px;
  -dls-steps-title-font-size-m: 14px;
  -dls-steps-desc-font-size-s: 12px;
  -dls-steps-desc-font-size-m: 12px;
  -dls-steps-marker-font-size-s: 14px;
  -dls-steps-marker-font-size-m: 16px;
  -dls-steps-title-font-weight: 500;
  -dls-steps-title-font-color: #333;
  -dls-steps-title-font-color-hover: #666;
  -dls-steps-title-font-color-focus: #666;
  -dls-steps-title-font-color-active: #000;
  -dls-steps-desc-font-color: #666;
  -dls-steps-title-font-color-incomplete: #999;
  -dls-steps-desc-font-color-incomplete: #999;
  -dls-steps-marker-size-s: 28px;
  -dls-steps-marker-size-m: 32px;
  -dls-steps-marker-icon-size: calc(1em - 4px);
  -dls-steps-marker-spacing: 8px;
  -dls-steps-title-spacing: 4px;
  -dls-steps-connector-spacing-horizontal: 12px;
  -dls-steps-connector-spacing-vertical: 8px;
  -dls-steps-marker-background-color-incomplete: #fff;
  -dls-steps-marker-border-color-incomplete: #e0e0e0;
  -dls-steps-marker-foreground-color-incomplete: #999;
  -dls-steps-connector-color-incomplete: #e0e0e0;
  -dls-steps-marker-background-color-completed: #fff;
  -dls-steps-marker-background-color-completed-hover: #f2f7ff;
  -dls-steps-marker-background-color-completed-focus: #f2f7ff;
  -dls-steps-marker-background-color-completed-active: #d9e6ff;
  -dls-steps-marker-border-color-completed: #3d88f2;
  -dls-steps-marker-foreground-color-completed: #3d88f2;
  -dls-steps-marker-shadow-completed-focus: 0 0 0 2px rgba(61, 136, 242, 0.2);
  -dls-steps-connector-color-completed: #3d88f2;
  -dls-steps-marker-background-color-error: #fff;
  -dls-steps-marker-background-color-error-hover: #fff2f2;
  -dls-steps-marker-background-color-error-focus: #fff2f2;
  -dls-steps-marker-background-color-error-active: #ffdbdc;
  -dls-steps-marker-border-color-error: #e64552;
  -dls-steps-marker-foreground-color-error: #e64552;
  -dls-steps-marker-shadow-error-focus: 0 0 0 2px rgba(230, 69, 82, 0.2);
  -dls-steps-connector-color-error: #e64552;
  -dls-steps-marker-background-color-current: #3d88f2;
  -dls-steps-marker-background-color-current-hover: #66a3ff;
  -dls-steps-marker-background-color-current-focus: #66a3ff;
  -dls-steps-marker-background-color-current-active: #2970cc;
  -dls-steps-marker-border-color-current: transparent;
  -dls-steps-marker-border-color-current-focus: #3d88f2;
  -dls-steps-marker-foreground-color-current: #fff;
  -dls-steps-marker-shadow-current-focus: 0 0 0 2px rgba(61, 136, 242, 0.2);
  -dls-steps-connector-color-current: #3d88f2;
  -dls-steps-marker-background-color-error-current: #e64552;
  -dls-steps-marker-background-color-error-current-hover: #f26b74;
  -dls-steps-marker-background-color-error-current-focus: #f26b74;
  -dls-steps-marker-background-color-error-current-active: #bf303e;
  -dls-steps-marker-border-color-error-current: transparent;
  -dls-steps-marker-border-color-error-current-focus: #e64552;
  -dls-steps-marker-foreground-color-error-current: #fff;
  -dls-steps-marker-shadow-error-current-focus: 0 0 0 2px rgba(230, 69, 82, 0.2);
  -dls-steps-connector-color-error-current: #e64552;
}
