div {
  -dls-collapse-header-padding-x: 16px;
  -dls-collapse-header-padding-y: 16px;
  -dls-collapse-header-content-spacing: 8px;
  -dls-collapse-header-font-size-s: 12px;
  -dls-collapse-header-font-size-m: 14px;
  -dls-collapse-header-line-height: 1.4;
  -dls-collapse-body-padding-x: 16px;
  -dls-collapse-body-padding-y: 16px;
  -dls-collapse-body-font-size-s: 12px;
  -dls-collapse-body-font-size-m: 14px;
  -dls-collapse-body-line-height: 1.8;
  -dls-collapse-border-radius-s: 2px;
  -dls-collapse-border-radius-m: 4px;
  -dls-collapse-icon-size-aux: calc(1em + 2px);
  -dls-collapse-border-color: #e2e6f0;
  -dls-collapse-border-color-focus: #e2e6f0;
  -dls-collapse-header-font-color: #282c33;
  -dls-collapse-header-font-color-disabled: #a8b0bf;
  -dls-collapse-header-background-color: #f6f7fa;
  -dls-collapse-header-background-color-hover: #ebedf5;
  -dls-collapse-header-background-color-focus: #e1edff;
  -dls-collapse-header-background-color-active: #e2e6f0;
  -dls-collapse-header-background-color-disabled: #f6f7fa;
  -dls-collapse-body-font-color: #545b66;
  -dls-collapse-body-background-color: #fff;
  -dls-collapse-icon-color-aux: #848b99;
  -dls-collapse-icon-color-aux-disabled: #a8b0bf;
}
