div {
  -dls-collapse-header-padding-x: 16px;
  -dls-collapse-header-padding-y: 16px;
  -dls-collapse-header-content-spacing: 8px;
  -dls-collapse-header-font-size-s: 12px;
  -dls-collapse-header-font-size-m: 14px;
  -dls-collapse-header-line-height: 1.4;
  -dls-collapse-body-padding-x: 16px;
  -dls-collapse-body-padding-y: 16px;
  -dls-collapse-body-font-size-s: 12px;
  -dls-collapse-body-font-size-m: 14px;
  -dls-collapse-body-line-height: 1.6;
  -dls-collapse-border-radius-s: 4px;
  -dls-collapse-border-radius-m: 4px;
  -dls-collapse-icon-size-aux: calc(1em + 2px);
  -dls-collapse-border-color: #e2e6f0;
  -dls-collapse-header-font-color: rgba(13, 15, 18, 0.95);
  -dls-collapse-header-font-color-disabled: rgba(83, 98, 128, 0.5);
  -dls-collapse-header-background-color: #f6f7fa;
  -dls-collapse-header-background-color-hover: #ebedf5;
  -dls-collapse-header-background-color-active: #e2e6f0;
  -dls-collapse-header-background-color-disabled: #f6f7fa;
  -dls-collapse-body-font-color: rgba(45, 52, 64, 0.8);
  -dls-collapse-body-background-color: #fff;
  -dls-collapse-icon-color-aux: rgba(80, 90, 107, 0.8);
  -dls-collapse-icon-color-aux-disabled: rgba(83, 98, 128, 0.5);
  -dls-collapse-header-background-color-simple: transparent;
  -dls-collapse-header-background-color-simple-hover: transparent;
  -dls-collapse-header-background-color-simple-active: transparent;
  -dls-collapse-header-background-color-simple-disabled: transparent;
  -dls-collapse-body-background-color-simple: transparent;
  -dls-collapse-header-background-color-basic: #fff;
  -dls-collapse-header-background-color-basic-hover: #f6f7fa;
  -dls-collapse-header-background-color-basic-active: #e2e6f0;
  -dls-collapse-header-background-color-basic-disabled: #fff;
  -dls-collapse-body-background-color-basic: #fff;
  -dls-collapse-header-background-color-strong: #f6f7fa;
  -dls-collapse-header-background-color-strong-hover: #ebedf5;
  -dls-collapse-header-background-color-strong-active: #e2e6f0;
  -dls-collapse-header-background-color-strong-disabled: #f6f7fa;
  -dls-collapse-body-background-color-strong: #f6f7fa;
  -dls-collapse-header-border-color-focus: #0054e6;
  -dls-collapse-header-shadow-focus: 0 0 0 2px rgba(26, 110, 255, 0.2);
}
