div {
  -dls-anchor-padding-x: @dls-anchor-padding-x;
  -dls-anchor-item-spacing: @dls-anchor-item-spacing;
  -dls-anchor-level-indent: @dls-anchor-level-indent;
  -dls-anchor-track-color: @dls-anchor-track-color;
  -dls-anchor-track-width: @dls-anchor-track-width;
  -dls-anchor-indicator-width: @dls-anchor-indicator-width;
  -dls-anchor-indicator-color: @dls-anchor-indicator-color;
  -dls-anchor-indicator-color-hover: @dls-anchor-indicator-color-hover;
  -dls-anchor-indicator-color-focus: @dls-anchor-indicator-color-focus;
  -dls-anchor-indicator-color-active: @dls-anchor-indicator-color-active;
}
