div {
  -dls-anchor-padding-x: 16px;
  -dls-anchor-item-spacing: 12px;
  -dls-anchor-level-indent: 16px;
  -dls-anchor-track-color: #eee;
  -dls-anchor-track-width: 1px;
  -dls-anchor-indicator-width: 2px;
  -dls-anchor-indicator-color: #3d88f2;
  -dls-anchor-indicator-color-hover: #3d88f2;
  -dls-anchor-indicator-color-focus: #66a3ff;
  -dls-anchor-indicator-color-active: #2970cc;
}
