div {
  -dls-carousel-indicator-width: 4px;
  -dls-carousel-indicator-width-current: 20px;
  -dls-carousel-indicator-height: 4px;
  -dls-carousel-indicator-border-radius: 2px;
  -dls-carousel-indicator-spacing-outer: 12px;
  -dls-carousel-indicator-spacing-inner: 4px;
  -dls-carousel-indicator-background-color: rgba(255, 255, 255, 0.3);
  -dls-carousel-indicator-background-color-hover: rgba(255, 255, 255, 0.8);
  -dls-carousel-indicator-background-color-active: #fff;
  -dls-carousel-indicator-background-color-current: #fff;
  -dls-carousel-control-size: 32px;
  -dls-carousel-control-border-radius: 50%;
  -dls-carousel-control-icon-size: 12px;
  -dls-carousel-control-spacing: 24px;
  -dls-carousel-pages-font-size: 12px;
  -dls-carousel-pages-font-color: #fff;
  -dls-carousel-pages-background-color: rgba(0, 0, 0, 0.2);
  -dls-carousel-pages-padding-x: 4px;
}
